@import "../color";
@import "../font";
@import "../spacing";
@import "../mixin";

#acceuil {

  h2 {
    color: $dark_blue;
  }

  .section-1, .section-3, .section-5, .section-6 {
    h2::before {
      @include title-decoration($orange);
    }
  }


  hr {
    border: 1px solid $orange;
    margin: 0;
  }

  .decoration-1, .decoration-4 {
    position: absolute;
    z-index: 0;
    left: -175px;
    img {
      filter: invert(58%) sepia(70%) saturate(478%) hue-rotate(354deg) brightness(105%) contrast(83%) opacity(35%);
    }
  }
  .decoration-1 {
    transform: translateY(-175px);
  }
  .decoration-4 {
    transform: translateY(-225px);
  }

  .decoration-2,
  .decoration-3 {
    position: absolute;
    img {
      filter: invert(29%) sepia(61%) saturate(433%) hue-rotate(155deg) brightness(89%) contrast(89%) opacity(10%);
    }
  }

  .decoration-2 {
    transform: translateX(-300px) translateY(90px);
  }

  .decoration-3 {
    transform: translateX(-175px) translateY(90px);
  }

  .banner {
    background: #0d778d;
    display: flex;
    justify-content: center;
    picture {
      display:flex;
      max-width: 1612px;
      height: 460px;
    }
    img {
      object-fit: cover;
      vertical-align: middle;
      height: auto;
      width:100%;
      @include media("<desktop") {
        width: 100%;
        height: auto;
      }
    }
  }

  .intro {
    position: relative;
    z-index: 1;
    p {
      color: $secondary;
    }
    a {
      color: $light_blue;
    }

    p:last-child {
      margin-bottom: 0;
    }

    > div {
      margin-bottom: $x_medium;
    }
  }

  .link-video {
    margin: $small 0 $medium 0;
    svg {
      vertical-align: sub;
    }
    a {
      margin-left: 4px;
    }
  }

  .section-1  {
    position: relative;
    z-index: 1;
    h2 {
      margin-top: $x_medium;
    }
    em, details {
      color: $secondary;
    }
    details {
      margin: 0;
    }
  }

  .section-2, .section-4 {
    > div {
      display: flex;
      justify-content: space-between;

      @include media("<desktop") {
        flex-direction: column;
      }

      &, h2 {
        color: $dark_blue;
        margin: $small 0;
      }

      > div:first-child {
        padding: $small $large;
        > p {
          margin-bottom: $medium;
        }
      }
    }
  }

  .section-2 {
    background: $turquoise;
    @include media("<desktop") {
      height: unset;
    }
    > div {
      > div {
        flex: 1 1 1px;
        padding: $small $large;
      }
      > div:first-child {
        @include media("<desktop") {
          order: 2;
          padding: $x_small;

          > p:last-child {
           text-align: center;
          }
        }
      }
      > div:last-child {
        background: #0E4C61;
        height: 383px;
        padding: 0 $large;

        position: relative;
        z-index: 2;

        @include media("<desktop") {
          height: unset;
          order: 1;
          padding: $x_small 0;
        }

        .center {
          line-height: 383px;
          @include media("<desktop") {
            line-height: unset;
            text-align: center;
          }
          img {
            vertical-align: middle;
          }
        }

        .over {
          position: absolute;
          right: 20px;
          transform: translateY(-50px);
          @include media("<desktop") {
            display: none;
            right: -80px;
            transform: translateY(-50px);
          }
        }
      }
    }

    .button-blue {
      display: block;
      width: max-content;
    }
  }

  .section-3 {
    color: black;

    hr {
      color: $orange;
      margin: $large 0 $medium 0;
    }

    h3 {
      font-size: $title-font-size;
      font-style: normal;
      line-height: 1.75rem;
      font-weight: bold;
      color: $dark_blue;

      position: relative;
      z-index: 1;
    }

    figure {
      margin: $small auto 0 auto;
      background: $grey;
      flex-direction: column;
      width: 765px;

      @include media("<desktop") {
        width: unset;
        video {
          width: 100%;
          margin: 0;
        }
      }

      figcaption {
        color: $dark_blue;
        margin: $x_small;
        padding: 0;

        details {
          margin-top: -1.425rem;
        }

        details summary {
          margin-right: 3.5rem;
        }
        details div {
          margin-right: 3rem;
          color: $dark_blue;
          @include media("<desktop") {
            margin-right: 0;
          }
        }

        p {
          @extend %main-text-small;
        }
        > p {
          margin-top: $x-small;
        }
      }
    }


      details summary {
        color: $light_blue;
        text-align: right;
        margin-right: $small;
      }

      details {
        width: 765px;
        @include media("<desktop") {
          width: 100%;
        }
      }
  }

  .section-4 {

    background: $orange;

    .button-white {
      @extend %main-text-bold;
      border-color: #fff;
      display: block;
      width: max-content;
    }

    > div {
      @include media("<desktop") {
        > div:first-child {
          padding: $x_small;
          > p:last-child {
            text-align: center;
          }
        }
      }
      > div:last-child {
        background: #cfcdce;
        display: flex;
        > img {
          position: relative;
          align-self: flex-end;
          z-index: 2;
        }
        @include media("<desktop") {
          display: none;
        }
      }
    }
  }

  .section-5 {

    .card-upper-image .card-body {
      margin: 0 2rem 0 0;
      h3, .sub-title, blockquote {
        margin-left: 170px;
      }
      @include media("<desktop") {
        margin: 0 $small;
        h3, .sub-title {
          margin-left: 100px;
        }
        blockquote {
          margin-left: 0;
        }
      }
    }

    .interviews {
      background: $turquoise;
      margin: $medium $large;
      padding: 0 $small;
      border-radius: 0 60px;

      @include media("<desktop") {
        margin: $medium 0;
        border-radius: 0;
      }

      > div:first-child {
        display: flex;

        > div:first-child {
          margin-left: $small;
          margin-right: $small;
        }
        > div:last-child {
          margin-left: $small;
        }

        @include media("<desktop") {
          flex-direction: column;
          > div:first-child, > div:last-child {
            margin: $medium 0;
          }
        }
      }
      > div:last-child {
        display: flex;
        justify-content: center;
        padding-bottom: $medium;
      }
    }
    .footer a:hover {
      text-decoration: underline;
    }
  }

  .section-6 div {

    .ressources {
      display: flex;
      list-style: none;
      margin: 0 0 $medium 0;
      padding: 0;

      @include media("<desktop") {
        flex-direction: column;
      }


      .ressource {
        flex: 1 1 1px;
        box-shadow: 0 2px 10px rgba(26, 58, 80, 0.25);
        position: relative;
        margin: 0;
        padding: 0;

        a {
          display: flex;
          text-decoration: none;
        }
        &:hover {
          background: $grey;
        }

        &:first-child {
          margin-right: $small / 2;
        }
        &:last-child {
          margin-left: $small / 2;
        }

        @include media("<desktop") {
          &:first-child {
            margin-right: 0;
          }
          &:last-child {
            margin: $small 0;
          }
        }
      }
    }
    .resource-image {
      margin: auto $xx_small auto $xx_small;
    }

    .resource-text {
      margin: $x_small $x_small $x_small 0;
      color: $secondary;

      p {
        @extend %main-text-small;
      }

      .title {
        font-size: $tertiary-font-size;
        color: $dark_blue;
        font-weight: bold;
        margin-bottom: $xx_small;
      }
    }
    .arrow {
      font-size: 28px;
      line-height: 28px;
      color: $dark_blue;
      position: absolute;
      bottom: 0;
      right: 0;
      margin: $xx_small;
    }
    .button-area {
      display: flex;
      justify-content: center;
      margin-bottom: $large;

      .button-white {
        &:hover {
          background: $secondary;
          color: #fff;
        }
      }
    }
  }
}
