@import "../mixin";
@import "../color";

#aller_plus_loin {

  .section-1 {
    padding: $small 0 0 0;

    h1 {
      margin-top: 0;

      &:before {
        @include title-decoration($orange);
      }
    }
    p {
      margin-bottom: $small;
    }
    .navigation {
      background: $grey;
      padding-top: $small;
    }

    .navigation-list {
      list-style: none;
      columns: 2;
      padding: 0;
      margin: 0;
      @include media("<desktop") {
        columns: 1;
      }
    }

    .navigation-item {
      background: #fff;
      box-shadow: 0 2px 10px rgba(26, 58, 80, 0.25);
      border-radius: 15px;
      margin: 0 $small $small 0;
      padding: $x_small $small;

      @include media("<desktop") {
        margin: $x_small 0;
      }

      a {
        display: flex;
        font-size: $tertiary-font-size;
        color: $dark_blue;
        font-weight: bold;
        text-decoration: none;
        span:first-child {
          flex-grow: 1;
        };
        padding: $x_small;
        margin: (-$x_small);
      }
      &:hover {
        background: $secondary;
        a {
          color: #fff;
        }
      }
    }
    .arrow {
      font-size: 28px;
      font-weight: bold;
    }
  }

  .section-2 {
    background: $secondary;
    padding-bottom: $xx_medium;
    h2 {
      color: #fff;
      margin-bottom: 0;
    }

    .card-right-image h3 {
      color: $dark_blue;
    }
    .card-right-image {
      border-radius: 0 $x_medium 0 $x_medium;
    }
    .card-right-image_image {
      background: $secondary;
    }
    .card-right-image_image img {
      border-radius: 0 $x_medium 0 0;
    }

    .card-right-image_image_button {
      width: 366px;
      position: absolute;
      bottom: $x_small;
      right: -48px; // to center (366 - 270) / 2
      box-sizing: border-box;
      a {
        display: block;
        width: 270px;
        margin: 0;
        padding: 0;
        text-align: center;
      }
    }

    .card-right-image_content p {
      @extend %secondary-text;
    }

    .card-right-image_list {
      margin-bottom: $xxx_small;
    }

    .card-right-image_content ul {
      margin-left: $x_small;
      color: $light_blue;
    }
    .card-right-image_content a {
      @extend %secondary-text;
      color: $light_blue;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    @include media("<desktop") {
      .card-right-image_content {
        margin-bottom: 2.1rem;
      }
    }
  }

  .section-3 {
    background: $turquoise;
    display: flex;
    padding: $xx_medium 0;

    .ressource:first-child {
      margin-right: $small / 2;
    }
    .ressource:last-child {
      margin-left: $small / 2;
    }

    @include media("<desktop") {
      flex-direction: column;
      padding: $medium $x_small;
      .ressource:first-child {
        margin-bottom: $x_small;
        margin-right: 0;
      }
      .ressource:last-child {
        margin: 0;
      }
    }

    .ressource {
      background: #fff;
      padding: $small;
      margin: 0 auto;
      box-shadow: 0 2px 10px rgba(26, 58, 80, 0.25);
      max-width: 500px;
      box-sizing: border-box;
      @include media("<desktop") {
        max-width: unset;
      }
    }
    .ressource_image {
      display: flex;
      justify-content: center;
      max-width: 500px;
      @include media("<desktop") {
        object-fit: scale-down;
        img {
          width: 100%;
          height: unset;
        }
      }
    }
    .ressource_title {
      color: $secondary;
      margin-bottom: $small;
      font-size: $title-font-size;
      font-weight: 700;
    }
    .ressource_content {
      color: $dark_blue;
      margin: $small 0;
    }
    .ressource_buttons {
      display: flex;
      flex-direction: column;
      a {
        font-weight: normal;
        font-size: $tertiary-font-size;
        text-align: center;
        padding: 7px 0;
      }
      a:first-child {
        margin-bottom: $xx_small;
      }
    }
  }

  .section-4 {
    background: $secondary;
    h2,
    h3,
    p,
    h4 {
      color: #fff;
    }
  }

  .section-4 {
    @include media("<desktop") {
      padding-bottom: $small;
    }
  }

  .section-4_video {
    max-width: 550px;
    margin: 0 auto;
    @include media("<desktop") {
      video {
        width: 100%;
        height: unset;
      }
      div img {
        width: 100%;
        height: unset;
        object-fit: scale-down;
      }
    }
    h4 {
      font-size: $tertiary-font-size;
      font-weight: bold;
      margin-bottom: $xx_small;
    }

    figcaption {
      background: $grey;
    }

    p, details {
      color: $dark_blue;
    }
    details {
      margin-top: -1.425rem;
      margin-bottom: $x-small;
      summary {
        text-align: right;
        color: $light_blue;
        margin-right: $xxx_small;
      }

      p {
        text-align: left;
      }
    }
    .link {
      text-align: right;
      margin-top: -1.425rem;
    }
  }

  .section-4_video + .section-4_video {
    margin-top: $small;
  }

  .button-transparent  {
    width: fit-content;
    margin: $small auto;

    color: $white;
    border: 2px solid $white;
    border-radius: 1px;

    font-size: $tertiary-font-size;
    padding: 7px 40px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      box-shadow: 0 3px 10px rgba(26, 58, 80, 0.5);
      background: $white;
      color: $dark_grey;
    }
  }

  .button-white {
    &:hover {
      background: $secondary;
      color: #fff;
    }
    &:hover svg {
      fill: #fff;
    }
  }

  .section-5 {
    background: $dark_blue;
     h2,
     h3 {
      color: #fff;
    }

    .playlists {
      display: flex;
      margin: 0 (-$medium - $small) $medium (-$medium - $small);
      padding: 0 ($medium + $small);
      background: $turquoise;
      border-radius: 0 60px;

      > div:first-child {
        margin-right: $small;
      }
      > div:last-child {
        margin-left: $small;
      }

      .card {
        flex: 1 1 1px;
        margin: $x_medium 0;
        background: #fff;
        position: relative;

        .card-title {
          margin-bottom: $x_small
        }

        > p {
          @extend %tertiary-text;
          margin-bottom: $medium;

        }

        .link {
          position: absolute;
          bottom: $x_small;
          right: $x_small;

          a {
            @extend %tertiary-text;
          }
        }
      }

      @include media("<desktop") {
        flex-direction: column;
        margin: 0;
        padding: 0;
        .card {
          margin: $small $x_small;
        }
        .card:first-child {
          margin-bottom: 0;
        }
      }
    }

    .player {
      margin-top: $x-small;
      width: max-content;
      @include media("<desktop") {
        width: 100%;
      }
    }

    .button-area {
      display: flex;
      justify-content: center;
      margin-bottom: $medium;
    }
  }
  .section-6 {
    padding: $medium 0;

    h2 {
      margin-top: 0;
    }

    > div {
      background: $turquoise;
      margin: $medium -$medium;
      padding: $medium;
    }

    @include media("<desktop") {
      margin: 0;
      background: $turquoise;
      > div {
        margin: 0;
        padding: 0;
        border-radius: 0;
      }
    }
    .card-right-image {
      border-radius: 0 $x_medium 0 $x_medium;
    }

    .card-right-image_title {
      margin-bottom: $xx_small;
      p {
        font-size: $tertiary-font-size;
        margin-bottom: $xx_small;
      }
      h3 {
        font-size: $main-font-size;
      }
    }

    .card-right-image_image img {
      border-radius: 0 $x_medium 0 0;
    }

    .card-right-image_content p {
      font-size: $secondary-font-size;
    }

    .card-right-image_button a {
      font-size: $secondary-font-size;
      color: $light_blue;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        text-decoration:  underline;
      }
    }
  }
}
