@import "../spacing";
@import "../font";
@import "../color";

#ecoconception section {
  margin-bottom: $large;

  blockquote {
    margin: $medium 0;
  }
  blockquote p {
    @extend %secondary-text;
    font-style: italic;
  }

  h4 {
    color: $secondary;
    font-style: normal;
    font-weight: bold;
    font-size: 1.45rem;
    line-height: 1.8rem;
    margin: $x-small 0;
  }
}
