@import "../mixin";

#profile {
  .title {
    background: $grey;
    h1{
      &:before {
        @include title-decoration($tertiary);
      }
    }
  }
  .section-1 {
    margin-top: 0;
    background: $dark_blue;
    padding: $small 0;
    h2, p, & {
      color: $white;
    }

    h2 {
      margin: 0;
    }

    .name {
      display: flex;
      justify-content: center;
      align-items: center;

      $gap: $small;
      margin: $x_medium 0 $gap + $small 0;

      > div {
        position:absolute;
        text-align: center;
        z-index: 2;
      }

      svg {
        position: relative;
        top: $gap;
        z-index: 1;
        @include media("<desktop") {
          flex-direction: column;
          top: 4* $gap;
        }
      }
    }
    .profile-name {
      position: relative;
      z-index: 3;

      font-style: italic;
      font-weight: bold;
      font-size: 36px;
      line-height: 40px;
      color: $dark_blue;
    }

    .description {
      text-align: center;
      font-weight: bold;
      margin-bottom: $medium;
    }

    hr {
      width: 150px;
      border: 1px solid $orange;
      margin: 0 auto;
    }

    .share-area {
      margin-top: $x_medium;
      margin-bottom: $large;

      text-align: center;

      > div {
        display: flex;
        justify-content: center;
        margin-top: $x_small;

        span {
          background: $secondary;
          color: $white;
          line-height: 24px;
          padding: $xx_small $xx_small;
          box-sizing: border-box;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        button {
          text-align: center;
          border: none;
          background: $white;
          padding: $xx_small $x_small;
          margin: 0;
          color: $secondary;

          box-sizing: border-box;
          white-space: nowrap;

          font-size: 16px;
          line-height: 24px;

          @include media("<desktop") {
            flex-grow: 3;
          }

          &:hover {
            background: $orange;
            border-color: $orange;
          }

          &:disabled {
            background: #EEEEEE;
            border-color: #EEEEEE;
            color: #CECECE;
          }
          &:enabled {
            cursor: pointer;
          }
          &:focus {
            border-color: $light_blue;
          }
        }
      }
    }

    .card_more {
      display: flex;
      flex-direction: row-reverse;

      background: #fff;
      margin-top: $small;
      margin-bottom: $x_medium;
      margin-right: $large;

      @include media("<desktop") {
        flex-direction: column;
        margin-right: 0;
        justify-content: right;
      }

      box-shadow: 0 2px 10px rgba(26, 58, 80, 0.25);
      border-radius: 0 $x_medium;

      img {
        border-top-right-radius: $x_medium;
        text-align: right;
        vertical-align: middle;
        object-fit: cover;
        @include media("<desktop") {
          width: 100%;
          object-position: top;
        }
      }
      > div:first-child {
        display: flex;
        justify-content: right;
      }

      .card_more-body {
        margin: $small;
        span {
          @extend %secondary-text;
          text-transform: uppercase;
        }
        &, h3, p {
          color: $black;
        }
        h3 {
          margin-top: 0;
          margin-bottom: $x_small;
        }
        p {
          font-size: $tertiary-font-size;
        }
        p:last-child {
          text-align: right;
          margin-bottom: 0;
          a {
            color: $light_blue;
            text-decoration: none;
            font-weight: bold;
            &:hover {
             text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .section-2 {
    background: $turquoise;
    padding: $x_medium 0;
    margin-bottom: $small;

    h2 {
      margin: 0;
    }

    h3 {
      font-size: $title-font-size;
      margin-top: 0;
      margin-bottom: 9px;
    }

    .profiles {
      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: $x_medium;

      @include media("<desktop") {
        grid-template-columns: repeat(1, 1fr);
      }

      > div {
        display: flex;
        flex-direction: column;
        p {
          text-align: center;
        }
        img, h3, a {
          text-align: center;
        }
        img {
          border-radius: 50%;
          display: block;
          text-align: center;
          margin: $x_small auto $xx_small auto;
        }
        a {
          margin-bottom: $x_small;
          color: $dark_blue;
          text-decoration: none;
        }
        a:hover img {
          filter: drop-shadow(0px 3px 10px rgb(26 58 80 / 0.5));
        }
        a:hover .link {
          text-decoration: underline;
        }
      }
    }
  }
}
