@import "../spacing";
@import "../color";
@import "../mixin";

#temoignage {
  .section-1 {
    background: $grey;
    margin: 0;
    padding: $small 0;
    h1{
      margin-top: 0;
      &:before {
        @include title-decoration($orange);
      }
    }
  }
  .section-2 {

    > div:first-child {
      padding: $medium 0 0 0;
      background: $secondary;
    }
    > div:last-child {
      padding: 0 0 $medium 0;
      background: $dark_blue;
    }

    .card-upper-image {
      position: relative;
      z-index: 2;
    }

    blockquote {
      margin-bottom: $small;
    }

    .player {
      display: flex;
      margin: $x_small 0;
      div:first-child {
        display: flex;
        font-weight: bold;
        min-width: 100px;
        line-height: 40px;
      }
      @include media("<desktop") {
        flex-direction: column;
        div {
          margin-bottom: $xx_small;
        }
      }
    }

    .wave {
      z-index: 1;
    }
  }
  .section-3 {
    h2{
      &:before {
        @include title-decoration($orange);
      }
    }
    padding-bottom: $medium;
  }
}



