@import "../mixin";
@import "../color";

#test {
  .section-1 {
    background: $grey;
    padding: $small 0;
    h1{
      margin-top: 0;
      &:before {
        @include title-decoration($orange);
      }
    }
  }
  .section-2 {
    background: $turquoise;
    padding: $small 0 $x_medium 0;

    @include media("<desktop") {
      padding: $xx_small 0;
    }

    ol {
      counter-reset: li;
      list-style-position:inside;

      & > li {
        list-style:none;

        .question {
          display: inline-flex;
          margin: $medium 0 $small 0;
          align-items: center;

          h2 {
            flex-grow: 1;
            color: $dark_blue;
            font-size: 1.75rem;
            line-height: 2rem;
            margin: 0;
          }

          .counter {
            flex-grow: 0;
          }

          .counter:before {
            content:counter(li);
            counter-increment:li;
            display: inline-block;
            position: relative;
            font-weight: bold;
            text-align: center;
            background: $orange;
            border-radius: 50%;
            height: 36px;
            width: 36px;
            line-height: 36px;
          }
        }

        > div {
          display: grid;
          grid-auto-rows: 1fr;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: $x_small;

          @include media("<desktop") {
            grid-template-columns: repeat(1, 1fr);
          }
        }
      }
    }
  }
  [type="radio"]:not(:checked),
  [type="radio"]:checked {
    /* Cache la checkbox sans la rendre invisible aux lecteurs d'écran */
    position: absolute;
    left: 0;
    opacity: 0.01;
  }

  input[type="radio"]:hover + label {
    background: $grey;
    border-color: $grey;
  }
  input[type="radio"]:focus + label {
    border-color: $orange;
  }

  input[type="radio"]:checked + label {
    background: $secondary;
    border-color: $secondary;
    color: white;
  }
  input[type="radio"] + label {
    display: inline-flex;
    //align-items: center;
    background: white;
    border: 2px solid white;
    box-sizing: border-box;
    padding: $x_small;
    border-radius: 15px;
    transition: all 200ms ease-in;
    cursor: pointer;
    width: 100%;
    height: 100%;
    line-height: 1.625rem;

    span {
      margin-right: $xxx_small;
    }

    @include media("<desktop") {
      padding: $xx_small;
    }
  }

  .section-3 {
    background: $secondary;
    padding: $x_medium;

    > div {
      text-align: center;
    }
    p:first-of-type {
      color: #fff;
      margin-bottom: $small;
    }
    .button-result {
      border: 2px solid $light_beige;
      background: $light_beige;
      border-radius: $small;
      padding: $xx_small $medium;
      color: $dark_blue;

      font-weight: bold;
      font-size: 18px;
      line-height: 32px;

      &:hover {
        background: $orange;
        border-color: $orange;
      }

      &:disabled {
        background: #EEEEEE;
        border-color: #EEEEEE;
        color: #CECECE;
      }
      &:enabled {
        cursor: pointer;
      }
      &:focus {
        border-color: $light_blue;
      }
    }
  }
}
