@import '../spacing';
@import "../color";
@import "../font";
@import "../mixin";

footer {
  padding: $x_small $large;
  background: $dark_blue;
  color: $light_beige;

  @include media("<desktop") {
    padding: $x_small;
  }

  p a {
    @extend  %main-text-bold;
    color: $light_beige;

    span {
      margin-left: $xx_small;
    }
  }

  ul {
    display: inline-flex;
    margin: $small 0;
    list-style: none;
    li+li:before {
      padding: 16px;
      content: "|";
    }
    li a {
      @extend %main-text-small;
      color: $light_beige;
      text-decoration: none;
    }

    @include media("<desktop") {
      display: block;
      margin: $x_small 0;
      li+li:before {
        padding: 0;
        content: "";
      }
      li {
        margin-bottom: $xxx_small;
      }
    }
  }

  small {
    &, a {
      @extend %main-text-small;
    }
  }
}
