@import "../font";
@import "../spacing";
@import "../include-media";

header {
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  z-index: $max_z_index;
  transition: all .4s;
}

.app-title {
  display: flex;
  align-items: center;
  background: #fff;

  @include media("<desktop") {
    position: fixed;
    width: 100%;
    z-index: 4;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
  }

  img {
    vertical-align: middle;
    background: black;
  }

  div:last-child {
    flex-grow: 1;
    border-bottom: 1px solid #E5E5E5;
    height: $header_height;

    svg {
      height: 30px;
      vertical-align: middle;
    }

    span {
      margin-left: $x_small;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 36px;
      line-height: $header_height;
      text-transform: uppercase;
      color: black;
      text-decoration: none;

      @include media("<desktop") {
        flex-direction: column;
        line-height: 100%;
        height: $header_height;
        align-items: flex-start;
        position: relative;
      }
    }

    @include media("<desktop") {
      border-bottom: none;
      padding-right: 60px;

      display: flex;
      justify-content: center;


      svg {
        height: 22px;
      }
      a {
        font-size: 1rem;
      }
      span {
        margin-top: 4px;
        margin-left: 0;
      }
    }
  }
}
