@import '../spacing';
@import "../color";
@import "../mixin";

#information {

  display: flex;

  @include media("<desktop") {
    flex-direction: column;
  }

  h2 {
    color: $dark_blue;
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  h3 {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;

    @extend %main-text;
    font-weight: 700;
    padding: 0;
    margin: 9px 0;
    svg {
      padding-right: 15px;
    }
  }

  > div:first-child {
    flex: 1 1 0;
    background: $grey;
    padding: 0 $large $medium $large;
    @include media("<desktop") {
      padding: 0 $small $medium $small;
    }
    &, h3 {
      color: $dark_blue;
    }
    a {
      color: $light_blue;
    }
    p:not(:last-child) {
      padding-left: 40px;
    }
    p:last-child {
      margin-top: $medium;
    }
  }
  > div:last-child {
    flex: 1 1 0;
    background: $secondary;
    padding: 7.25rem $large $medium $large;
    @include media("<desktop") {
      padding: $medium $small $medium $small;
    }

    &, h3, a {
      color: #fff;
    }
    p, address {
      padding-left: 40px;
    }
    p {
      margin-bottom: $small;
    }
    address {
      @extend %main-text;
      span {
        text-decoration: underline;
      }
      margin: 1.5rem 0;
    }

    a {
      text-decoration: none;
    }

    .underline {
      text-decoration: underline;
    }
  }
}
