@import "../spacing";
@import "../color";
@import "../font";

#more-information {

  background: $grey;
  color: $dark_blue;
  padding: $small 0;

  > div {
    max-width: $page_width;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;

    @include media("<desktop") {
      margin-left: $small;
      margin-right: $small;
      flex-direction: column;
    }

    .title {
      font-size: $title-font-size;
      font-weight: bold;
      color: $secondary;
      margin-bottom: $small;
      @include media("<desktop") {
        margin-bottom: $x-small;
      }
    }
  }

  .other-resources,
  .becedia-resources {
    ul, p {
      margin: 0 $x_small;
      @include media("<desktop") {
        margin: 0 0 0 $small;
      }
    }
    ul li {
      list-style-position: inside;
    }
  }

  .becedia-resources {
    flex: 1 1 1px;
    > div {
      display: flex;
    }

    @include media("<desktop") {
      margin-bottom: $small;
    }

    ul.becedia-resources-list li, p {
      @extend %secondary-text;
    }
    .link {
      margin: $x_small;
      @include media("<desktop") {
        margin: $small 0 0 $small;
      }
    }
    .link a {
      @extend %tertiary-text-bold;
    }
    ul.becedia-resources-urls {
      list-style: none;
      margin: 0;
    }
  }

  .other-resources {
    flex: 1 1 1px;
    ul li {
      color: $light_blue;
    }
    a {
      @extend %secondary-text;
    }
    @include media("<desktop") {
      ul {
        margin: 0;
      }
    }
  }
}
