@import "../spacing";
@import "../color";

.social-network {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: $dark_blue;
  color: white;
  padding: $small $large;

  font-weight: bold;
  font-size: 22px;
  line-height: 28px;

  border-bottom: 1px solid #E5E5E5;

  @include media("<desktop") {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    padding: $small $small;
  }

  > div {
    > ul {
      list-style: none;
      display: inline-flex;
      vertical-align: middle;
      margin: $x_small 0 0 0;
      height: 100%;
      li + li {
        margin-left: $small;
      }
      svg {
        fill: $light_beige;
        &:hover {
          fill: $orange;
        }
      }
    }
  }
}
