---
title: Celtique ? L'expo - 4. Celt’attitude
description: "Après la seconde guerre mondiale, un celtisme culturel se développe : interceltisme, festival des cornemuses, revival de la musique bretonne …"
layout: default.njk

eleventyNavigation:
  key: 4. Celt’attitude
  parent: La construction d’un récit
  order: 4
---
{%  include "breadcrumb.njk" %}
<nav class="upper-navigation-2">
  <span class="title bold">La construction d’un récit</span>
  <ul class="container">
    <li class="box read">
      <a href="/construction_recit/mythes_fondateurs/" aria-label="1. Mythes fondateurs">
        1
        <div class="text">Mythes fondateurs</div>
      </a>
    </li>
    <li class="box read">
      <a href="/construction_recit/celtomanie" aria-label="2. Celtomanie">
        2
        <div class="text">Celtomanie</div>
      </a>
    </li>
    <li class="box read">
      <a href="/construction_recit/regionalisme_panceltisme" aria-label="3. Régionalisme, panceltisme">
        3
        <div class="text">Régionalisme, panceltisme</div>
      </a>
    </li>
    <li class="box" aria-current="page">
      <a href="/construction_recit/celt_attitude" aria-label="4. Celt’attitude">
        4
        <div class="text">Celt’attitude</div>
      </a>
    </li>
    <li class="box disabled" aria-label="5. Épilogue">
      <a href="/construction_recit/epilogue">
        5
        <div class="text">Épilogue</div>
      </a>
    </li>
  </ul>
</nav>
<div id="celt_attitude">
  <section class="section-1 content">
    <div class="full-width-center">
      <h1>4. Celt’attitude</h1>
      <p class="sub-title">De 1945 à 1990</p>
      <hr >
      <div class="row">
        <div>
          <h2 >Amicalement celtes</h2>
          <p >
            Après la Seconde Guerre mondiale, le celtisme se recentre sur les <em>aspects culturels</em>.
            S'il continue à accompagner encore ponctuellement la réflexion politique en Bretagne, c'est sa
            <em>popularisation sous la forme de l'interceltisme</em> qui marque la période. Le développement
            du <em>Festival interceltique</em> de Lorient, créé en 1971, témoigne de ce fort engouement.
          </p>
          <figure>
            <div>
              <img loading="lazy" width="" height="" src="/images/construction_recit/celtatitude_keltia_opt.jpg"
                 alt="Carte postale centrée sur la Grande-Bretagne et la Bretagne actuelle représentant une carte des
                  pays celtiques : Alba, Eire, Cymru, Kernow, Breizh unis par un anneau circulaire avec en bas à droite un motif
                  d'inspiration celtique. En bas à gauche, est inscrit « Keltia », Celtie en français." />
            </div>
            <figcaption>
              <div class="link">
                <a target="_blank" href="/images/construction_recit/hd/celtatitude_keltia_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#fff', "link-icon", 12 %}</a>
              </div>
              <p class="title">Keltia (Celtie)</p>
              <p>
                Carte postale<br/>
                P. Goron (cartographe), Éditions A. Fleury<br/>
                Entre 1945 et 1948<br/>
                Musée de Bretagne, Rennes<br/>
                <a target="_blank" href="http://www.collections.musee-bretagne.fr/ark:/83011/FLMjo275961">
                  Portail des collections{% externalLinkIcon '#fff', "link-icon", 12 %}
                </a>
              </p>
            </figcaption>
          </figure>
        </div>
        <div>
          <figure>
            <div>
             <img loading="lazy" width="412" height="609" src="/images/construction_recit/celtatitude_congres_opt.jpg"
                alt="Affiche du congrès interceltique des 19 au 27 juillet 1947 à Saint-Brieuc, présentant le programme
                des expositions, congrès, conférences et manifestations artistiques. En entête, motif de roue solaire avec en son centre des triskells." />
            </div>
            <figcaption>
              <div class="link">
                <a target="_blank" href="/images/construction_recit/hd/celtatitude_congres_hd.jpg">
                  Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}
                </a>
              </div>
              <p class="title">Congrès Interceltique Saint-Brieuc</p>
              <p>
                Affiche<br/>
                Imprimerie Moderne<br/>
                1947<br/>
                Musée de Bretagne, Rennes<br/>
                <a target="_blank" href="http://www.collections.musee-bretagne.fr/ark:/83011/FLMjo266031">
                  Portail des collections{% externalLinkIcon '#1576A7', "link-icon", 12 %}
                </a>
              </p>
            </figcaption>
          </figure>
          <p>
            L’interceltisme prend une tournure plus culturelle après la Seconde Guerre mondiale. Les congrès
            favorisent la collaboration entre pays. Avec la construction européenne et les mouvements
            de décentralisation, un interceltisme institutionnel, politique et économique émerge également. Il
            demeure une part importante du discours identitaire breton.
          </p>
        </div>
      </div>
    </div>
  </section>
  {% waveDecoration "white", "#272727", "wave-1" %}
  <section class="section-2 content">
    <p>
      <em>Dès la Libération, la musique bretonne se réinvente</em>, en reprenant d'une part le collectage de traditions
      musicales et en adoptant également <em>instruments et modèles d'Outre-Manche</em>.
    </p>
    <figure>
      <img loading="lazy" width="919" height="697" src="/images/construction_recit/celtatitude_bagad_opt.jpg"
          alt="Photographie monochrome d’un bagad dans les rues de Quimper. Au premier plan, les joueurs de biniou
          braz. Sur le côté, des spectateurs arrêtés dans la rue regardent le défilé." />
      <figcaption>
        <div class="link">
          <a target="_blank" href="/images/construction_recit/hd/celtatitude_bagad_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#F6F6F6', "link-icon", 12 %}</a>
        </div>
        <p class="title">Bagad en procession à Quimper</p>
        <p>
          Photographie<br/>
          Etienne Le Grand (photographe)<br/>
          1949<br/>
          Musée de Bretagne, Rennes<br/>
          ©Tous droits réservés
        </p>
        <p class="text-normal">
          Parmi les artisans du premier renouveau musical, Dorig Le Voyer fabrique dès 1932 le biniou braz ou
          grande cornemuse à l'image de l'écossaise. Il sera le principal pourvoyeur d'instruments de la
          Bodadeg ar Sonerion qu'il fonde en 1943 avec Polig Monjarret, créateur du premier bagad à
          Carhaix. Si certains protagonistes de ce renouveau ont été parallèlement des militants nationalistes, leur
          action a néanmoins permis le développement d'une musique bretonne nouvelle. Celle-ci perdurera après
          le rejet du mouvement nationaliste après-guerre, associé à la collaboration.
        </p>
      </figcaption>
    </figure>
    <hr/>
  </section>
  <section class="section-3">
    <div class="content intro">
      <h2>Second revival breton</h2>
      <p>
        Le revival musical des années 1970 est l'héritier de cette première période, incarné par des <em>figures
          artistiques et militantes</em>, dans un contexte d'essor international de la musique folk. Les festivals
        résonnent alors avec les revendications et luttes sociales, économiques ou environnementales.
      </p>
    </div>
    {% waveDecoration "#272727", "white", "wave-2" %}
    <div class="figures-container">
      <div class="figures">
      <div class="figure-block figure-block-1">
        <figure>
          <div>
            <img loading="lazy" width="422" height="647" src="/images/construction_recit/celtatitude_festival_opt.jpg"
                 alt="Affiche pour le 13e festival des cornemuses à Brest, les 6-7 août 1966. Au centre,
                  sont représentés un joueur de cornemuse écossaise et une sonneuse de biniou-kozh. "/>
          </div>
          <figcaption>
            <div class="link">
              <a target="_blank" href="/images/construction_recit/hd/celtatitude_festival_hd.jpg">
                Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}
              </a>
            </div>
            <p class="title">13<sup>ème</sup> festival international des cornemuses</p>
            <p>
              Affiche<br/>
              E. Nourry (auteur), Imprimerie PAM<br/>
              1966<br/>
              Musée de Bretagne, Rennes<br/>
              Licence CC-BY-NC-ND
            </p>
          </figcaption>
        </figure>
        </figure>
        <div class="figure-block-text-right">
          <p class="inner">
            S'il est un lieu en Bretagne où s'incarne l'interceltisme, c'est bien au Festival de Lorient. Il
            est créé en 1971, au début de la vague musicale celtique, et fait suite au Festival des
            cornemuses de Brest existant depuis 1953. Concours musicaux et invitations aux artistes
            internationaux en font un lieu de création et de diffusion vite reconnu qui participe
            autant de la fabrication d'une identité celtique que du rayonnement de la Bretagne dans le monde.
          </p>
        </div>
      </div>
      <div class="figure-block figure-block-2">
        <div class="figure-block-decoration decoration-1" aria-hidden="true" role="graphics-symbol"></div>
        <figure>
          <div>
           <img loading="lazy" width="610" height="449" src="/images/construction_recit/celtatitude_voixfemmes_opt.jpg"
                alt="Affiche pour l’événement « Voix de femmes des pays celtiques », à la maison de la culture de Rennes, du 1er
                au 5 mars 1983. Les noms des chanteuses sont inscrits sur une photographie de paysage de tourbière
                et crêtes rocheuses. "/>
          </div>
          <figcaption>
            <div class="link">
              <a target="_blank" href="/images/construction_recit/hd/celtatitude_voixfemmes_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
            </div>
            <p class="title">Voix de femmes des pays celtiques</p>
            <p>
              Affiche<br/>
              1983<br/>
              Musée de Bretagne, Rennes<br/>
              ©Tous droits réservés
            </p>
          </figcaption>
        </figure>
        <figure>
          <div>
           <img loading="lazy" width="500" height="708" src="/images/construction_recit/celtatitude_fil_droitsreserves_opt.jpg"
                alt="Couverture du programme du 11e festival interceltique à Lorient avec motifs de demi-cercles
                et cercles colorés,  de couleur jaune, rouge, bleue.  "/>
          </div>
          <figcaption>
            <div class="link">
              <a target="_blank" href="/images/construction_recit/hd/celtatitude_fil_droitsreserves_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
            </div>
            <p class="title">"XIe festival interceltique Lorient"</p>
            <p>
              Programme<br/>
              1981<br/>
              Médiathèque Festival Interceltique de Lorient, Lorient<br/>
              ©FIL
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="figure-block figure-block-3">
        <div class="figure-block-decoration decoration-2" aria-hidden="true" role="graphics-symbol"></div>
        <div class="figure-block-text-left">
          <p class="inner">
            La production d'affiches à partir des années 1970 est impossible à dénombrer, elles fleurissent
            de tous côtés s'adaptant aux très nombreux spectacles. Si quelques-unes se distinguent par un
            graphisme travaillé, parfois empreint de culture pop, la majorité est simplement réalisée par
            les organisateurs eux-mêmes : la typographie fait l'affaire, les termes de celte ou celtique
            en tête, accompagnés de vagues entrelacs irlandais. La photographie s'impose associée
            au seul nom de l'interprète et l'affiche interpelle par cette reconnaissance.
          </p>
        </div>
        <figure>
          <div>
           <img loading="lazy" width="500" height="361" src="/images/construction_recit/celtatitude_festivalmusiquecelte_opt.jpg"
                alt="Affiche avec inscription « Festival de musique celte » à Plomelin-Quimper, encadrée par des
                <rayures pouvant évoquer le drapeau breton. La graphie choisie pour les lettres est d’inspiration celtique."/>
          </div>
          <figcaption>
            <div class="link">
              <a target="_blank" href="/images/construction_recit/hd/celtatitude_festivalmusiquecelte_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
            </div>
            <p class="title">Festival de musique celte</p>
            <p>
              Affiche<br/>
              Imprimerie du Viaduc<br/>
              Musée de Bretagne, Rennes<br/>
              Licence CC-BY-NC-ND<br/>
              <a target="_blank" href="http://www.collections.musee-bretagne.fr/ark:/83011/FLMjo292809">
                Portail des collections{% externalLinkIcon '#1576A7', "link-icon", 12 %}
              </a>
            </p>
          </figcaption>
        </figure>
      </div>
    </div>
    </div>
    {% waveDecoration "white", "#272727", "wave-3" %}
    <div class="content playlist">
      <div class="card">
        <div class="card-title">
          <div>
            <svg width="50" height="50" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg"><g>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M63.747 1.67871V19.2842L22.208 26.2368V8.66095L63.747 1.67871Z" stroke="#D32F7D" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M55.0929 61.6374C59.8724 61.6374 63.7469 58.5719 63.7469 54.7904C63.7469 51.0089 59.8724 47.9434 55.0929 47.9434C50.3135 47.9434 46.439 51.0089 46.439 54.7904C46.439 58.5719 50.3135 61.6374 55.0929 61.6374Z" stroke="#D32F7D" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.5539 68.4841C18.3333 68.4841 22.2078 65.4186 22.2078 61.6371C22.2078 57.8556 18.3333 54.79 13.5539 54.79C8.77441 54.79 4.8999 57.8556 4.8999 61.6371C4.8999 65.4186 8.77441 68.4841 13.5539 68.4841Z" stroke="#D32F7D" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22.208 26.3896V61.6385" stroke="#D32F7D" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M63.7466 19.8867V54.7961" stroke="#D32F7D" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
            </svg>
          </div>
          <p class="bold">
            Playlist d’artistes du revival breton
          </p>
        </div>
        <p>
          À partir du milieu des années 1960, le <em>second revival musical breton</em>, lancé par l'artiste militant
          <em>Alan Stivell</em>, se caractérise par l'<em>actualisation des thèmes anciens par des sonorités
            contemporaines</em>, croisant différentes influences et innovant par de nouvelles compositions.
        </p><p>
          Ce mouvement est suivi par une <em>multitude de groupes</em>, comme Tri Yann et bien d'autres, qui produisent
          une musique festive jouée dans les festoù-noz et festivals, ainsi que par l'apparition de <em>maisons de
            disques bretonnes</em> spécialisées. À la suite de labels
          modestes mais pionniers, tel Mouëz Breiz fondé en 1952, l'industrie musicale s'approprie et diffuse
          le concept de <em>« musique celtique »</em>.
        </p>
        <div class="link">
          <a target="_blank" href="https://www.lesmediatheques-rennesmetropole.fr/offre-en-ligne/celtique">
            Écouter sur musicMe{% externalLinkIcon '#1576A7', "link-icon" %}</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section-4 content">
    <h2>Alan Stivell</h2>
    <div>
      <div>
        <div>
          <p>
            Alan Stivell est la figure incontournable du second revival musical breton qui se développe à partir de 1964.
          </p>
          <p>
            En 1953, il découvre <em>la « Telenn Gentañ », harpe néo-celtique,</em> conçue par son père Georges
            Cochevelou, qui consacre sa vocation de musicien.
          </p>
          <p>
            <em>La « Telenn varzhek »</em> ici présentée, <em>harpe aux cordes métalliques</em>, permet à l'artiste une décennie
            plus tard d'expérimenter les premiers essais d'amplification et de se lancer véritablement sur scène. Elle
            est emblématique des liens perçus par l'artiste entre musique bretonne et musique folk anglo-saxonne
            dans les années 1960-70.
          </p>
        </div>
        <figure>
          <div class="title">Entretien avec Alan Stivell</div>
          <video controls preload="none" width="518" poster="/images/construction_recit/celt_attitude_video_poster.png">
            <source src="/videos/AV10 ALAN STIVELL WEB 15-03-2022_opt2.mp4" type="video/mp4">
            <p>Votre navigateur ne prend pas en charge les vidéos HTML5.
              <a href="/videos/AV10 ALAN STIVELL WEB 15-03-2022_opt2.mp4">un lien pour télécharger la vidéo</a>.</p>
          </video>
          <figcaption>
            <div class="media-info"><span>Durée : 10 min 26 (40 Mo)</span></div>
            <details class="details-small details-transcription">
              <summary>Afficher la transcription</summary>
              <div>
                <p>
                  Toute ma vie est née de ce coup de foudre pour l'instrument construit par mon père, et son rêve de réinstaller la harpe celtique en Bretagne.
                </p><p>
                  Et voilà, ça a été une vraie magie.
                </p><p>
                  C'est-à-dire qu'à la première note, j'ai été touché, emporté. J'ai eu la chance d'être immergé enfant dans une conjugaison improbable de toutes les cultures celtiques.
                </p><p>
                  Jouer des airs irlandais, écossais, gallois, bretons, a créé l'évidence qu'il y avait une unité.
                </p><p>
                  Aucun ethnomusicologue n'aurait dit que ça correspondait à une réalité.
                </p><p>
                  Mais je ressentais quand même qu'il y avait quelque chose, non pas dans la structure des morceaux, dans les notes écrites, mais entre les notes, donc quelque chose qui ne se voit pas, ne se lit pas.
                </p><p>
                  L'identité, des fois, tient à des choses qui ont l'air minimes, micro, et... Et en réalité, ces petites choses sont énormes.
                </p><p>
                  - Qu'y a-t-il de celtique dans la première harpe ? Quelle différence avec les autres ?
                </p><p>
                  - Un Breton ou un Celte fait les choses d'une façon qui est influencée par la personnalité de son pays.
                </p><p>
                  Donc, s'il construit une maison, s'il fabrique une harpe ou autre chose, une bombarde, elle sera toujours différente de ce qu'on trouve ailleurs.
                </p><p>
                  Par exemple, ce qu'on appelle "bombarde" s'appelle "shahnâi" en Inde, ou "ciaramella" en Italie.
                </p><p>
                  Quand on n'y regarde pas de trop près, c'est la même chose.
                </p><p>
                  Mais en fait, une petite différence fait toute la différence, et donc, une harpe celtique est une harpe fabriquée par un Celte, et dont joue un Celte.
                </p><p>
                  L'important, tout d'abord, c'est la musique jouée avec l'instrument.
                </p><p>
                  - Cette celtitude justement, pour vous, en termes d'identité, c'était une quête, une recherche. La musique vous a aidé à trouver cette identité ?
                </p><p>
                  - Cette passion celtique, pour certaines personnes, c'était celle d'un fou. Il y avait une forme de folie, c'était et ça reste une obsession. J'ai trouvé des antidotes, parce que cette celtitude s'est installée dans une curiosité pour toutes les cultures.
                </p><p>
                  - L'après-guerre en Bretagne a été une période de renouveau musical. Cette période a eu une importance dans votre parcours ?
                </p><p>
                  - L'après-guerre a eu une importance fondamentale. On la mélange souvent avec des périodes postérieures. En fait, les années 50 ont vu une sorte de "revival" de l'intérêt pour la culture bretonne, pour ses aspects plutôt traditionnels.
                </p><p>
                  Donc, la danse... Ce qui a été central, c'est l'innovation du "bagad".
                </p><p>
                  Cet ensemble bagad a eu un énorme impact, et a commencé à l'époque autour du mouvement des bagad où, pas mal de choses ont commencé à naître. Loeiz Ropars qui relance le fest-noz, le "kan ha diskan". Et à ce moment-là, mon père veut ressusciter la harpe des anciens bretons, du Moyen Âge, et la réinstaller dans le 20e siècle.
                </p><p>
                  - Dans ces années 50, quelle musique écoutez-vous ?
                </p><p>
                  - Avant, je m'intéressais surtout à des gens qui faisaient la fusion musique traditionnelle-musique classique. Et puis arrive ce rock and roll, comme un sauveur. J'avais 18-20 ans, et je voulais une musique qui soit de ma génération, qui soit dans mon présent.
                </p><p>
                  Le rock and roll arrive à la fin des années 50, et après avoir commencé dans une mouvance celto-classique, j'ai envie d'une musique qui serait le mariage entre le rock et la musique celtique. J'étais jaloux des guitaristes électriques. Je commençais à dessiner des harpes électriques. Ça n'existait pas. J'ai exploré différentes directions. Ce qui m'intéressait, c'était d'aller vers l'inconnu, vers de nouveaux instruments.
                </p><p>
                  - Après cette période des premières années, et l'ensemble de ces sources d'inspiration qui a constitué votre premier parcours, dès les années 60, vous commencez à avoir un style très personnel, qui ne se résume pas du tout seulement à de l'adaptation de répertoire connu, traditionnel.
                </p><p>
                  - Comment travaillez-vous, et d'une certaine façon, quelle est la part de l'héritage et celle de l'invention ?
                </p><p>
                  - L'idée, c'était à la fois de partir de... de thèmes traditionnels, et d'ajouter de la composition, de la création pure et dure. Il y avait un mélange, une addition des deux. J'avais des envies de modernité radicale. Mais...Mais j'avais surtout envie de faire des choses qui n'avaient pas été faites. Qu'est-ce que ferait une guitare électrique avec la harpe et tel autre instrument ? Des grands orgues, même si elles sont imitées électroniquement, avec une cornemuse ? Un violoncelle avec un luth et une guitare acoustique ? Tel morceau inspiré du bluegrass ou du country... Ceci, cela...Et toutes ces expériences vont se développer encore plus dans les albums ultérieurs, comme "Olympia" ou "Chemins de terre", où l'aspect rock va prendre encore plus d'importance. Et aussi intégrer des instruments comme la quena d'Amérique du Sud. Le côté "musiques du monde" est là dès le départ. Et je le proclame comme une forme de manifeste sur la préface de "Reflets", mon premier album professionnel, où j'appelle de mes vœux que toute ma génération s'inspire de ses racines, se frotte aux autres, et à la modernité. Il fallait communiquer cette passion, et faire comprendre, bien sûr aux Bretons et aux Bretonnes, tout l'intérêt de notre culture, de notre musique. Tout bêtement en fait, en m'exprimant en tant que jeune de cette époque du rock, il s'est avéré que ça a eu un succès que personne n'aurait imaginé. Ce qui est fou, c'est la vitesse à laquelle les choses sont arrivées. En 1966, je décide de chanter et de devenir professionnel. En 1967, j'ai déjà mon contrat international. En 1968, je suis à Londres, au Queen Elizabeth Hall avec les Moody Blues, un groupe numéro un à l'époque. Et donc... Et donc, en 1970, le premier album est un succès important, ce qui fait que l'Olympia s'ouvre à moi. Et en février 1972, le concert à l'Olympia était diffusé en direct sur Europe 1, une des trois grandes radios de l'époque. Et donc, des millions de gens sont mis en contact avec ma musique, une musique qui contraste totalement avec l'image qu'ils avaient de la musique bretonne. Ça, c'est grâce aussi aux musiciens qui m'ont accompagné : Dan Ar Braz, Gabriel Yacoub, tous ces bons musiciens, qui m'ont permis de ne pas rougir en passant après les Stones ou d'autres groupes. Ce qui fait que ces gens qui avaient une image de la musique bretonne désastreuse ont été d'un seul coup impressionnés par un côté professionnel. Une musique bretonne professionnelle. Et il y avait cette recherche de modernité, qui était une forme de choc pour pas mal de gens.
                </p>
              </div>
            </details>
            <p>
              Entretien avec Alan Stivell<br/>
              Marie-Noëlle Faulon, Paskal Nignol et Manon Six (interview), Arnaud Géré (réalisation)<br/>
              Musée de Bretagne, Rennes<br/>
              2022
            </p>
          </figcaption>
        </figure>
      </div>
      <figure>
        <div>
          <img loading="lazy" width="328" height="436" src="/images/construction_recit/celtatitude_harpestivell_opt.jpg"
            alt="Photographie de la harpe celtique fabriquée par Georges Cochevelou, père d’Alan Stivell."/>
        </div>
        <figcaption>
          <div class="link">
            <a target="_blank" href="/images/construction_recit/hd/celtatitude_harpestivell_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
          </div>
          <p class="title">Telenn varzhek</p>
          <p>
            Harpe bardique<br/>
            Fabriquée par Georges Cochevelou<br/>
            1964<br/>
            Alan Stivell
          </p>
        </figcaption>
      </figure>
    </div>
  </section>
  <section class="section-5 content">
    <p>
      À partir des années 1980, <em>le mouvement interceltique s'étend au niveau institutionnel</em>, au gré des
      signatures d'accords entre nations et régions celtiques qui s'organisent à l'échelle européenne.
    </p>
    <figure>
      <div>
       <img loading="lazy" width="273" height="391" src="/images/construction_recit/celtatitude_brittanyferries_opt.jpg"
            alt="Recto du dépliant de la société britanny ferries pour « 12 évasions » celtiques de Bretagne en
             Grande-Bretagne depuis Roscoff à Saint-Malo. Une image de triskell  coloré est placée au centre,
             entourée motifs de courbes et d’entrelacs."/>
      </div>
      <figcaption>
        <p class="title">12 évasions "celtiques" de Bretagne en Grande-Bretagne depuis Roscoff à Saint-Malo</p>
        <p>
          Dépliant<br/>
          Imprimerie Hautefeuille S.A.(Lithographe), Éditions Charpentier<br/>
          1976<br/>
          Musée de Bretagne, Rennes<br/>
          <a target="_blank" href="http://www.collections.musee-bretagne.fr/ark:/83011/FLMjo241870">
            Portail des collections{% externalLinkIcon '#fff', "link-icon", 12 %}
          </a>
        </p>
        <p class="text-normal">
          À partir des années 1970, les échanges entre la Bretagne et les pays celtiques vont se développer, dans le contexte de la construction européenne. L'Europe favorise également les jumelages qui permettent de tisser des liens entre communes par-delà les frontières. À Roscoff est notamment créée en 1974 la compagnie Brittany Ferries, qui relie Bretagne, Grande-Bretagne et Irlande.
        </p>
        <div>
          <a target="_blank" href="/images/construction_recit/hd/celtatitude_brittanyferries_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#fff', "link-icon", 12 %}</a>
        </div>
      </figcaption>
    </figure>
  </section>
</div>
{% moreInformationFooter
  ["Le réveil culturel des années 1970", "Les Bagadoù"],
  [
    {
      text: "Voir ces contenus sur Bécédia ➔",
      url: "https://www.bcd.bzh/becedia/"
    }
  ],
  [
    {
      text: "Témoignage : Hélène Bonniec, bénévole au Festival Interceltique de Lorient",
      url: "/temoignages/#temoignage-2",
      isExternal: false
    },
    {
      text: "La tradition musicale bretonne dans les collections Musée de Bretagne (Musée Dévoilé)",
      url: "https://musee-devoile.blog/2021/01/11/reflets-de-la-tradition-musicale-bretonne-dans-les-collections-du-musee-de-bretagne/",
      isExternal: true
    }
  ]
%}

{% bottomNavigation
  "3. Régionalisme et panceltisme",
  "/construction_recit/regionalisme_panceltisme",
  "5. Épilogue",
  "/construction_recit/epilogue",
  "pink"
%}
