---
title: Celtique ? L'expo - 2. Celtomanie
description: "Aux 18e-19e siècles, les racines celtes de la Bretagne sont affirmées, et les artistes s'emparent des légendes de la ville d'Ys, de l'Ankou, des bardes …"
layout: default.njk

eleventyNavigation:
  key: 2. Celtomanie
  parent: La construction d’un récit
  order: 2
---
{%  include "breadcrumb.njk" %}
<nav class="upper-navigation-2">
  <span class="title bold">La construction d’un récit</span>
  <ul class="container">
    <li class="box read">
      <a href="/construction_recit/mythes_fondateurs/" aria-label="1. Mythes fondateurs">
        1
        <div class="text">Mythes fondateurs</div>
      </a>
    </li>
    <li class="box" aria-current="page">
      <a href="/construction_recit/celtomanie" aria-label="2. Celtomanie">
        2
        <div class="text">Celtomanie</div>
      </a>
    </li>
    <li class="box disabled">
      <a href="/construction_recit/regionalisme_panceltisme" aria-label="3. Régionalisme, panceltisme">
        3
        <div class="text">Régionalisme, panceltisme</div>
      </a>
    </li>
    <li class="box disabled">
      <a href="/construction_recit/celt_attitude" aria-label="4. Celt’attitude">
        4
        <div class="text">Celt’attitude</div>
      </a>
    </li>
    <li class="box disabled" aria-label="5. Épilogue">
      <a href="/construction_recit/epilogue">
        5
        <div class="text">Épilogue</div>
      </a>
    </li>
  </ul>
</nav>
<div id="celtomanie">
  <section class="section-1 content">
    <div class="full-width-center">
      <h1 >2. Celtomanie</h1>
      <p class="sub-title">Du 18<sup>ème</sup> au 19<sup>ème</sup> siècle</p>
      <hr>
      <h2>La Bretagne comme terre celtique</h2>
      <div class="row">
        <div>
          <p >
            A partir du 18<sup>ème</sup> siècle et surtout du 19<sup>ème</sup> siècle, le celtisme prend de l'ampleur : on cherche
            à faire de la Bretagne la <em>terre celtique par excellence</em>.
          </p>
          <p >
            <em>Tout dans la région est rattaché, parfois abusivement, aux Celtes de l'Antiquité</em> : les monuments
            archéologiques comme les dolmens et menhirs, les pratiques culturelles et populaires "traditionnelles", la
            langue. Le breton, considéré comme une "langue-mère", serait la mémoire vivante du gaulois.
          </p>
        </div>
        <figure>
          <img loading="lazy" width="360" height="248" src="/images/construction_recit/celtomanie_broderiesbretonnes_opt.jpg"
               alt="Planche extraite du dictionnaire d’architecture d’Ernest Bosc représentant des motifs de broderies bretonnes avec de nombreuses figures géométriques et entrelacs. L’inscription « Gaulois (art) » figure sous la représentation des broderies.  " />
          <figcaption>
            <div class="link">
              <a target="_blank" href="/images/construction_recit/hd/celtomanie_broderiesbretonnes_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
            </div>
            <p class="title">Gaulois (Art) broderies bretonnes</p>
            <p>
              Page de livre<br/>
              E. Bosc (dessinateur), Imprimerie Didot F. & Cie<br/>
              1877-1880<br/>
              Musée de Bretagne, Rennes<br/>
              <a target="_blank" href="http://www.collections.musee-bretagne.fr/ark:/83011/FLMjo313310">
                Portail des collections{% externalLinkIcon '#1576A7', "link-icon", 12 %}
              </a>
            </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
  <section class="section-2">
    <figure>
      <div>
        <img loading="lazy" width="1440" height="672" src="/images/construction_recit/celtomanie_monumentsdruidiques_opt.jpg"
             alt="Représentation (lithographie) du site mégalithique de Carnac, sur lequel se promènent des personnages." />
      </div>
      <figcaption class="content full-width-center">
        <div class="link">
          <a target="_blank" href="/images/construction_recit/hd/celtomanie_monumentsdruidiques_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#F6F6F6', "link-icon", 12 %}</a>
        </div>
        <p class="title">Monuments druidiques de Carnac</p>
        <p>
          Estampe<br/>
          Félix Benoist (dessinateur), Adolphe Bayot (dessinateur), Léon Sabatier (Lithographe), Éditions Charpentier<br/>
          Musée de Bretagne, Rennes<br/>
          <a target="_blank" href="http://www.collections.musee-bretagne.fr/ark:/83011/FLMjo113558">
            Portail des collections{% externalLinkIcon '#fff', "link-icon", 12 %}
          </a>
        </p>
      </figcaption>
    </figure>
  </section>
  <section class="section-3 content">
    <div class="full-width-center row">
      <div>
        <p>
          Les élites intellectuelles sont alors <em>en quête d'origines différentes de celles de la nation française</em>,
          quitte à les forger de toutes pièces. Parallèlement à ces inventions extravagantes assimilées à des mythes
          fondateurs, des champs plus sérieux de la recherche contribuent à la <em>construction des identités
            nationales et régionales</em>.
        </p>
        <p>
          Dans une Europe où se développe le romantisme et s'affirme le mouvement des nationalités, le 19<sup>ème</sup>
          siècle <em>esthétise la Bretagne, créant des images durables</em> pour les siècles à suivre.
        </p>
      </div>
      <div>
        <div class="card">
          <div class="card-title">
            <div>
              <svg width="70" height="68" viewBox="0 0 70 68" fill="none" xmlns="http://www.w3.org/2000/svg"><g>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6856 24.1607L29.6203 9.46712C31.0765 8.28836 32.257 8.81866 32.257 10.6573V57.4773C32.257 59.3134 31.0772 59.8467 29.6203 58.6675L11.6856 44.1443H3.45665C2.32074 44.1443 1.3999 43.2469 1.3999 42.146V26.159C1.3999 25.0554 2.32174 24.1607 3.45665 24.1607H11.6856Z" stroke="#D32F7D" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M50.0854 58.8902C60.776 55.4888 68.4976 45.7187 68.4976 34.1966C68.4976 22.6777 60.7802 12.9097 50.0941 9.50586" stroke="#D32F7D" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M45.9712 49.7823C53.0589 48.0007 58.2935 41.7463 58.2935 34.3042C58.2935 26.8704 53.0705 20.6216 45.9948 18.832" stroke="#D32F7D" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M41.1714 40.8137C41.6577 40.8137 42.1322 40.7645 42.5899 40.671C45.6964 40.0362 48.0285 37.3589 48.0285 34.1524C48.0285 30.8987 45.6271 28.1898 42.452 27.6072C42.0371 27.531 41.609 27.4912 41.1714 27.4912" stroke="#D32F7D" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
              </svg>
            </div>
            <p>Le monde celte, discours d'Anatole le Braz</p>
          </div>
          <audio
            controls
            preload="none"
            src="/audios/A07 anatole le braz.mp3">
            Your browser does not support the
            <code>audio</code> element.
          </audio>
          <div class="media-info">
            <span>Durée : 3 min 47</span>
            <span>Poids : 3,2 Mo</span>
          </div>
          <p>
            Prononcé à la distribution des prix du Lycée de Quimper, 31 juillet 1888<br/>
            Texte lu par Simon Gauchet<br/>
            Montage sonore par Arnaud Géré
          </p>
          <details class="details-small details-transcription">
            <summary>Afficher la transcription</summary>
            <div>
              <p>
                En 1886, Anatole Le Braz revient en Bretagne pour y occuper un poste de
                professeur de littérature de langues française et bretonne au Lycée de
                Quimper. Aux côtés de François-Marie Luzel, l'un des principaux
                contradicteurs de La Villemarqué et de son Barzaz-Breiz, il se forme au travail
                de collecte de contes et récits populaires en Bretagne. Dans le contexte des
                réflexions sur l'identité nationale et régionale portées par certains intellectuels
                français de l'époque comme Ernest Renan, il livre à ses élèves dans un discours
                sa vision d'une Bretagne devant laisser place à son héritage celte. Ce discours,
                Le monde celte est prononcé à la distribution des prix du lycée de Quimper le 31
                juillet 1888.
              </p><p>
                "Jeunes élèves,
              </p><p>
                Puisque l'honneur m'est échu de clore l'année universitaire par cette suprême leçon qui
                s'appelle un discours de distribution des prix, je vous demanderai la permission d'en faire
                une sorte d'épilogue aux cours que, six mois durant, j'ai eu à professer devant quelques-uns
                d'entre vous.
              </p><p>
                En étudiant alors avec eux la marche des civilisations, la rude et patiente épopée de l'effort
                humain, je leur montrais l'histoire obéissant comme la nature aux lois de la sélection des
                êtres, ayant comme elle ses races élues et des espèces sacrifiées. […] Au premier rang de ceux
                qu'elle a frappés de ce douloureux ostracisme, il faut mentionner les Celtes, nos aïeux
                lointains, les Celtes, qui, après avoir été les vaincus du monde, sont demeurés les proscrits
                de l'histoire. En me risquant aujourd'hui à vous parler d'eux, je fais plus que compléter un
                enseignement de six mois, je proteste contre l'injustice de vingt siècles, et, Breton,
                m'adressant à des Bretons, je suis sûr d'avance que ma protestation trouvera son écho.
              </p><p>
                Qu'étaient les Celtes ? D'où venaient-ils ? Ces questions, M. Waldeck-Rousseau les posait
                hier à M. Renan, dans l'un de ces diners qui réunissent quelquefois, à Paris, les dispersés de
                la Bretagne. Espérons que M. Renan se croira tenu de répondre. […] Je ne tenterai
                naturellement pas, avant le maître divinateur, cette hardie exploration des âges.
              </p><p>
                […]
              </p><p>
                L'Europe ne saurait oublier qu'à certaines heures elle a vécu de l'âme celte. C'est la poésie de
                nos pères, qui, au Moyen Âge, a nourri les littératures romane et germanique, qui leur a
                communiqué sa grâce pénétrante et sa mélancolique fierté. Le goût des équipées idéales,
                le culte de la femme, le sentiment d'une fraternité mystérieuse entre la nature et l'être, tous
                ces dogmes des temps chevaleresques sont des conceptions essentiellement celtiques.
              </p><p>
                N'eussions-nous que cette page à notre actif dans le bilan de l'histoire, que notre part serait
                encore honorable et belle. Mais je ne m'imagine pas que nous ayons dit notre dernier mot.
                Je crois à des lendemains assurés pour une race qui a victorieusement bravé l'effort de vingt
                siècles et que Michelet définit comme la plus sympathique et la plus perfectible des familles
                humaines. […] Certes, il serait absurde de rêver une reconstitution intégrale de ce que le
                temps a dissous. Souhaiter une civilisation celtique serait une chimère d'esprit malade.
                Mais pourquoi, l'élément celte n'entrerait-il pas, sans s'y anéantir dans le concert des forces
                modernes ? Nos frères du pays de Galles ont déjà donné l'exemple. Conciliant leurs intérêts
                avec leurs aspirations, ils sont devenus Anglais dans la mesure du nécessaire, pour rester
                eux-mêmes, dans la mesure du possible. La reine n'a pas de sujets plus fidèles, la vieille race
                n'a pas de fils plus respectueux. Pourquoi l'expérience des Kymris d'Angleterre ne servirait-
                elle pas aux Bretons de France ?"
              </p>
            </div>
          </details>
        </div>
        <div class="card">
          <div class="card-title">
            <div>
              <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg"><g>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M63.747 1.67871V19.2842L22.208 26.2368V8.66095L63.747 1.67871Z" stroke="#D32F7D" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M55.0929 61.6374C59.8724 61.6374 63.7469 58.5719 63.7469 54.7904C63.7469 51.0089 59.8724 47.9434 55.0929 47.9434C50.3135 47.9434 46.439 51.0089 46.439 54.7904C46.439 58.5719 50.3135 61.6374 55.0929 61.6374Z" stroke="#D32F7D" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M13.5539 68.4841C18.3333 68.4841 22.2078 65.4186 22.2078 61.6371C22.2078 57.8556 18.3333 54.79 13.5539 54.79C8.77441 54.79 4.8999 57.8556 4.8999 61.6371C4.8999 65.4186 8.77441 68.4841 13.5539 68.4841Z" stroke="#D32F7D" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M22.208 26.3896V61.6385" stroke="#D32F7D" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M63.7466 19.8867V54.7961" stroke="#D32F7D" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
            </svg>
            </div>
            <div>
              <p>
                Les chants du Barzaz Breiz
              </p>
            </div>
         </div>
          <p>
            Reprise de chants et d'airs du Barzaz Breiz<br/>
            Réalisé par Pierre Stephan
          </p>
          <div class="link">
            <a target="_blank" href="https://soundcloud.com/user-878905352/montage-barzaz-breiz-agencement">
              Écouter sur Soundcloud{% externalLinkIcon '#1576A7', "link-icon", 12 %}
            </a>
          </div>
      </div>
      </div>
    </div>
  </section>
  <section class="section-4">
    <div class="figures-title">
      <h2>Les figures esthétisées de la Bretagne</h2>
    </div>
    <div class="figures">
      <div class="figure-block figure-block-1">
        <figure>
          <div>
            <img loading="lazy" width="610" height="468" src="/images/construction_recit/celtomanie_chevaucheeankou_opt.jpg"
                 alt="Scène intitulée représentant la chevauchée de l'Ankou, le personnage fouette deux chevaux courant au
                 grand galop, il porte son fouet et sa faux. L'image est composée de multiples scènes et comporte
                 de nombreuses références aux légendes celtiques et bretonnes."/>
          </div>
          <figcaption>
            <div class="link">
              <a target="_blank" href="/images/construction_recit/hd/celtomanie_chevaucheeankou_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
            </div>
            <p class="title">Burzudou-Nedellek (Les merveilles de la nuit de Noël)</p>
            <p>
              Estampe
              A. Collin (dessinateur), Prosper Saint-Germain (graveur)<br/>
              Éditions W. Coquebert, Imprimerie Formentin <br/>
              1844<br/>
              Musée de Bretagne, Rennes
            </p>
          </figcaption>
        </figure>
        <div class="figure-block-text-right">
          <p class="inner">
            Offerte aux premiers souscripteurs du recueil de contes d'Émile Souvestre, <span class="italic">Le foyer breton</span>, cette
            estampe représente la chevauchée de l'Ankou. Potentiel héritage de la mythologie celtique, cette
            personnification du serviteur de la mort est très présente dans la tradition orale bretonne. L'image
            fourmille par ailleurs de références aux traditions celtiques et aux légendes bretonnes : fées,
            korrigans...
          </p>
        </div>
      </div>
      <div class="figure-block figure-block-2">
        <div class="figure-block-decoration decoration-1" aria-hidden="true" role="graphics-symbol"></div>
        <div class="figure-block-text-left">
          <p class="inner">
            En 1809, apparaît la figure de la druidesse armoricaine Velléda, prophétesse tragique des Martyrs de
            Chateaubriand, révoltée contre l'empereur romain. Empruntée à l’historien antique Tacite, elle devient
            une véritable héroïne romantique et un sujet à la mode auprès des artistes. Couronnée d'une branche de
            chêne, elle a ici pour attribut une harpe.
          </p>
        </div>
        <figure>
          <div>
            <img loading="lazy" width="500" height="664" src="/images/construction_recit/celtomanie_velleda_opt.jpg"
               alt="Statuette sculptée en terre cuite représentant la druidesse Velléda. Elle est vêtue d’une robe courte, dévoilant son sein droit, et tient une harpe à la main. A sa ceinture, est attachée une serpe."/>
          </div>
          <figcaption>
            <div class="link">
              <a target="_blank" href="/images/construction_recit/hd/celtomanie_velleda_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
            </div>
            <p class="title">Velléda</p>
            <p>
              Terre cuite<br/>
              François Lepère (sculpteur)<br/>
              Vers 1860<br/>
              Musée d'Orsay, Paris<br/>
              © RMN-Grand Palais (musée d'Orsay) / René-Gabriel Ojeda
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="figure-block figure-block-3">
        <figure>
          <div>
            <img loading="lazy" width="610" height="398" src="/images/construction_recit/celtomanie_luminaislafuite_opt.jpg"
             alt="Huile sur toile représentant le thème de la légende de la Ville d’Ys, et la fuite du roi
             Gradlon. Deux cavaliers à cheval sont représentés au milieu d'une mer agitée. A gauche Saint-Guénolé et
             à droite le roi Gradlon sur son cheval se cabrant. On voit le roi Gradlon pousser vers l’eau sa fille
              Dahut, qui chevauchait sur la croupe de son cheval. La scène représentée est ainsi le sacrifice de
              Dahut par son père le roi Gradlon, la mer agitée évoquant la ville d’Ys envahie par les eaux. "/>
          </div>
            <figcaption>
              <div class="link">
                <a target="_blank" href="/images/construction_recit/hd/celtomanie_luminaislafuite_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
              </div>
              <p class="title">La fuite de Gradlon</p>
              <p>
                Evariste Vital Luminais (peintre)<br/>
                Vers 1884<br/>
                Transfert de propriété de l'Etat à la Ville de Quimper en 2013<br/>
                ©Musée des Beaux-Arts de Quimper
              </p>
          </figcaption>
        </figure>
        <div class="figure-block-text-right">
          <p class="inner">
            La ville légendaire d'Ys, capitale du roi Gradlon, aurait été engloutie par l'océan. Malgré sa forte
            christianisation, où l'engloutissement peut être lu comme la cause des péchés de ses habitants, on y
            retrouve le thème, issu de la mythologie celtique, de l'Autre Monde, qui suit la mort et peut être
            localisé sous la mer. La figure de Dahut, fille du roi, renverrait à une déesse ou une fée gardienne
            des eaux. Transmise essentiellement par le conte et le chant, la légende est largement diffusée au
            19<sup>ème</sup> siècle par les folkloristes.
          </p>
        </div>
      </div>
      <div class="figure-block figure-block-4">
        <div class="figure-block-text-left">
          <p class="inner">
            La tradition hagiographique rapporte qu'Yvarnion, barde renommé de l'île de Bretagne au 6<sup>ème</sup> siècle,
            de passage en Armorique, rencontre après un rêve et guidé par un ange, Ravanone (ou Riwanon), qu'il
            trouve puisant de l'eau à une fontaine. De leur union naît saint Hervé. Ce sujet rare dans
            l'œuvre d'Aubert, né à Nantes, montre que les thèmes romantiques avaient encore cours à la fin
            du 19<sup>ème</sup> siècle.
          </p>
        </div>
        <div class="figure-block-decoration decoration-2" aria-hidden="true" role="graphics-symbol"></div>
       <figure>
         <div>
          <img loading="lazy" width="500" height="636" src="/images/construction_recit/celtomanie_yvarnioetravanone_opt.jpg"
             alt="Représentation de la rencontre entre le barde Yvarnion et Ravanone. La scène se déroule sous un chêne, et Ravanone, vêtue d’une robe longue couleur ivoire, et portant un bouquet de fleurs sauvages sur ses genoux, est assise sur une construction mégalithique ressemblant à un dolmen. Vêtu d’une cape, et représenté le regard rêveur, portant sa harpe sur l’épaule, le barde Yvarnion est représenté debout à côté de Ravanone, le coude appuyé sur la construction mégalithique.  "/>
         </div>
        <figcaption>
          <div class="link">
            <a target="_blank" href="/images/construction_recit/hd/celtomanie_yvarnioetravanone_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
          </div>
          <p class="title">Le barde Yvarnion et Ravanone</p>
          <p>
            Joseph Aubert (peintre)<br/>
            1883<br/>
            Collection musée des beaux-arts, La Cohue-Vannes
          </p>
        </figcaption>
      </figure>
      </div>
    </div>
  </section>
</div>
{% moreInformationFooter
  ["La quête d'un âge d'or celtique", "Le Barzaz Breiz"],
  [
    {
      text: "Voir ces contenus sur Bécédia ➔",
      url: "https://www.bcd.bzh/becedia/"
    }
  ],
  [
    {
      text: "Vidéo : comment se construit une identité ?",
      url: "/construction_recit/#mecanisme_identitaire",
      isExternal: false
    },
    {
      text: "La Bretagne, terre de superstitions ? (Musée dévoilé)",
      url: "https://musee-devoile.blog/2021/07/19/la-bretagne-par-limage-la-bretagne-terre-de-superstitions/",
      isExternal: true
    }
  ]
%}

{% bottomNavigation
  "1. Mythes fondateurs",
  "/construction_recit/mythes_fondateurs",
  "3. Régionalisme et panceltisme",
  "/construction_recit/regionalisme_panceltisme",
  "pink"
%}
