---
title: Celtique ? L'expo - 5. Épilogue
description: "L'identité celtique de la Bretagne a fait l'objet d'une construction longue."
layout: default.njk

eleventyNavigation:
  key: 5. Épilogue
  parent: La construction d’un récit
  order: 5
---
{%  include "breadcrumb.njk" %}
<nav class="upper-navigation-2">
  <span class="title bold">La construction d’un récit</span>
  <ul class="container">
    <li class="box read">
      <a href="/construction_recit/mythes_fondateurs/" aria-label="1. Mythes fondateurs">
        1
        <div class="text">Mythes fondateurs</div>
      </a>
    </li>
    <li class="box read">
      <a href="/construction_recit/celtomanie" aria-label="2. Celtomanie">
        2
        <div class="text">Celtomanie</div>
      </a>
    </li>
    <li class="box read">
      <a href="/construction_recit/regionalisme_panceltisme" aria-label="3. Régionalisme, panceltisme">
        3
        <div class="text">Régionalisme, panceltisme</div>
      </a>
    </li>
    <li class="box read">
      <a href="/construction_recit/celt_attitude" aria-label="4. Celt’attitude">
        4
        <div class="text">Celt’attitude</div>
      </a>
    </li>
    <li class="box" aria-current="page">
      <a href="/construction_recit/epilogue" aria-label="5. Épilogue">
        5
        <div class="text">Épilogue</div>
      </a>
    </li>
  </ul>
</nav>
<div id="epilogue">
  <section class="section-1 content">
    <div class="full-width">
      <h1 class="full-width-center">5. Épilogue</h1>
      <p class="full-width-center sub-title">Et aujourd'hui ?</p>
      <hr class="full-width-center">
      <h2 class="full-width-center">Alors, adieu les mythes ?</h2>
      <p class="full-width-center">
        L'image de la « Bretagne celtique » a donc fait l'objet d'une <em>construction longue, non linéaire,
          mais particulièrement volontaire</em>. Son succès doit néanmoins s'accommoder d'un constat&nbsp;:
          il n’y a pas de filiation directe entre les faits culturels d’aujourd’hui et ceux des populations
          de l’Antiquité.
      </p>
      <p class="full-width-center">
        La Bretagne n'est pas un territoire immuable, elle est le résultat du <em>brassage constant de
          populations à travers les siècles</em>.
      </p>
    </div>
  </section>
  <section class="section-2 content">
    <div class="full-width-center row__p__figure">
      <div>
        <p>
          La volonté de se rattacher à un passé, quitte à créer de toutes pièces un héritage, révèle
          un <em>besoin universel de se différencier</em>. En ce sens, la création de l'identité culturelle
          bretonne n'est pas un phénomène unique, de nombreux pays et régions d'Europe ont connu le même
          processus depuis le 19<sup>ème</sup> siècle.
        </p>
        <p>
          Aujourd’hui encore, la référence à certaines traditions populaires accompagne des affirmations
          identitaires, notamment dans un contexte de mondialisation. L'important est d'en être conscient : <em>on
            se construit sur des identités multiples</em>, croisements de constructions intellectuelles et d'imaginaires.
        </p>
      </div>
      <div>
        <figure>
          <img loading="lazy" width="344" height="261" src="/images/construction_recit/epilogue_galettesglazic_opt.jpg"
               alt="Boîte de gâteaux (galettes bretonnes pur beurre), dont le décor est composé d'une photographie représentant une petite fille, en costume de Basse-Bretagne ; sur les côtés apparaissent des triskells noirs sur fond blanc. "/>
          <figcaption>
            <div class="link">
              <a target="_blank" href="/images/construction_recit/hd/epilogue_galettesglazic_hd.jpg">
                Voir en résolution maximale{% externalLinkIcon '#fff', "link-icon", 12 %}
              </a>
            </div>
            <p class="title">Boîte de galettes</p>
            <p>
              Biscuiterie Le Glazik, Briec-de-l'Odet (29)<br/>
              1993<br/>
              Musée de Bretagne, Rennes<br/>
              <a target="_blank" href="http://www.collections.musee-bretagne.fr/ark:/83011/FLMjo260671">
                Portail des collections{% externalLinkIcon '#fff', "link-icon", 12 %}
              </a>
            </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
  {% waveDecoration "#272727", "#fff" %}
  <section class="section-3 content">
    <h2>Et qu'en disent les Bretonnes et Bretons ?</h2>
    <p>
      Comment l'identité bretonne est-elle perçue ou vécue par des habitantes et habitants de la région ? Découvrez
      la web-série issue du projet de l'association Âmes de Bretagne et le reportage photographique
      « La Bretagne dans la peau » mené par le Musée de Bretagne.
    </p>
    <h2>Vidéo : Pour vous, c’est quoi être Breton ?</h2>
    <div>
      <div>
        <p>
          Avec sa web-série, Âmes de Bretagne a choisi de donner la parole aux habitantes et habitants
          de la Bretagne avec pour but de les faire parler de leur région et de leur lien à celle-ci, avec
          une question simple : c'est quoi, être breton ? Initiée à l'ouest de la région, cette collecte
          de témoignages s'est enrichie de paroles rennaises à l'occasion des Journées européennes du
          patrimoine 2021 au Musée de Bretagne.
        </p>
        <div class="button">
          <a target="_blank" href="https://youtu.be/_kOQe7MKtP4">
            Voir la vidéo{% externalLinkIcon '#F6F6F6', 'link-icon' %}
          </a>
        </div>
      </div>
      <div>
        <img loading="lazy" width="550" height="383" src="/images/aller_plus_loin/saison1_ame_de_bretagne_opt.jpg"
             alt="Affiche de la série Âme de Bretagne, saison 1">
      </div>
    </div>
  </section>
  {% waveDecoration "#3A3A3A", "#272727" %}
  <section class="section-4 content">
    <h2>Reportage : La Bretagne dans la peau</h2>
    <div class="full-width-center row__p__figure">
      <div>
        <figure>
          <img loading="lazy" width="400" height="429" src="/images/construction_recit/epilogue_tatouage_opt.jpg"
               alt="Morgan, de profile, montrant un tatouage sur son bras"/>
          <figcaption>
            <div class="link">
              <a target="_blank" href="/images/construction_recit/hd/epilogue_tatouage_hd.jpg">
                Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}
              </a>
            </div>
            <p class="title">Morgan</p>
            <p>
              La Bretagne dans la peau</br>
              Alain Amet (photographe)</br>
              Reportage photographique mené par le Musée de Bretagne</br>
              2021
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="description">
        <p>
          Un reportage photographique a été mené en 2021 par le Musée de Bretagne auprès de personnes tatouées avec des
          motifs à l’inspiration bretonne, ou celtique. Réunies sous le titre « La Bretagne dans la peau », ces images
          nous montrent comment le tatouage est un véritable vecteur sensible d'identité culturelle.
        </p>
        <figure>
          <blockquote>
            « J'ai fait ce tatouage en 2015. Ayant été dans les écoles Diwan de la maternelle au lycée, parlant
            breton, allant danser en fest-noz et jouant ou ayant joué de la musique bretonne dans différents
            groupes (Bagad Boulvriag, Bagad de Lann-Bihoué, Breizharock), je suis très attaché à la Bretagne
            et sa richesse culturelle et je voulais donc un tatouage qui rassemble différents symboles de la Bretagne
            (l'hermine pour son symbole et sa légende ; sa devise en breton ; le triskell et les entrelacs pour
            son appartenance aux pays celtes). »
          </blockquote>
          <figcaption>
            Morgan
          </figcaption>
        </figure>
        <div class="link">
          <a target="_blank" href="http://www.collections.musee-bretagne.fr/resultat.php?q=la%20bretagne%20dans%20la%20peau&spec_expand=&sort_define=score&sort_order=1&rows=12&fq=afficher%3A%28%221%22%29%20AND%20facette_type_ressource:(%22l%22)">
            Découvrir le reportage{% externalLinkIcon '#fff', 'link-icon' %}
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

{% bottomNavigation
  "4. Celt’attitude",
  "/construction_recit/celt_attitude",
  "Aller plus loin",
  "/aller_plus_loin",
  "pink"
%}
