---
title: Celtique ? L'expo - La construction d’un récit
description: "L'identité celte de la Bretagne est largement construite, et cette identité est aujourd'hui popularisée par les productions culturelles."
layout: default.njk

eleventyNavigation:
  key: La construction d’un récit
  parent: Accueil
  order: 4
---
{%  include "breadcrumb.njk" %}
<div id="construction_recit">
  <div class="main-title content">
    <div class="decoration-title" aria-hidden="true" role="graphics-symbol">
      <img loading="lazy" src="/images/decorations/triskell-2.svg" alt=""/>
    </div>
    <h1>La construction d’un récit</h1>
  </div>
  {% waveDecoration "#3A3A3A", "white", "", true %}

  <section class="section-1 content">
    <div class="full-width">
      <div class="full-width-center row__p__figure">
        <div>
          <p>
            Du Moyen Âge au 20<sup>ème</sup> siècle, un récit particulier, <em>fondé sur des faits en partie imaginaires</em>,
            s'est construit autour de l'identité celte de la Bretagne. Loin de la réalité historique
            de la région aujourd'hui attestée par des données scientifiques, ce récit se transforme
            et s'exprime différemment selon les époques.
          </p>
          <p>
            Répondant tour à tour à des objectifs variés - retrouver des racines pour se légitimer et se distinguer,
            interpréter les premières recherches historiques, satisfaire une quête nostalgique des valeurs passées
            ou servir d'argument idéologique - il a contribué à la <em>construction de l'identité régionale</em>.
          </p>
          <p>
            Le celtisme, l'ensemble des connaissances liées aux Celtes, longtemps investi uniquement par les lettrés
            et les intellectuels, se popularise progressivement au 20<sup>ème</sup> siècle avant de gagner largement la société
            contemporaine par le domaine culturel.
          </p>
        </div>
        <div>
          <figure>
            <img loading="lazy" width="340" height="494" src="/images/construction_recit/constructionrecit_affichechemins_opt.jpg"
                 alt="Affiche illustrée en couleur pour la promotion des chemins de fer à destination de la Bretagne. L’illustration montre des femmes avec des coiffes en train de danser au milieu de menhirs et autour d’un feu, avec la mer en arrière-plan." />
            <figcaption>
              <div class="link">
                <a target="_blank" href="/images/construction_recit/hd/constructionrecit_affichechemins_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#fff', "link-icon", 12 %}</a>
              </div>
              <p class="title">« Feux de la Saint-Jean aux Menhirs du Moulin St Pierre de Quiberon »</p>
              <p>
                Affiche des chemins de fer d'Orléans<br/>
                Moreno (affichiste), Imprimerie Moderne M. de Brunoff & Cie<br/>
                1902<br/>
                Musée de Bretagne, Rennes
              </p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="full-width-center" id="mecanisme_identitaire">
      <div>
        <div class="title">Le mécanisme identitaire</div>
        <figure>
          <video controls preload="none" width="550" height="310" poster="/images/construction_recit/video_poster.jpg">
            <source src="/videos/AV012_V3_opt.mp4" type="video/mp4">
            <p>Votre navigateur ne prend pas en charge les vidéos HTML5.
              <a href="/videos/AV012_V3_opt.mp4">un lien pour télécharger la vidéo</a>.</p>
          </video>
          <figcaption>
            <div class="media-info"><span>Durée : 4 min 20 (32 Mo)</span></div>
            <details class="details-small details-transcription">
              <summary>Afficher la transcription</summary>
              <div>
                <p>
                  Comment se fabrique l’identité culturelle ?
                </p><p>
                  Si le yodel tyrolien, le sirtaki, le biniou braz, les castagnettes ou le coucou suisse peuvent paraître
                  clichés, ils participent pourtant à l’identité culturelle d’une région ou d’un pays.
                </p><p>
                  C’est dans un contexte de grandes mutations sociales et industrielles que les nations européennes
                  du 19<sup>ème</sup> siècle trouvent dans leurs traditions populaires un moyen de se projeter dans
                  l’avenir sans perdre leur identité. Longtemps ignorées, ces traditions, souvent d'origine
                  rurale, seraient l’expression d’une culture nationale originelle dont le peuple détiendrait et
                  transmettrait les savoirs et les rites ancestraux.
                </p><p>
                  Mais encore fallait-il recenser et valoriser cet héritage culturel commun. Voilà comment les nations
                  européennes se sont engagées dans une gigantesque fabrique d’identité culturelle.
                </p><p>
                  Et l’Europe entière se découvre une véritable passion pour les langues populaires considérées
                  jusqu’ici comme triviales et grossières.
                </p><p>
                  En 1760, James Macpherson a l’idée de retranscrire des chants populaires écossais dans un recueil
                  retraçant l’épopée celtique du barde Ossian. La mode est lancée et aux quatre coins du continent, les
                  intellectuels battent la campagne pour collecter les langues et les traditions orales de leur région.
                  Les publications foisonnent au 19ème siècle avec en Allemagne Les contes des frères Grimm, Le
                  merveilleux voyage de Nils Olgersson de la suédoise Selma Lagerlöf, le Barzaz Breiz breton ou
                  encore Prosper Mérimée qui édite un recueil de chants populaires des Balkans sans
                  jamais y avoir mis les pieds.
                </p><p>
                  Partout l’identité nationale s’écrit au fil de l’eau. Quand l’archéologie exhume les traces des
                  illustres ancêtres de la nation, la bourgeoisie remet le costume traditionnel au goût du
                  jour. Les meubles, la vaisselle, les outils et l’architecture rurale sont précieusement
                  conservés dans les musées d’ethnographies qui fleurissent au cœur des capitales européennes.
                </p><p>
                  Au même titre que l’histoire et les langues, les arts et traditions populaires deviennent
                  des critères de l’identité culturelle.
                </p><p>
                  Quand la modernité menace de supplanter ce patrimoine ancestral, on collecte à tout
                  va. Fêtes, danse, théâtre, croyances et coutumes : tout ce qui est traditionnel, folklorique et
                  rural est tendance. Quitte à revisiter ou à réinventer certaines traditions pour séduire un public
                  exigeant. Car la culture populaire est autant une source d’inspiration pour les artistes qu’un
                  spectacle pittoresque pour le tourisme bourgeois du 19<sup>ème</sup> siècle.
                </p><p>
                  Le folklore et ses produits dérivés constituent une référence identitaire utilisée
                  dans des perspectives idéologiques très diversifiées. Ce socle culturel commun ravive le sentiment
                  d’appartenance et sert d’outil de propagande pour certains régimes nationalistes du 20<sup>ème</sup> siècle.
                </p><p>
                  Face à la mondialisation, les traditions populaires sont souvent brandies comme un
                  étendard pour toutes sortes de revendications autonomistes ou de replis xénophobes.
                </p><p>
                  Au Tyrol le yodel, à la Grèce le sirtaki, aux bretons le biniou braz : chaque
                  région perpétue ses traditions culturelles comme autant de références touristiques pour la
                  culture de masse.
                </p><p>
                  Les sociétés contemporaines se réapproprient constamment leur héritage culturel sans
                  cesse renouvelé, reconstruit et réinvestit en fonction de leur évolution. La construction de
                  l’héritage celte en Bretagne correspond pleinement à cette nécessité universelle de se fabriquer
                  une identité culturelle commune. Cette quête identitaire née au 19<sup>ème</sup> siècle reste toujours
                  d’actualité dans le contexte mondial de globalisation et d’uniformisation culturelle.
                </p>
              </div>
            </details>
            <p>
              Motion Agency (réalisation)<br/>
              Musée de Bretagne, Rennes<br/>
              2022
            </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>

  <section class="section-2 full-width">
    <div>
      <img width="330" height="925" loading="lazy" src="/images/construction_recit/dither_it_menhir 1.png"
      alt="Menhir"/>
    </div>
    <div>
      <h2>Suite de la lecture</h2>
      <ol>
        <li>
          <a href="/construction_recit/mythes_fondateurs">
            <p class="title">Mythes fondateurs</p>
            <p>Du 9<sup>ème</sup> au 16<sup>ème</sup> siècle</p>
          </a>
        </li>
        <li>
          <a href="/construction_recit/celtomanie">
            <p class="title">Celtomanie</p>
            <p>Du 18<sup>ème</sup> siècle au 19<sup>ème</sup> siècle</p>
          </a>

        </li>
        <li>
          <a href="/construction_recit/regionalisme_panceltisme">
            <p class="title">Régionalisme et panceltisme</p>
            <p>De la fin du 19<sup>ème</sup> siècle à 1945</p>
          </a>
        </li>
        <li>
          <a href="/construction_recit/celt_attitude">
            <p class="title">Celt’attitude</p>
            <p>De 1945 à 1990</p>
          </a>
        </li>
        <li>
          <a href="/construction_recit/epilogue">
            <p class="title">Épilogue</p>
            <p>Et aujourd’hui ?</p>
          </a>
        </li>
      </ol>
    </div>
  </section>

  {% bottomNavigation
    "3. Breton, langue celtique ?",
    "/revenir_aux_sources/breton_langue_celtique",
    "1. Mythes fondateurs",
    "/construction_recit/mythes_fondateurs",
    "pink"
  %}
</div>
