---
title: Celtique ? L'expo - 1. Mythes fondateurs
description: "Au Moyen Âge, des récits religieux ou légendaires associent la Bretagne à des références culturelles celtiques ou gauloises (Merlin, Arthur …)."
layout: default.njk

eleventyNavigation:
  key: 1. Mythes fondateurs
  parent: La construction d’un récit
  order: 1
---
{%  include "breadcrumb.njk" %}
<nav class="upper-navigation-2">
  <span class="title bold">La construction d’un récit</span>
  <ul class="container">
    <li class="box" aria-current="page">
      <a href="/construction_recit/mythes_fondateurs/" aria-current="page" aria-label="1. Mythes fondateurs">
        1
        <div class="text">Mythes fondateurs</div>
      </a>
    </li>
    <li class="box disabled">
      <a href="/construction_recit/celtomanie" aria-label="2. Celtomanie">
        2
        <div class="text">Celtomanie</div>
      </a>
    </li>
    <li class="box disabled">
      <a href="/construction_recit/regionalisme_panceltisme" aria-label="3. Régionalisme, panceltisme">
        3
        <div class="text">Régionalisme, panceltisme</div>
      </a>
    </li>
    <li class="box disabled">
      <a href="/construction_recit/celt_attitude" aria-label="4. Celt’attitude">
        4
        <div class="text">Celt’attitude</div>
      </a>
    </li>
    <li class="box disabled" aria-label="5. Épilogue">
      <a href="/construction_recit/epilogue">
        5
        <div class="text">Épilogue</div>
      </a>
    </li>
  </ul>
</nav>
<div id="mythes_fondateurs">
  <section class="section-1">
    <div class="content">
      <h1>1. Mythes fondateurs</h1>
      <p class="sub-title">Du 9<sup>ème</sup> au 16<sup>ème</sup> siècle</p>
      <hr>
      <h2>Récits et légendes</h2>
      <p>Au Moyen Âge puis à la Renaissance, des récits religieux, légendaires ou politiques associent
        la Bretagne à des <em>références culturelles celtiques, issues d'Outre-Manche ou du passé gaulois</em>
        redécouvert.
      </p>
    </div>
  </section>

  <section class="section-2">
    <figure>
      <div class="figures-mythes">
        <img loading="lazy" width="260" height="378" src="/images/construction_recit/mythesfondateurs_miroirportatif_opt.jpg"
          alt="Boîtier en métal à deux volets mobiles, s’ouvrant sur un emplacement prévu pour un miroir. De forme rectangulaire, il est doté d’une poignée, et surmonté d’ornements."/>
        <img loading="lazy" width="646" height="378" src="/images/construction_recit/mythesfondateurs_detailmiroirportatif_opt.jpg"
          alt="Vue agrandie des deux volets refermés, laissent apparaitre une scène d’arrivée devant une forteresse où est enfermée une reine."/>
      </div>
      {% waveDecoration "#3A3A3A", "#272727", "wave-1" %}
      <figcaption>
        <div class="content">
          <div class="link">
            <a target="_blank" href="/images/construction_recit/hd/mythesfondateurs_miroirportatif_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#fff', "link-icon", 12 %}</a>
          </div>
          <p class="title">Boîtier de miroir portatif</p>
          <p>
            Plomb, étain<br/>
            13<sup>ème</sup> siècle<br/>
            Découvert à Rennes (35), place Saint-Germain<br/>
            Musée de Bretagne, Rennes<br/>
            <a target="_blank" href="http://www.collections.musee-bretagne.fr/ark:/83011/FLMjo404613">
              Portail des collections{% externalLinkIcon '#fff', "link-icon", 12 %}
            </a>
          </p>
          <p class="text-normal">
            La composition décorative de ce boîtier peut être mise en relation avec les récits littéraires
            qui se développent à partir du 12<sup>ème</sup> siècle. La scène reste pour le moment non identifiée
            mais l’arrivée devant une forteresse où est enfermée une reine fait bien partie des
            thèmes récurrents de la mythologie celtique et de la matière de Bretagne, ayant inspiré
            l'art courtois médiéval.
          </p>
        </div>
      </figcaption>
    </figure>
  </section>

  <section class="section-3 content">
    <p class="full-width-center">
      <em>Des histoires héroïques ou mythologiques christianisées, notamment irlandaises, sont ainsi transmises dès le
        haut Moyen Âge par le clergé d'origine galloise.</em>
    </p>
    <p class="full-width-center">
      Puis, entre le 9<sup>ème</sup> et le 12<sup>ème</sup> siècle, d'autres récits adaptent de façon romanesque des éléments celtes au sein de
      la "matière de Bretagne" et du cycle arthurien. Les auteurs, proches des rois anglo-normands, placent l'essentiel
      de l'histoire du roi Arthur dans l'île de Bretagne. Elle a aussi une place importante en France. La Bretagne
      continentale, zone bilingue breton-français, a pu transmettre ces récits à la Normandie, ainsi qu'au reste de
      la France et à l'Europe.
    </p>
    <div class="card full-width-center">
      <h2>Les prophéties de Merlin</h2>
      <div>
        <figure>
          <img loading="lazy" width="498" height="603" src="/images/construction_recit/mythesfondateurs_prophmerlin_opt.jpg"
               alt="Enluminure représentant Merlin, vêtu d’un habit bleu et les mains ouvertes devant lui. "/>
          <figcaption>
            <div class="link">
              <a target="_blank" href="/images/construction_recit/hd/mythesfondateurs_prophmerlin_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
            </div>
            <p class="title">Les prophéties de Merlin</p>
            <p>
              Manuscrit sur parchemin<br/>
              Geoffroy de Monmouth<br/>
              1136<br/>
              Bibliothèque des Champs Libres, Rennes<br/>
              <a target="_blank" href="http://www.tablettes-rennaises.fr/app/photopro.sk/rennes/detail?docid=2158">
                Portail des collections{% externalLinkIcon '#1576A7', "link-icon", 12 %}
              </a>
            </p>
          </figcaption>
        </figure>
        <div>
          <p>
            Les Prophéties de Merlin sont une compilation de récits attribués au devin Merlin. Ils seraient
            issus de la tradition orale bretonne, et ont été <em>mis pour la première fois à l'écrit en latin
              par Geoffroy de Monmouth</em>, évêque et historien gallois. Il est l'auteur de
            l'<span class="italic">Histoire des rois de Bretagne</span>, qui sera la source principale de la légende arthurienne.
          </p>
          <p>
            L’audience de ces textes va bien au-delà des milieux de cour et <em>circule dans toute l'Europe</em>.
          </p>
        </div>
      </div>
    </div>
    <p class="full-width-center">
      À la même période, de premiers récits historiques donnent à la Bretagne des origines mythologiques.
      <em>Longtemps rattachées à un passé gréco-romain, ces origines deviennent gauloises à partir de la
        Renaissance</em>, légitimant l'ancienneté du pouvoir ducal en place.
    </p>
  </section>
  <section class="section-4">
    <div class="figures-title">
      <h2>Un patrimoine écrit</h2>
    </div>
    <div class="figures">
      <div class="figure-block figure-block-1">
        <figure>
          <div>
            <img loading="lazy" width="450" height="450" src="/images/construction_recit/mythesfondateurs_arthur_opt.jpg"
                 alt="Enluminure représentant le roi Arthur, portant une couronne, s’adressant à ses chevaliers assis face à lui."/>
          </div>
          <figcaption>
            <div class="link">
              <a target="_blank" href="/images/construction_recit/hd/mythesfondateurs_arthur_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
            </div>
            <p class="title">
              Recueil de romans de la Table ronde, contenant « L'histoire du Graal », « L'histoire de Merlin », et « Lancelot du Lac »
            </p>
            <p>
              Manuscrit sur parchemin<br/>
              Vers 1220 - 1230<br/>
              <a target="_blank" href="http://www.tablettes-rennaises.fr/app/photopro.sk/rennes/detail?docid=7163">Bibliothèque des Champs Libres, Rennes{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
            </p>
          </figcaption>
        </figure>
        <div class="figure-block-text-right">
          <div class="inner">
            <p class="title">« Le roi Arthur s'adresse à ses chevaliers »</p>
            <p>
              La légende arthurienne a pour source la matière de Bretagne, somme de récits qui mettent en scène les
              Celtes originaires des îles Britanniques - les Bretons-, et leur chef Arthur. Les thèmes et les
              personnages du cycle arthurien se réfèrent à des figures de la société bretonne (chefs, bardes comme Merlin)
              ou à des figures mythologiques païennes (fées, comme la Dame du Lac).
            </p>
          </div>
        </div>
        <div class="figure-block-decoration decoration-1" aria-hidden="true" role="graphics-symbol"></div>
      </div>
      <div class="figure-block figure-block-2">
        <figure>
          <div>
            <img loading="lazy" width="670" height="386" src="/images/construction_recit/mythesfondateurs_croniques_opt.jpg"
               alt="Imprimé représentant Arthur en roi conquérant de la Gaule, dans le cadre d'une bataille navale. "/>
          </div>
          <figcaption>
            <div class="link">
              <a target="_blank" href="/images/construction_recit/hd/mythesfondateurs_croniques_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
            </div>
            <p class="title">
              Quand Arthur passa la mer pour conquérir la Gaule
            </p>
            <p>
              « Les grandes chroniques de Bretagne »<br/>
              Alain Bouchart (auteur)<br/>
              1532<br/>
              <a target="_blank" href="http://www.tablettes-rennaises.fr/app/photopro.sk/rennes/detail?docid=180966">Bibliothèque des Champs Libres, Rennes{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="figure-block figure-block-3">
        <figure>
          <div>
            <img loading="lazy" width="440" height="676" src="/images/construction_recit/mythesfondateurs_docbibliothèque_opt.jpg"
               alt="Page de couverture d’un ouvrage du 16e siècle, illustrée."/>
          </div>
          <figcaption>
            <div class="link">
              <a target="_blank" href="/images/construction_recit/hd/mythesfondateurs_docbibliothèque_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
            </div>
            <p class="title">L'histoire de Bretagne, des rois, ducs, comtes et princes d'icelle</p>
            <p>
              Bertrand d'Argentré (auteur)<br/>
              1583<br/>
              Bibliothèque des Champs Libres, Rennes
            </p>
          </figcaption>
        </figure>
        <div class="figure-block-decoration decoration-2" aria-hidden="true" role="graphics-symbol"></div>
        <div class="figure-block-text-right">
          <p class="inner">
            L'historien Bertrand d'Argentré identifie le breton au gaulois, revendiquant pour son pays une
            ancestralité privilégiée vis-à-vis du royaume de France&nbsp;: la langue devient un argument majeur dans
            l'établissement des origines. Signe des enjeux politiques de l'époque, cette construction se base de
            manière inédite sur une conception ethnique et linguistique de la Bretagne.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
{% moreInformationFooter
  ["Découvrez les podcasts de Bécédia."],
  [
    {
      text: "Écouter le podcast « Les origines de la Bretagne » ➔",
      url: "http://bcd.bzh/becedia/fr/7-annee-0-la-question-des-origines-de-la-bretagne"
    },
    {
      text: "Écouter le podcast « Les légendes arthuriennes » ➔",
      url: "http://bcd.bzh/becedia/fr/5-a-comme-arthur-avec-christine-ferlampin-acher"
    }
  ],
  [
    {
      text: "Témoignage : Jean-Philippe Jaworski nous parle de l'imaginaire celtique comme matière littéraire",
      url: "/temoignages/#temoignage-3",
      isExternal: false
    },
    {
      text: "Les ressources de la bibliothèque : Le roi Arthur, une légende en devenir ?",
      url: "https://www.bibliotheque.leschampslibres.fr/publications/catalogues-dexpositions/le-roi-arthur-une-legende-en-devenir/",
      isExternal: true
    }
  ]
%}

{% bottomNavigation
  "La construction d’un récit",
  "/construction_recit",
  "2. Celtomanie",
  "/construction_recit/celtomanie",
  "pink"
%}
