---
title: Celtique ? L'expo - 3. Régionalisme et panceltisme
description: "Le panceltisme et les fêtes celtiques lient les pays de langue celtique, et inspirent les artistes bretons, reprenant les motifs de triskells, entrelacs."
layout: default.njk

eleventyNavigation:
  key: 3. Régionalisme et panceltisme
  parent: La construction d’un récit
  order: 3
---
{% include "breadcrumb.njk" %}
<nav class="upper-navigation-2">
  <span class="title bold">La construction d’un récit</span>
  <ul class="container">
    <li class="box read">
      <a href="/construction_recit/mythes_fondateurs/" aria-label="1. Mythes fondateurs">
        1
        <div class="text">Mythes fondateurs</div>
      </a>
    </li>
    <li class="box read">
      <a href="/construction_recit/celtomanie" aria-label="2. Celtomanie">
        2
        <div class="text">Celtomanie</div>
      </a>
    </li>
    <li class="box" aria-current="page">
      <a href="/construction_recit/regionalisme_panceltisme" aria-current="page"
         aria-label="3. Régionalisme, panceltisme">
        3
        <div class="text">Régionalisme, panceltisme</div>
      </a>
    </li>
    <li class="box disabled">
      <a href="/construction_recit/celt_attitude" aria-label="4. Celt’attitude">
        4
        <div class="text">Celt’attitude</div>
      </a>
    </li>
    <li class="box disabled" aria-label="5. Épilogue">
      <a href="/construction_recit/epilogue">
        5
        <div class="text">Épilogue</div>
      </a>
    </li>
  </ul>
</nav>
<div id="regionalisme_panceltisme">
  <section class="section-1 content">
    <div class="full-width-center">
      <h1>3. Régionalisme et panceltisme</h1>
      <p class="sub-title">De la fin du 19<sup>ème</sup> siècle à 1945</p>
      <hr>
      <h2>Une communauté celtique étendue ?</h2>
          <p>
            Au tournant des 19<sup>ème</sup> et 20<sup>ème</sup> siècles, débute la construction d'une identité régionale distincte de la
            France, sur fond de panceltisme. Ce courant de pensée affirme l'existence de liens et d'intérêts
            communs avec les pays voisins de langue celtique (Pays de Galles, Écosse, Irlande).
          </p>
    </div>
  </section>
  <section class="section-2">
    <figure>
      <div>
        <img loading="lazy" width="1440" height="742" src="/images/construction_recit/regionalisme_rassemblementdruides_opt.jpg"
             alt="Photographie monochrome d’un rassemblement druidique (Gorsedd). Le grand druide et son acolyte se tiennent debout sur une estrade, tenant l’épée brisée. Ils sont entourés par les druides, bardes et ovates. A l’arrière-plan, des spectateurs les regardent. La scène se déroule dans une clairière."/>
      </div>
      <figcaption class="content full-width-center">
        <div class="link">
          <a target="_blank" href="/images/construction_recit/hd/regionalisme_rassemblementdruides_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#F6F6F6', "link-icon", 12 %}</a>
        </div>
        <p class="title">Rassemblement de druides</p>
        <p>
          Négatif sur verre<br/>
          22 juillet 1906<br/>
          Musée de Bretagne, Rennes<br/>
          <a target="_blank" href="http://www.collections.musee-bretagne.fr/ark:/83011/FLMjo259165">
            Portail des collections{% externalLinkIcon '#fff', "link-icon", 12 %}
          </a>
        </p>
      </figcaption>
    </figure>
    <div class="content">
      <p class="full-width-center">
        Les premières relations entre nations celtes, d'abord fondées sur des critères linguistiques, remontent
        à 1838 lorsqu’une délégation bretonne est accueillie au pays de Galles. Né en Grande-Bretagne au 18<sup>ème</sup>
        siècle, le mouvement néo-druidique gagne la Bretagne à la fin du 19<sup>ème</sup> siècle, imitant le modèle gallois.
        Il prend rapidement une place considérable dans l’essor du mouvement breton. Un premier festival interceltique
        se tient en 1927 à Riec-sur-Belon.
      </p>
    </div>
  </section>
  <section class="section-3">
    <div class="content">
      <div class="row full-width-center">
        <div>
          <p>
            Intellectuels et militants bretons tissent ainsi des relations approfondies avec ces pays et <em>de premières fêtes
              celtiques sont organisées dans les années 1920</em>. Ce sont tout autant des rassemblements du mouvement
            druidique récemment apparu et inspiré de Grande-Bretagne, que des manifestations du mouvement culturel breton.
          </p>
          <p>
            Durant l’entre-deux-guerres, <em>des groupes nationalistes s’approprient et politisent les idées celtisantes</em>,
            considérées comme régénératrices pour la Bretagne.
          </p>
        </div>
        <div>
          <div class="card">
            <div class="card-title">
              <div>
                <svg width="70" height="68" viewBox="0 0 70 68" fill="none" xmlns="http://www.w3.org/2000/svg"><g>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6856 24.1607L29.6203 9.46712C31.0765 8.28836 32.257 8.81866 32.257 10.6573V57.4773C32.257 59.3134 31.0772 59.8467 29.6203 58.6675L11.6856 44.1443H3.45665C2.32074 44.1443 1.3999 43.2469 1.3999 42.146V26.159C1.3999 25.0554 2.32174 24.1607 3.45665 24.1607H11.6856Z" stroke="#D32F7D" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M50.0854 58.8902C60.776 55.4888 68.4976 45.7187 68.4976 34.1966C68.4976 22.6777 60.7802 12.9097 50.0941 9.50586" stroke="#D32F7D" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M45.9712 49.7823C53.0589 48.0007 58.2935 41.7463 58.2935 34.3042C58.2935 26.8704 53.0705 20.6216 45.9948 18.832" stroke="#D32F7D" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M41.1714 40.8137C41.6577 40.8137 42.1322 40.7645 42.5899 40.671C45.6964 40.0362 48.0285 37.3589 48.0285 34.1524C48.0285 30.8987 45.6271 28.1898 42.452 27.6072C42.0371 27.531 41.609 27.4912 41.1714 27.4912" stroke="#D32F7D" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                  </g>
                </svg>
              </div>
              <p>Irlande à jamais !<br/>
                Ode aux martyrs de 1916 (Chapitre IV)</p>
            </div>
            <audio
              controls
              preload="none"
              src="/audios/A09 Irlande a jamais.mp3">
              Your browser does not support the
              <code>audio</code> element.
            </audio>
            <div class="media-info">
              <span>Durée : 2 min 58</span>
              <span>Poids : 2,5 Mo</span>
            </div>
            <p>
              Ecrit en 1919 par Camille Le Mercier d'Erm, poète
              et l'un des fondateurs du parti nationaliste breton (PNB) en 1911.<br/>
              Texte lu par Simon Gauchet<br/>
              Montage sonore par Arnaud Géré.
            </p>
            <details class="details-small details-transcription">
              <summary>Afficher la transcription</summary>
              <div>
                <p>
                  En avril 1916, l'Irish Republican Brotherhood (IRB) déclenche une insurrection à
                  Dublin contre la domination britannique. Patrick Pearse, l'un des leaders du
                  mouvement, proclame la République d'Irlande. La révolte est un échec militaire
                  sanglant, et aux nombreux morts des combats s'ajoutent les exécutions des
                  principaux meneurs du mouvement (Pearse, MacDonagh, Clarke, Connolly ...).
                  Camille Le Mercier d'Erm, fondateur du premier parti nationaliste breton (PNB) en
                  1911, publie en 1919 une ode à cette tentative de libération du peuple irlandais.
                  L'ouvrage Irlande à jamais ! Ode aux martyrs de 1916, glorifie le sacrifice et la lutte de ces
                  "frères d'Irlande". Voici le chapitre IV de ce livre :
                </p><p>
                  Mourez ! mourez ! vous tous qui luttiez pour l'Irlande,<br/>
                  Ô mes frères, ô vous ses plus nobles enfants.<br/>
                  Votre vie était sainte et votre mort est grande<br/>
                  Et votre mort vous défend.<br/>
                  Votre mort vous défend contre leur basse injure...<br/>
                  Mourez, Patrik et Will Pearse, <abbr title="Participants à l'insurrection irlandaise de 1916, parmi les leaders du mouvement. Tous trois seront exécutés en
représailles par l'armée britannique en mai 1916. C'est également le cas de Mac-Dermott et MacDonagh.">Clarke</abbr>, oh ! mourez,<br/>
                  Mac-Dermott, Mac-Donagh, ô vous que transfigure<br/>
                  Un héroïsme sacré !
                </p><p>
                  Mourez, Ceannt, Connolly, <abbr title="Comme Thomas Clarke, Thomas MacDonagh, Patrick Pearse, cités précédemment, Eamonn Ceannt, James
Connolly et Joseph Plunkett sont signataires de la Déclaration de République Irlandaise de 1916.">Plunkett</abbr>, mourez, mes frères !<br/>
                  Mourez, Mac-Neil, O'Hannahan, O'Rahilly !<br/>
                  Mourez, vous tous, puisque les destins sont contraires !<br/>
                  Mourez, Skeffington, Daly !
                </p><p>
                  Meurs, ô toi qui menais la brigade irlandaise,<br/>
                  Au <abbr title="La Brigade irlandaise du Transvaal était une unité de volontaires irlandais engagés pour mener une guerre de
guérilla au côté des Boers contre les forces britanniques pendant la Seconde Guerre des Boers (Afrique du Sud,
1899-1902).">Transwaal</abbr>, coutre les Anglais, Mac-Bride, et toi,<br/>
                  <abbr title="Roger Casement, diplomate britannique de profession, également nationaliste et révolutionnaire irlandais,
accusé de haute trahison, de sabotage et d'espionnage contre la Couronne britannique, et condamné à mort en
1916.">Casement</abbr>, dont le supplice a fait rugir d'aise<br/>
                  Toute l'<abbr title="Ancien nom de la Grande-Bretagne">Albion</abbr> sans foi !
                </p><p>
                  Mourez, mourez d'avoir dévoué votre vie !<br/>
                  Dormez du grand sommeil sans crainte et sans remords !<br/>
                  Je vous chante et vous pleure et vous aime, et j'envie<br/>
                  La splendeur de votre mort.
                </p><p>
                  <abbr title="Exclamation de joie, formule de bénédiction, cri d'enthousiasme.">Hosannah</abbr> ! gloire à vous, à vous tous, hommes braves,<br/>
                  Aux illustres, à ceux dont j'ignore les noms,<br/>
                  À tous ceux que l'Anglais n'aura pu rendre esclaves<br/>
                  Sous le feu de ses canons.
                </p><p>
                  Gloire à tous les <abbr title="Désigne les peuples de langue et/ou de culture gaélique : Irlandais, Écossais, Mannois.">Gaëls</abbr> qu'un saint espoir anime !<br/>
                  Gloire aux <abbr title="Ancien parti politique nationaliste irlandais, fondé en 1905.">Sinn-Fein</abbr> tombés pour leur rêve éternel !<br/>
                  Gloire aux justes trahis, gloire aux fils magnanimes<br/>
                  De Patrik et d'O'Connel !
                </p><p>
                  Gloire à ceux qui t'ont fait leur intégrale offrande,<br/>
                  Bamba ! gloire à leur geste impétueux et beau !<br/>
                  Gloire à la jeune République de l'Irlande,<br/>
                  Vivante dans son tombeau !
                </p><p>
                  Ah ! reposez au sein des terres maternelles,<br/>
                  Frères, et que le Trèfle rouge sur vos corps<br/>
                  Fleurisse, et que la harpe aux plaintes solennelles<br/>
                  Vous berce de ses accords !<br/>
                  Dormez, Celtes, au chant de la Harpe sacrée,<br/>
                  De la Harpe d'Eir-Ean qu'un sang noble empourpra,<br/>
                  Dormez en attendant l'heure tant espérée...<br/>
                  L'Irlande vous vengera.
                </p>
              </div>
            </details>
          </div>
        </div>
      </div>
      <div class="figures-1">
        <figure>
          <div>
            <img loading="lazy" width="420" height="593" src="/images/construction_recit/regionalisme_breizatao2_opt.jpg"
                 alt="Une du journal Breiz Atao, parue en juin 1927. En bleu, le titre du journal est écrit en arc de
                  cercle, stylisé, et surmonte des motifs d’entrelacs. Le journal est sous-titré « la nation bretonne,
                  revue mensuelle du nationalisme breton et du fédéralisme international ». Une citation de Paul Bourget
                  est ensuite inscrite : « Il suffit d’avoir visité quelques recoins un peu perdus de notre Bretagne, ou
                  de l’Irlande, pour avoir l’impression, lucide jusqu’à l’évidence, que c’est en effet une race originale
                   et tout à fait différente de la nôtre, qui continue à vivre sur la terre des ancêtres »."/>
          </div>
          <figcaption>
            <div class="link">
              <a target="_blank" href="/images/construction_recit/hd/regionalisme_breizatao2_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#F6F6F6', "link-icon", 12 %}</a>
            </div>
            <p class="title">Breiz Atao</p>
            <p>
              Revue<br/>
              Juin 1927<br/>
              Centre de Recherche Bretonne et Celtique - UBO - Brest
            </p>
            <p class="text-normal">
              En 1919, se sentant illégitimes face à la génération de la Grande Guerre, de jeunes gens fondent
              le journal Breiz Atao (Bretagne toujours) qui prétend régénérer les Bretons. Il prône un temps le
              panceltisme et devient la voix d'un nationalisme local. Sans écho auprès de la population, le journal
              alimente néanmoins une tendance identitaire nationale bretonne qui se décrédibilise au cours de la
              Seconde Guerre mondiale, du fait de la collaboration de nombre de ses membres avec l’Allemagne nazie.
            </p>
          </figcaption>
        </figure>
        <figure>
          <div>
            <img loading="lazy" width="418" height="593" src="/images/construction_recit/regionalisme_breizatao_opt.jpg"
               alt="Une du journal Breiz Atao parue le 12 mai 1935.  Sur le dessin d’un révolutionnaire irlandais
               armé, la une indique « 1916 ! Il y a 19 ans, les Irlandais ont sauvé leur pays en versant leur sang pour lui »."/>
          </div>
          <figcaption>
            <div class="link">
              <a target="_blank" href="/images/construction_recit/hd/regionalisme_breizatao_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#F6F6F6', "link-icon", 12 %}</a>
            </div>
            <p class="title">Breiz Atao</p>
            <p>
              Journal<br/>
              12 mai 1935<br/>
              Centre de Recherche Bretonne et Celtique - UBO – Brest
            </p>
            <p class="text-normal">
              La révolution irlandaise de 1916 fascine les militants nationalistes, qui entendent régénérer
              les Bretons, "francisés" par la guerre, grâce à la fréquentation de leurs supposés frères
              celtes et de leur apport culturel. Le celtisme devient idéologique. Mais les contacts pris avec
              Irlandais et Gallois dans les années 1920 déçoivent, et dès 1931, le Parti national breton
              regarde vers l’Allemagne.
            </p>
          </figcaption>
        </figure>
      </div>
      <hr/>
      <h2>Artistes et inspiration celtique</h2>
      <p class="small-paragraph">
        Mais la période est surtout celle de l'invention consciente d'une certaine image de la Bretagne
        véhiculée par le tourisme et le folklore. Des courants artistiques puisent abondamment dans les
        thèmes d'un héritage celtique réinterprété, comme le mouvement Ar Seiz Breur.
      </p>
    </div>
  </section>
  {% waveDecoration "#272727", "white", "wave-1" %}
  <section class="section-4">
    <div class="figures">
      <div class="figure-block figure-block-1">
        <figure>
          <div>
            <img loading="lazy" width="500" height="644" src="/images/construction_recit/regionalisme_santpol_opt.jpg"
                 alt="Linogravure dans les tons rouges et bleus représentant Saint Pol en évêque portant la chape et la mitre, et au vêtement orné d’une hermine. Il est inscrit »Sant Pol pedit evidomp», ce qui signifie »Saint Pol priez pour nous» en français. De sa main gauche, il terrasse le dragon marin avec sa crosse. A l'arrière-plan, l'océan, dont les vagues reprennent les motifs d’entrelacs d’inspiration celtique.  "/>
          </div>
          <figcaption>
            <div class="link">
              <a target="_blank" href="/images/construction_recit/hd/regionalisme_santpol_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
            </div>
            <p class="title">Sant Pol pedit evidomp</p>
            <p>
              Estampe<br/>
              Pierre Péron (graveur)<br/>
              Musée de Bretagne, Rennes<br/>
              Licence CC-BY-NC-ND<br/>
              <a target="_blank" href="http://www.collections.musee-bretagne.fr/ark:/83011/FLMjo218423">
                Portail des collections{% externalLinkIcon '#1576A7', "link-icon", 12 %}
              </a>
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="figure-block figure-block-2">
        <figure>
          <img loading="lazy" width="440" height="572" src="/images/construction_recit/regionalisme_fauteuil_opt.jpg"
               alt="Fauteuil au dos sculpté d'un triskell très travaillé. Les accotoirs sont plats, creusés et rainurés. Les montants sont sculptés de motifs géométriques. Les côtés sont pleins et sculptés d'entrelacs celtes. "/>
          <figcaption>
            <div class="link">
              <a target="_blank" href="/images/construction_recit/hd/regionalisme_fauteuil_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
            </div>
            <p class="title">Fauteuil</p>
            <p>
              Jacques Philippe (sculpteur, ébéniste)<br/>
              Entre 1930 et 1939<br/>
              Musée de Bretagne, Rennes<br/>
              Licence CC-BY-NC-ND<br/>
              <a target="_blank" href="http://www.collections.musee-bretagne.fr/ark:/83011/FLMjo280157">
                Portail des collections{% externalLinkIcon '#1576A7', "link-icon", 12 %}
              </a>
            </p>
          </figcaption>
        </figure>
        <div class="figure-block-text-right">
          <p class="inner">
            Dans leur volonté d'associer tradition et renouveau, les membres des Seiz Breur accordent au mobilier
            une place singulière qu'ils concrétisent lors de l'exposition des arts décoratifs de 1925.
            Si Jeanne Malivel et René-Yves Creston en sont les designers, la réalisation est confiée
            aux ébénistes Gaston Sébilleau, Joseph Savina, ou encore Christian Lepart. Lignes robustes,
            pans coupés, sobriété des formes et des motifs sculptés associent fonctionnalité et
            inspiration celtique renouvelée.
          </p>
        </div>
        <div class="figure-block-decoration decoration-1" aria-hidden="true" role="graphics-symbol"></div>
      </div>
      <div class="figure-block figure-block-3">
        <div class="figure-block-text-left">
          <p class="inner">
            René-Yves Creston et Pierre Péron s'associent pour créer une collection de bijoux et de pièces
            d'orfèvrerie utilitaires. Formes et motifs sont le fruit de leur créativité, la réalisation
            est confiée à l'orfèvre parisien Rivière. Cette collection regroupe bagues, bracelets,
            broches, pendentifs, boucles d'oreilles…ornés de motifs inspirés du vêtement bigouden
            et de l'héraldique bretonne. Le triskell y occupe une place de choix.
          </p>
        </div>
        <figure class="broches-figure">
          <div>
            <img loading="lazy" width="410" height="409" src="/images/construction_recit/regionalisme_broche_opt.jpg"
                 alt="Broche de forme circulaire et munie d’un fermoir au dos. Un bandeau occupe le pourtour du bijou, orné de volutes et entrelacs. Le centre de la broche reçoit un décor cruciforme composé de cercles et crosses juxtaposées, pouvant rappeler la croix celtique."/>
            <img loading="lazy" width="560" height="358" src="/images/construction_recit/regionalisme_broche2_opt.jpg"
                 alt="Broche de forme circulaire flanquée de deux cercles plus petits, qui représentent deux volutes reliées entre elles par une ligne dorée barrant le motif central. Le motif central, vert et doré, représente une roue solaire. "/>
          </div>
          <figcaption>
            <div class="link">
              <a target="_blank" href="/images/construction_recit/hd/regionalisme_broche_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
            </div>
            <p class="title">Broches</p>
            <p>
              Broches
              Pierre Péron, Bijoux Kelt, édition Rivière<br/>
              Musée de Bretagne, Rennes<br/>
              Licence CC-BY-NC-ND<br/>
              <a target="_blank" href="http://www.collections.musee-bretagne.fr/ark:/83011/FLMjo220728">
                Portail des collections{% externalLinkIcon '#1576A7', "link-icon", 12 %}
              </a>
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="figure-block figure-block-4">
        <figure>
          <img loading="lazy" width="440" height="458" src="/images/construction_recit/regionalisme_assiette_opt.jpg"
               alt="Assiette décorée d’un liseré bleu et ornée en son centre de motifs géométriques bleus d’inspiration celtique."/>
          <figcaption>
            <div class="link">
              <a target="_blank" href="/images/construction_recit/hd/regionalisme_assiete_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
            </div>
            <p class="title">Assiette</p>
            <p>
              Suzanne Creston (peintre, céramiste), Faïencerie Henriot (HR)<br/>
              1924<br/>
              Musée de Bretagne, Rennes<br/>
              ©Tous droits réservés<br/>
              <a target="_blank" href="http://www.collections.musee-bretagne.fr/ark:/83011/FLMjo219388">
                Portail des collections{% externalLinkIcon '#1576A7', "link-icon", 12 %}
              </a>
            </p>
          </figcaption>
        </figure>
        <div class="figure-block-decoration decoration-2" role="graphics-symbol" aria-hidden="true"></div>
        <div class="figure-block-text-right">
          <div class="inner">
            <p>
              Le domaine de la céramique est celui dans lequel création et diffusion ont été les plus abouties.
              Avant même les Seiz Breur des artistes comme Mathurin Méheut ou René Quillivic ont ouvert la
              voie grâce au soutien des manufactures quimpéroises.
            </p>
            <p>
              Si la thématique bretonne est bien présente, elle est associée tant par la forme que par le décor
              à une modernité beaucoup plus large, inspirée notamment du mouvement Art déco.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% moreInformationFooter
  ["Le néodruidisme","Les Seiz Breur"],
  [
    {
      text: "Voir ces contenus sur Bécédia ➔",
      url: "https://www.bcd.bzh/becedia/"
    }
  ],
  [
    {
      text: "Témoignage : Per Vari Kerloc’h - Grand druide de la Gorsedd de Bretagne",
      url: "/temoignages/#temoignage-1",
      isExternal: false
    },
    {
      text: "Mégalithes et celtomanie (Musée Dévoilé)",
      url: "https://musee-devoile.blog/2022/03/14/megalithes-et-celtomanie/",
      isExternal: true
    }
  ]
%}

{% bottomNavigation
  "2. Celtomanie",
  "/construction_recit/celtomanie",
  "4. Celt’attitude",
  "/construction_recit/celt_attitude",
  "pink" %}
