<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}"/>
  <link rel="stylesheet" href="/assets/main.css?<{{ cacheBust.mainCss }}"/>
  <link rel="icon" type="image/png" href="/images/favicon.ico"/>

  {% if "ELEVENTY_ENV" | env == "production"%}
    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//matomo.rennes.eu/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '6']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
  {% endif %}
</head>
<body>
<header id="header">
  <div class="app-title">
    <div>
      <img loading="lazy" height="78" src="/images/home/musee_blanc.svg" alt="Musée de Bretagne - Les Champs Libres">
    </div>
    <div>
      <a href="{{ '/' | url }}">
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 751.11 98.29"><defs><style>.cls-1{fill:#1d1d1b;}</style></defs><path class="cls-1" d="M502.51,1.26h27c-.75,1.86-1.79,3.52-2.08,5.31a106.39,106.39,0,0,0-1.79,14.72c-.25,12.94-.15,25.9-.09,38.84a21.44,21.44,0,0,0,2.22,9.69c2.93,5.75,8.25,8.41,14.75,7.52,7.67-1,12.52-5.54,15.32-12.53a29.08,29.08,0,0,0,1.92-11.08c-.09-11,0-22-.32-33-.19-6.51-.89-13-4.4-18.84-.07-.11,0-.3,0-.61h27c0,.27,0,.57-.1.75C579,6.27,578.24,11.19,578,16.16a538.59,538.59,0,0,0-.13,54.36,63.79,63.79,0,0,0,2.33,15.79c.69,2.22,1.74,4.34,2.67,6.6-.38,0-.83.1-1.29.1-6.32,0-12.63,0-18.94,0-1.39,0-1.74-.44-1.72-1.75.06-4.8,0-9.6,0-14.41A3.56,3.56,0,0,0,560.5,75c-1.11,1.87-2.12,3.81-3.36,5.59C552.35,87.5,546.28,92.79,537.73,94c-12.11,1.66-22.59-2.88-27.54-15.31a35.17,35.17,0,0,1-2.44-13c-.08-12.3.11-24.61-.15-36.91A173,173,0,0,0,506,9.64c-.33-2.46-1.83-4.76-2.8-7.13-.15-.37-.37-.71-.65-1.25"/><path class="cls-1" d="M145.07,57.06c-5.69-.84-11.14-1.9-16.64-2.38-4.41-.39-8.88-.08-13.58-.08V78.13c12.07-.16,24.13,1.09,35.61-4.8V94.19c-9.89-.42-19.51-1-29.15-1.18s-19.1,0-29,0c4.38-9.22,4.37-18.9,4.37-28.48,0-16.2-.18-32.41-.8-48.6C95.73,11.1,93.82,6.37,92.55,1h54.87V20.72C137,16.38,126,17,114.85,16.54V39.62c10.26-.08,20.42.6,30.22-3.81Z"/><path class="cls-1" d="M72.67,68.94c-.83,8-5.23,13.59-10.93,18.36C45.51,100.85,19.11,93.24,7.82,76c-19.28-29.38-.9-70.56,34-75.67C46.4-.31,51.2.25,55.91.36c3.83.1,7.65.39,11.79.6V24.28c-3.19-1.54-6.19-3.21-9.35-4.47-7-2.8-14.36-4-21.82-2.14C25.27,20.48,18,31.13,18.32,44.29s4.88,23.8,17,30.48c10,5.56,28.1,3.78,35.37-4.52a8.74,8.74,0,0,1,2-1.31"/><path class="cls-1" d="M194.09,78.05c12.42.17,24.52,1,35.74-6.08V95.16c-19.07-4-38.4-1.35-57.87-2.4,4.76-9.92,4.17-20.43,4.33-30.71.24-14.83-.06-29.68-.71-44.5-.24-5.39-2.15-10.7-3.33-16.15h25.88C193,13.06,194.33,25.28,194,37.27c-.34,12.36-.09,24.74-.08,37.11,0,1.1.1,2.19.17,3.67"/><path class="cls-1" d="M366.08,92.86h-25.8c4.92-7.39,4.61-15.71,4.69-23.73q.27-25.77-.67-51.55c-.19-5.39-2.1-10.72-3.25-16.19H366c-5.4,24.54-2.44,49.49-2.61,74.29,0,5.63,1.73,11.27,2.72,17.18"/><path class="cls-1" d="M237.14,26c1.21-8.58,2.33-16.49,3.48-24.62,25.61,3,51,3.64,76.58-.31-.88,7.1-1.78,14.38-2.66,21.43-4.8-1.08-9.31-2.49-13.92-3.05C283,17.34,271.45,31.68,268.91,43.61c-2.32,10.87-1.47,21.43,6.93,29.78,9.94,9.88,29.75,9.31,39.91-.83a20.38,20.38,0,0,0,2.09-3l1.27.77a41,41,0,0,1-.92,4.46c-6,18.67-27.7,27.39-46.7,18.77-18-8.16-26.81-29.68-20.24-49.27,3.43-10.21,9.33-18.52,18.6-24.27.38-.24.71-.58,1.82-1.5-12.48-.08-23.82.58-34.53,7.47"/><path class="cls-1" d="M656,56.63c-5.69-.84-11.14-1.9-16.64-2.38-4.41-.39-8.88-.08-13.58-.08V77.7c12.07-.16,24.12,1.09,35.61-4.8V93.76c-9.89-.42-19.51-1-29.15-1.18s-19.1,0-29,0c4.38-9.22,4.37-18.9,4.37-28.48,0-16.2-.18-32.41-.8-48.6-.19-4.79-2.09-9.51-3.36-14.92h54.86V20.29c-10.42-4.34-21.41-3.77-32.57-4.18V39.19c10.27-.08,20.43.61,30.23-3.81Z"/><path class="cls-1" d="M461.27,50.75A42.63,42.63,0,0,0,458,34.48a27.27,27.27,0,0,0-8.52-11.13c-7.06-5.34-15.06-6.7-23.6-5.08-6,1.14-10.56,4.65-13.84,9.76A29.52,29.52,0,0,0,407.56,42c-.58,7.82.56,15.34,4.36,22.31a25.57,25.57,0,0,0,12,11.39,28.52,28.52,0,0,0,20.51,1.38,22,22,0,0,0,13-10.19,29.12,29.12,0,0,0,3.9-16.11M455.44,85.4c2.29-.43,4.59-.81,6.86-1.3a85.32,85.32,0,0,0,18-5.62c2.16-1,4.17-2.33,6.24-3.51V98a37.37,37.37,0,0,0-4.4-1c-4.31-.49-8.63-1.08-12.95-1.2-10.51-.3-21-.37-31.53-.5a73.13,73.13,0,0,1-13.05-1c-8.65-1.69-16.41-5.19-22.82-11.39a40.39,40.39,0,0,1-11.9-23.42,52.89,52.89,0,0,1,2.34-26.37,50.71,50.71,0,0,1,10.68-17.66A46.92,46.92,0,0,1,421.71,3,40.76,40.76,0,0,1,435.89.63a49,49,0,0,1,14.32,2,40,40,0,0,1,18.65,11.78,42.26,42.26,0,0,1,10,21.75,52.72,52.72,0,0,1,.15,16A42.64,42.64,0,0,1,474.46,66a43.42,43.42,0,0,1-10.52,13.32c-2.38,2-5.06,3.6-7.61,5.37-.3.21-.64.38-1,.57a1.46,1.46,0,0,1,.07.19"/><path class="cls-1" d="M703.74,24.6V1.49a26.57,26.57,0,0,0,4.64.36c3-.27,6-.81,9-1.24,7.19-1,14.25-.84,20.94,2.36q11.12,5.32,12.46,17.58c1,9.17-3.19,15.73-10.48,20.68-3.87,2.63-7.88,5-11.81,7.58a20.24,20.24,0,0,0-2.3,1.72c-3.92,3.35-3.62,8.5.62,11.5a5.93,5.93,0,0,1,1.05,1.46,4.91,4.91,0,0,1-1.86.21,24.24,24.24,0,0,1-11-6.39c-4.37-4.64-4.46-12.85.75-16.54,3.72-2.64,7.62-5,11.42-7.56,2.34-1.55,4.87-2.86,6.29-5.48a6.8,6.8,0,0,0-1.31-8.3c-2.87-2.61-6.39-3.23-10.1-3.18a24,24,0,0,0-17.47,7.68c-.18.18-.39.33-.8.67"/><path class="cls-1" d="M712.22,81.65l6-5.67q3-2.79,5.93-5.56c.51-.47,1-1,1.7-.19,3.5,3.63,7,7.22,10.57,10.83a5.16,5.16,0,0,1,.32.55l-4.59,4.53c-2.24,2.19-4.49,4.37-6.72,6.57-.55.55-1,.86-1.72.16-3.77-3.72-7.58-7.41-11.49-11.22"/>
        </svg><span>L’expo</span></a>
    </div>
  </div>
  {%  include "menu.njk" %}
</header>
<main>
  {{ content | safe }}
</main>
<footer>
  <p>
    <a target="_blank" href="https://www.musee-bretagne.fr/">Musée de Bretagne{% externalLinkIcon '#CBC9BA', "link-icon" %}</a>
  </p>
    <ul>
      <li><a href="/plan_du_site">Plan du site</a></li>
      <li><a href="/ecoconception">Écoconception</a></li>
      <li><a href="/accessibilite">Accessibilité</a></li>
      <li><a href="/mentions_legales">Mentions légales</a></li>
    </ul>
  <p>
  <small>
    Tous les contenus de ce site sont placés, sauf mention contraire, sous licence Creative
    Commons (<a target="_blank" href="https://creativecommons.org/licenses/by-sa/2.0/fr/deed.fr">
      CC BY-SA{% externalLinkIcon '#CBC9BA', '', 12 %}</a>)<br/>
    La charte graphique générale comprend des reprises des créations de l'Atelier Bastien Morin.
  </small>
  </p>
</footer>
{# Decomment if js files are added #}
{# <script src="/assets/vendor.js?<%- cacheBust.vendorJs %>"></script> #}
<script src="/assets/main.js?<%- cacheBust.mainJs %>"></script>
</body>
</html>
