---
title: Exposition Celtique ? - Résultat du test
layout: default.njk

eleventyNavigation:
  key: Résultat du test
  parent: 'Test : Quel profil de celte êtes-vous ?'
---
{%  include "breadcrumb.njk" %}
<div id="profile" class="content">
  <div class="title full-width">
    <h1 class="full-width-center">Résultat du test</h1>
  </div>
  <section class="section-1 full-width">
    <h2 class="full-width-center">Vous seriez plutôt...</h2>

    <div class="name full-width-center">
      <div>
        <img loading="lazy" width="380" height="380" src="/images/test/{{ page.fileSlug }}.svg" alt="Logo du profil '{{ profileName }}'"/>
        <div class="profile-name">
          {{ profileName }}
        </div>
      </div>
      <svg width="794" height="398" viewBox="0 0 794 398" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M794 262.64C794 337.395 627.021 397.996 421.042 397.996C215.063 397.996 0 399.884 0 325.13C0 250.375 215.063 0 421.042 0C627.021 0 794 187.885 794 262.64Z" fill="#E9A139"/>
      </svg>
    </div>
    <p class="description full-width-center">
      {{ profileDescription }}
    </p>
    <hr class="full-width-center">
    <div class="share-area full-width-center">
      <p>Partagez votre résultat !</p>
      <div>
        <span id="url">{{ site.url }}{{ page.url | url }}</span>
        <button id="copy">Copier le lien</button>
      </div>
    </div>
    <section class="full-width-center">
      {{ content |safe }}
    </section>
  </section>
  <section class="section-2 full-width">
    <h2 class="full-width-center">Quels sont les autres profils ?</h2>
    <div class="profiles full-width-center">
      {% if page.fileSlug != 'profil-1' %}
      <div>
        <a href="/test/profil-1">
          <img width="150" height="150" loading="lazy" src="/images/test/profil-1.svg" alt="Logo du profil '{{ profileName }}'"/>
          <h3>Passionné·e</h3>
          <div class="link">Voir le profil</div>
        </a>
        <p>
          Vous êtes une personne à la sensibilité celte très affirmée et vous aimez le partager. Tout ce
          qui se rapporte à la culture celtique vous attire, et vous arborez votre triskell avec fierté.
        </p>
      </div>
      {% endif %}
      {% if page.fileSlug != 'profil-2' %}
      <div>
        <a href="/test/profil-2">
          <img width="150" height="150" loading="lazy" src="/images/test/profil-2.svg" alt="Logo du profil '{{ profileName }}'"/>
          <h3>Celte expert·e</h3>
          <div class="link">Voir le profil</div>
        </a>
        <p>
          Vous êtes une personne captivée par l'histoire des celtes et de la Bretagne. Passionnée d'histoire et
          d'archéologie, vous faites la distinction entre les clichés et la réalité.
        </p>
      </div>
      {% endif %}
      {% if page.fileSlug != 'profil-3' %}
        <div>
          <a href="/test/profil-3">
            <img width="150" height="150" loading="lazy" src="/images/test/profil-3.svg" alt="Logo du profil '{{ profileName }}'"/>
            <h3>Amateur·rice</h3>
            <div class="link">Voir le profil</div>
          </a>
          <p>
            Vous êtes une personne curieuse de la culture celte. Sans être familière du sujet dans tous ses détails,
            l'imaginaire celte vous interpelle et vous intrigue.
          </p>
        </div>
      {% endif %}
      {% if page.fileSlug != 'profil-4' %}
        <div>
          <a href="/test/profil-4">
            <img width="150" height="150" loading="lazy" src="/images/test/profil-4.svg" alt="Logo du profil '{{ profileName }}'"/>
            <h3>Celtosceptique</h3>
            <div class="link">Voir le profil</div>
          </a>
          <p>
            Vous êtes sceptique quant au volet celtique de la culture bretonne, vous doutez de sa réalité. Cela ne
            vous empêche pas d'apprécier la Bretagne et ses paysages, à laquelle vous portez un attachement sincère.
          </p>
        </div>
      {% endif %}
    </div>
  </section>
</div>
{% bottomNavigation
  "Accueil",
  "/",
  "Témoignages : qu'en disent-ils et elles ?",
  "/temoignages",
  "blue"
%}

<script>
  const copyButton = document.querySelector("#copy");
  function copy() {
    const copyText = document.querySelector('#url').innerHTML;
    navigator.clipboard.writeText(copyText).then(function() {
      /* clipboard successfully set */
      copyButton.innerHTML = 'Copié !'
      setTimeout(function () {
        copyButton.innerHTML = 'Copier le lien'
      }, 5000);
    }, function() {
      /* clipboard write failed */
    });
  }

  copyButton.addEventListener("click", copy);
</script>
