---
title: Accessibilité - Celtique ?
description: "Ce site web a été conçu et réalisé dans le respect des normes d'accessibilité du web(W3C)."
layout: default.njk

eleventyNavigation:
  key: Accessibilité
  parent: Accueil
  order: 7
---
{% include "breadcrumb.njk" %}

<div id="accessibilite">
  <section class="content">
    <div class="full-width-center">
      <h1>Accessibilité</h1>
      <p>
        Cette page vise à préciser le niveau d'accessibilité général visée sur le site web, avec comme référence les
        obligations légales en vigueur, les référentiels RGAA et W3C. Ce n'est pas une page d'aide.
      </p>
      <p>
        Pour des aides relatives à la navigation et aux aménagements particuliers du Musée
        de Bretagne, visitez la page dédiée à l'accessibilité ou bien la page
        d'aide du site <a href="https://www.leschampslibres.fr">www.leschampslibres.fr</a>.
      </p>
      <p>
        Ce site n'a pas encore fait l'objet d'une déclaration de conformité.
      </p>

      <h2>Technologies utilisées pour la réalisation du site web</h2>

      <ul>
        <li><a href="https://www.11ty.dev/">11ty</a> : générateur de site statique en HTML, CSS, JS</li>
        <li><a href="https://github.com/stowball/elf">Elf starter kit</a> : kit de démarrage 11ty</li>
        <li><a href="https://eduardoboucas.github.io/include-media">@include-media</a> : bibliothèque CSS pour faciliter le responsive</li>
      </ul>
      <h2>Méthodologie appliquée</h2>
      <p>
        Lors de la conception et du développement, une attention particulière a été portée
        à l’accessibilité numérique du site, en appliquant au mieux les critères du référentiel RGAA.
      </p>
      <h3>Images et médias</h3>
      <p>Les images et médias étant le cœur de l’exposition, il est crucial que l’information soit
        accessible. Voici une liste non-exhaustive des éléments pris en compte :
      </p>
      <ul>
        <li>Chaque image de l’exposition contient une description alternative suffisamment
          détaillée pour permettre la compréhension.</li>
        <li>Chaque image contenant du texte (telle que l’image sur les origines de la langue
          bretonne) est complétée d’une description accessible détaillant les éléments textuels
          de l’image.</li>
        <li>Chaque vidéo intégrée dans le site contient une transcription.</li>
        <li>Chaque vidéo intégrée contient des sous-titres.</li>
        <li>Chaque piste audio d’entretien contient une transcription.</li>
        <li>Aucune vidéo ni aucun audio ne se déclenche automatiquement.</li>
      </ul>
      <h3>Textes</h3>
      <p>
      Une attention particulière a également été portée sur les textes :
      </p>
      <ul>
        <li>Les contenus écrits ont été structurés de manière logique selon une hiérarchie de texte.</li>
        <li>Les contenus écrits ont été le plus possible décomposés dans de petits paragraphes illustrés avec les mots importants en gras.</li>
        <li>Les contrastes des textes, y compris dans les boutons, respectent un ratio de 4.5.</li>
        <li>Les textes sont écrits en taille 14 minimum (fil d’ariane) mais principalement en taille 18 ou 20, plus confortable à la lecture.</li>
        <li>Les siècles ont été écrits en chiffres plutôt qu’en nombres romains pour faciliter la compréhension via lecteurs d’écran.</li>
        <li>Les acronymes et les mots en anglais ont été évités le plus possible.</li>
      </ul>
      <h3>Liens et boutons</h3>
      <ul>
        <li>Les hyperliens et boutons ont été nommés de la manière la plus explicite possible.</li>
        <li>Les hyperliens vers l’extérieur sont complétés d’une icône de “sortie” de site.</li>
      </ul>
      <h3>Autres éléments</h3>
      <ul>
        <li>
          Le site ne contient aucun élément mouvant.
        </li>
        <li>
          Les zones de clic sont larges (généralement 40 pixels au minimum).
        </li>
        <li>Le site a été conçu de manière responsive.</li>
        <li>Deux modes de navigation ont bien été prévus : un menu et un plan du site.</li>
      </ul>

      <h2>Outils utilisés :</h2>
      <ul>
        <li>Référentiel RGAA</li>
        <li>Wave</li>
        <li>Extension « Contrast » dans Figma</li>
        <li>Lighthouse</li>
      </ul>

{#      <p>#}
{#        Avant publication le site a bénéficié d'un test utilisateur auprès d'un panel d'usagers#}
{#        des Champs Libres répondant à une diversité de profils d'accessibilité (mal ou non#}
{#        voyant, sourd ou malentendant ….). La synthèse de leur retour est présentée ici.#}
{#      </p>#}
      <h2>Contenus non accessibles</h2>
      <p>
       Le site n’a pas encore fait l’objet d’un audit d’accessibilité complet.
      </p>
      <p>
        Il se peut que certains éléments suivants dérogent à l’obligation RGAA :
      </p>
      <ul>

        <li>Certains contrastes dans les composants en état de survol sont peut-être en deçà
          du ratio 4.5.</li>
        <li>Certaines zones de clic font peut-être 35 pixels de large seulement.</li>
        <li>Il se peut qu’il reste certains mots en anglais.</li>
      </ul>

      <h2>Amélioration et contact</h2>
      <p>
        Vous pouvez nous aider à améliorer l'accessibilité du site en nous signalant les problèmes
        éventuels que vous rencontrez. Pour ce faire, envoyez-nous un courriel à
        <a href="mailto:accessibilite@leschampslibres.fr">accessibilite@leschampslibres.fr</a>.
      </p>
      <h2>Défenseur des droits</h2>
      <p>
      Si vous constatiez un défaut d'accessibilité vous empêchant d'accéder à un contenu ou
        une fonctionnalité du site, que vous nous le signaliez et que vous ne parveniez pas à
        obtenir une réponse rapide de notre part, vous êtes en droit de faire parvenir vos
        doléances ou demande de saisine au Défenseur des droits :
      </p>
      <ul>
        <li>Par courrier (envoi gratuit sans affranchissement) :
          <address>
            Défenseur des droits<br/>
            Libre réponse 71120 <br/>
            75342 Paris CEDEX 07
          </address>
        </li>
        <li>Via le formulaire en ligne : <a href="https://www.defenseurdesdroits.fr/contact">www.defenseurdesdroits.fr/contact</a></li>
      </ul>
    </div>
  </section>
</div>
