---
title: Aller plus loin - Celtique ?
description: "Les ressources du musée : collections, blog musée dévoilé, rencontres. Découvrez les partenaires : Bécédia, CRBC, INRAP, FIL, Âmes de Bretagne."
layout: default.njk

eleventyNavigation:
  key: Aller plus loin
  parent: Accueil
  order: 5
---
{% include "breadcrumb.njk" %}
<div id="aller_plus_loin">
  <section class="section-1 content">
    <h1 class="full-width-center">Aller plus loin</h1>
    <p class="full-width-center">
      Découvrez d’autres ressources sur le sujet du celtisme et de la Bretagne, et retrouvez
      les médias du site regroupés au même endroit.
    </p>
    <nav class="navigation full-width">
      <ul class="navigation-list full-width-center">
        <li class="navigation-item">
          <a href="/aller_plus_loin/#collection_en_ligne">
            <span>Collections en ligne</span><span class="arrow">↓</span>
          </a>
        </li>
        <li class="navigation-item">
          <a href="/aller_plus_loin/#les_medias_de_l_exposition">
            <span>Les médias de l’exposition</span><span class="arrow">↓</span>
          </a>
        </li>
        <li class="navigation-item">
          <a href="/aller_plus_loin/#blog_musee_devoile">
            <span>Blog « Musée Dévoilé »</span><span class="arrow">↓</span>
          </a>
        </li>
        <li class="navigation-item">
          <a href="/aller_plus_loin/#ailleurs_sur_le_web">
            <span>Ailleurs sur le web</span><span class="arrow">↓</span>
          </a>
        </li>
      </ul>
    </nav>
  </section>
  <section class="section-2 content">
    <h2 class="full-width-center">Les ressources du musée</h2>
    <div class="full-width-center">
      <div aria-hidden="true" id="collection_en_ligne"></div>
      <div class="card-right-image">
        <div class="card-right-image_content">
          <div class="card-right-image_title">
            <div>
              <p>Objets d’histoire</p>
              <h3>Les collections en ligne</h3>
            </div>
          </div>
          <p>
            Retrouvez parmi plus de 300 000 éléments numérisés (photographies, objets, documents…), les
            collections du Musée de Bretagne associées à la question de l'identité celtique en Bretagne.
          </p>
          <p>
          <a target="_blank"
                   href="http://www.collections.musee-bretagne.fr/parcours.php?id=musee:MUS_TH_PARCOURS_CONCEPTS:220">
            Découvrir le parcours thématique « Celtique ? »{% externalLinkIcon '#1576A7', "link-icon" %}</a>
          </p>
        </div>
        <div class="card-right-image_image">
          <img loading="lazy" width="366" height="366"
               src="/images/aller_plus_loin/allerplusloin_portailcollections_opt.png"
               alt="Fauteuil au dos sculpté d'un triskell très travaillé. Les accotoirs sont plats, creusés et rainurés. Les montants sont sculptés de motifs géométriques. Les côtés sont pleins et sculptés d'entrelacs celtes. "/>
        </div>
        <div class="card-right-image_image_button">
          <a target="_blank" class="button-white" href="http://www.collections.musee-bretagne.fr/">Voir plus de
            collections{% externalLinkIcon '#2B5970', "link-icon" %}</a>
        </div>
      </div>
      <div aria-hidden="true" id="blog_musee_devoile"></div>
      <div class="card-right-image">
        <div class="card-right-image_content">
          <div class="card-right-image_title">
            <div>
              <p>Coulisses du musée</p>
              <h3>Le blog « Musée dévoilé »</h3>
            </div>
          </div>
          <p>
            Découvrez ici les articles sur les coulisses du Musée de Bretagne et de l'exposition "Celtique ?" :
          </p>
          <ul>
            <li><a target="_blank"
                   href="https://musee-devoile.blog/2022/02/07/acquisition-dun-buffet-bibliotheque-de-joseph-savina/">Acquisition
                d’un buffet-bibliothèque de Joseph Savina{% externalLinkIcon '#1576A7', "link-icon" %}</a></li>
            <li><a target="_blank"
                   href="https://musee-devoile.blog/2021/01/11/reflets-de-la-tradition-musicale-bretonne-dans-les-collections-du-musee-de-bretagne/">Reflets
                de la tradition musicale bretonne dans les collections du Musée de Bretagne{% externalLinkIcon '#1576A7', "link-icon" %}</a></li>
          </ul>
        </div>
        <div class="card-right-image_image">
          <img loading="lazy" width="360" height="395" src="/images/aller_plus_loin/allerplusloin_museedevoile_opt.png"
               alt="Photographie de l'installation par les équipes d'une vitrine circulaire lors du montage de l'exposition Celtique ? au Musée de Bretagne."/>
        </div>
        <div class="card-right-image_image_button">
          <a target="_blank" class="button-white" href="https://musee-devoile.blog/category/documenter/celtique/">Voir plus
            d'articles{% externalLinkIcon '#2B5970', "link-icon" %}</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section-3 ">
    <div class="ressource">
      <div class="ressource_title">Les rencontres autour de l'exposition</div>
      <div class="ressource_image">
        <img loading="lazy" width="426" height="264"
             src="/images/aller_plus_loin/allerplusloin_salledeconference_opt.jpg"
             alt="Photographie de l'auditorium des Champs Libres à Rennes, accueillant des spectateurs et deux conférenciers sur le plateau."/>
      </div>
      <p class="ressource_content">
        Une programmation culturelle riche et variée (rencontres, concerts, visites, projections...) accompagne
        l’exposition sur toute sa durée. De nombreux partenaires, tel que le Festival Interceltique, y
        sont associés.
      </p>
      <div class="ressource_buttons">
        <a class="button-blue" target="_blank"
           href="https://soundcloud.com/user-167731910/sets/exposition-celtique?utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing">
          Retrouver toutes les rencontres audios{% externalLinkIcon '#fff', "link-icon", 12 %}</a>
        <a class="button-white" target="_blank" href="https://www.musee-bretagne.fr/expositions/celtique/">
          Voir la programmation {% externalLinkIcon '#2B5970', "link-icon", 12 %}</a>
      </div>
    </div>
    <div class="ressource">
      <div class="ressource_title">Les ressources pédagogiques</div>
      <div class="ressource_image">
        <img loading="lazy" width="426" height="264"
             src="/images/aller_plus_loin/allerplusloin_ressourcespedago_opt.jpg"
             alt="Photographie prise au cours d'une médiation au Musée de Bretagne, avec des enfants et autour des collections archéologiques du musée."/>
      </div>
      <p class="ressource_content">
        Chaque exposition du Musée de Bretagne est l'occasion d'ouvrir de nouveaux horizons pour
        les publics scolaires. Retrouvez ici les dossiers pédagogiques et les offres de médiation en lien
        avec l'exposition « Celtique ? »
      </p>
      <div class="ressource_buttons">
        <a class="button-blue" target="_blank"
          href="https://www.leschampslibres.fr/les-champs-libres-vous/enseignants/le-programme/">
          Voir le programme des médiations{% externalLinkIcon '#fff', "link-icon", 12 %}</a>
        <a class="button-white" target="_blank" href="https://www.musee-bretagne.fr/expositions/celtique/">
          Voir le dossier pédagogique {% externalLinkIcon '#2B5970', "link-icon", 12 %}</a>
      </div>
    </div>
  </section>
  <section id="les_medias_de_l_exposition" class="section-4 content">
    <div class="full-width-center">
      <h2>Les médias présentés dans l’exposition</h2>
      <p>
        Approfondissez vos connaissances en découvrant ou redécouvrant les vidéos et audios de l’exposition « Celtique ? ».
      </p>
      <h3>Les vidéos</h3>
      <figure class="section-4_video">
        <h4>Comment se fabrique l'identité culturelle ?</h4>
        <video controls preload="none" width="550" height="310" poster="/images/construction_recit/video_poster.jpg">
          <source src="/videos/AV012_V3_opt.mp4" type="video/mp4">
          <p>Votre navigateur ne prend pas en charge les vidéos HTML5.
            <a href="/videos/AV012_V3_opt.mp4">un lien pour télécharger la vidéo</a>.</p>
        </video>
        <figcaption>
          <div class="media-info"><span>Durée : 4 min 20 (32 Mo)</span></div>
          <details class="details-small details-transcription">
            <summary>Afficher la transcription</summary>
            <div>
              <p>
                Comment se fabrique l’identité culturelle ?
              </p><p>
                Si le yodel tyrolien, le sirtaki, le biniou braz, les castagnettes ou le coucou suisse peuvent paraître
                clichés, ils participent pourtant à l’identité culturelle d’une région ou d’un pays.
              </p><p>
                C’est dans un contexte de grandes mutations sociales et industrielles que les nations européennes
                du 19<sup>ème</sup> siècle trouvent dans leurs traditions populaires un moyen de se projeter dans
                l’avenir sans perdre leur identité. Longtemps ignorées, ces traditions, souvent d'origine
                rurale, seraient l’expression d’une culture nationale originelle dont le peuple détiendrait et
                transmettrait les savoirs et les rites ancestraux.
              </p><p>
                Mais encore fallait-il recenser et valoriser cet héritage culturel commun. Voilà comment les nations
                européennes se sont engagées dans une gigantesque fabrique d’identité culturelle.
              </p><p>
                Et l’Europe entière se découvre une véritable passion pour les langues populaires considérées
                jusqu’ici comme triviales et grossières.
              </p><p>
                En 1760, James Macpherson a l’idée de retranscrire des chants populaires écossais dans un recueil
                retraçant l’épopée celtique du barde Ossian. La mode est lancée et aux quatre coins du continent, les
                intellectuels battent la campagne pour collecter les langues et les traditions orales de leur région.
                Les publications foisonnent au 19ème siècle avec en Allemagne Les contes des frères Grimm, Le
                merveilleux voyage de Nils Olgersson de la suédoise Selma Lagerlöf, le Barzaz Breiz breton ou
                encore Prosper Mérimée qui édite un recueil de chants populaires des Balkans sans
                jamais y avoir mis les pieds.
              </p><p>
                Partout l’identité nationale s’écrit au fil de l’eau. Quand l’archéologie exhume les traces des
                illustres ancêtres de la nation, la bourgeoisie remet le costume traditionnel au goût du
                jour. Les meubles, la vaisselle, les outils et l’architecture rurale sont précieusement
                conservés dans les musées d’ethnographies qui fleurissent au cœur des capitales européennes.
              </p><p>
                Au même titre que l’histoire et les langues, les arts et traditions populaires deviennent
                des critères de l’identité culturelle.
              </p><p>
                Quand la modernité menace de supplanter ce patrimoine ancestral, on collecte à tout
                va. Fêtes, danse, théâtre, croyances et coutumes : tout ce qui est traditionnel, folklorique et
                rural est tendance. Quitte à revisiter ou à réinventer certaines traditions pour séduire un public
                exigeant. Car la culture populaire est autant une source d’inspiration pour les artistes qu’un
                spectacle pittoresque pour le tourisme bourgeois du 19<sup>ème</sup> siècle.
              </p><p>
                Le folklore et ses produits dérivés constituent une référence identitaire utilisée
                dans des perspectives idéologiques très diversifiées. Ce socle culturel commun ravive le sentiment
                d’appartenance et sert d’outil de propagande pour certains régimes nationalistes du 20<sup>ème</sup> siècle.
              </p><p>
                Face à la mondialisation, les traditions populaires sont souvent brandies comme un
                étendard pour toutes sortes de revendications autonomistes ou de replis xénophobes.
              </p><p>
                Au Tyrol le yodel, à la Grèce le sirtaki, aux bretons le biniou braz : chaque
                région perpétue ses traditions culturelles comme autant de références touristiques pour la
                culture de masse.
              </p><p>
                Les sociétés contemporaines se réapproprient constamment leur héritage culturel sans
                cesse renouvelé, reconstruit et réinvestit en fonction de leur évolution. La construction de
                l’héritage celte en Bretagne correspond pleinement à cette nécessité universelle de se fabriquer
                une identité culturelle commune. Cette quête identitaire née au 19<sup>ème</sup> siècle reste toujours
                d’actualité dans le contexte mondial de globalisation et d’uniformisation culturelle.
              </p>
            </div>
          </details>
          <p>
            Motion Agency (réalisation)<br/>
            Musée de Bretagne, Rennes<br/>
            2022
          </p>
        </figcaption>
      </figure>
      <details>
        <summary class="button-transparent">Voir plus de vidéos</summary>
        <div>
          <figure class="section-4_video">
            <h4>Entretien avec Alan Stivell</h4>
            <video controls preload="none" width="550" poster="/images/construction_recit/celt_attitude_video_poster.png">
              <source src="/videos/AV10 ALAN STIVELL WEB 15-03-2022_opt2.mp4" type="video/mp4">
              <p>Votre navigateur ne prend pas en charge les vidéos HTML5.
                <a href="/videos/AV10 ALAN STIVELL WEB 15-03-2022_opt2.mp4">un lien pour télécharger la vidéo</a>.</p>
            </video>
            <figcaption>
              <div class="media-info"><span>Durée : 10 min 05</span></div>
              <details class="details-small details-transcription">
                <summary>Afficher la transcription</summary>
                <div>
                  <p>
                    Toute ma vie est née de ce coup de foudre pour l'instrument construit par mon père, et son rêve de réinstaller la harpe celtique en Bretagne.
                  </p><p>
                    Et voilà, ça a été une vraie magie.
                  </p><p>
                    C'est-à-dire qu'à la première note, j'ai été touché, emporté. J'ai eu la chance d'être immergé enfant dans une conjugaison improbable de toutes les cultures celtiques.
                  </p><p>
                    Jouer des airs irlandais, écossais, gallois, bretons, a créé l'évidence qu'il y avait une unité.
                  </p><p>
                    Aucun ethnomusicologue n'aurait dit que ça correspondait à une réalité.
                  </p><p>
                    Mais je ressentais quand même qu'il y avait quelque chose, non pas dans la structure des morceaux, dans les notes écrites, mais entre les notes, donc quelque chose qui ne se voit pas, ne se lit pas.
                  </p><p>
                    L'identité, des fois, tient à des choses qui ont l'air minimes, micro, et... Et en réalité, ces petites choses sont énormes.
                  </p><p>
                    - Qu'y a-t-il de celtique dans la première harpe ? Quelle différence avec les autres ?
                  </p><p>
                    - Un Breton ou un Celte fait les choses d'une façon qui est influencée par la personnalité de son pays.
                  </p><p>
                    Donc, s'il construit une maison, s'il fabrique une harpe ou autre chose, une bombarde, elle sera toujours différente de ce qu'on trouve ailleurs.
                  </p><p>
                    Par exemple, ce qu'on appelle "bombarde" s'appelle "shahnâi" en Inde, ou "ciaramella" en Italie.
                  </p><p>
                    Quand on n'y regarde pas de trop près, c'est la même chose.
                  </p><p>
                    Mais en fait, une petite différence fait toute la différence, et donc, une harpe celtique est une harpe fabriquée par un Celte, et dont joue un Celte.
                  </p><p>
                    L'important, tout d'abord, c'est la musique jouée avec l'instrument.
                  </p><p>
                    - Cette celtitude justement, pour vous, en termes d'identité, c'était une quête, une recherche. La musique vous a aidé à trouver cette identité ?
                  </p><p>
                    - Cette passion celtique, pour certaines personnes, c'était celle d'un fou. Il y avait une forme de folie, c'était et ça reste une obsession. J'ai trouvé des antidotes, parce que cette celtitude s'est installée dans une curiosité pour toutes les cultures.
                  </p><p>
                    - L'après-guerre en Bretagne a été une période de renouveau musical. Cette période a eu une importance dans votre parcours ?
                  </p><p>
                    - L'après-guerre a eu une importance fondamentale. On la mélange souvent avec des périodes postérieures. En fait, les années 50 ont vu une sorte de "revival" de l'intérêt pour la culture bretonne, pour ses aspects plutôt traditionnels.
                  </p><p>
                    Donc, la danse... Ce qui a été central, c'est l'innovation du "bagad".
                  </p><p>
                    Cet ensemble bagad a eu un énorme impact, et a commencé à l'époque autour du mouvement des bagad où, pas mal de choses ont commencé à naître. Loeiz Ropars qui relance le fest-noz, le "kan ha diskan". Et à ce moment-là, mon père veut ressusciter la harpe des anciens bretons, du Moyen Âge, et la réinstaller dans le 20e siècle.
                  </p><p>
                    - Dans ces années 50, quelle musique écoutez-vous ?
                  </p><p>
                    - Avant, je m'intéressais surtout à des gens qui faisaient la fusion musique traditionnelle-musique classique. Et puis arrive ce rock and roll, comme un sauveur. J'avais 18-20 ans, et je voulais une musique qui soit de ma génération, qui soit dans mon présent.
                  </p><p>
                    Le rock and roll arrive à la fin des années 50, et après avoir commencé dans une mouvance celto-classique, j'ai envie d'une musique qui serait le mariage entre le rock et la musique celtique. J'étais jaloux des guitaristes électriques. Je commençais à dessiner des harpes électriques. Ça n'existait pas. J'ai exploré différentes directions. Ce qui m'intéressait, c'était d'aller vers l'inconnu, vers de nouveaux instruments.
                  </p><p>
                    - Après cette période des premières années, et l'ensemble de ces sources d'inspiration qui a constitué votre premier parcours, dès les années 60, vous commencez à avoir un style très personnel, qui ne se résume pas du tout seulement à de l'adaptation de répertoire connu, traditionnel.
                  </p><p>
                    - Comment travaillez-vous, et d'une certaine façon, quelle est la part de l'héritage et celle de l'invention ?
                  </p><p>
                    - L'idée, c'était à la fois de partir de... de thèmes traditionnels, et d'ajouter de la composition, de la création pure et dure. Il y avait un mélange, une addition des deux. J'avais des envies de modernité radicale. Mais...Mais j'avais surtout envie de faire des choses qui n'avaient pas été faites. Qu'est-ce que ferait une guitare électrique avec la harpe et tel autre instrument ? Des grands orgues, même si elles sont imitées électroniquement, avec une cornemuse ? Un violoncelle avec un luth et une guitare acoustique ? Tel morceau inspiré du bluegrass ou du country... Ceci, cela...Et toutes ces expériences vont se développer encore plus dans les albums ultérieurs, comme "Olympia" ou "Chemins de terre", où l'aspect rock va prendre encore plus d'importance. Et aussi intégrer des instruments comme la quena d'Amérique du Sud. Le côté "musiques du monde" est là dès le départ. Et je le proclame comme une forme de manifeste sur la préface de "Reflets", mon premier album professionnel, où j'appelle de mes vœux que toute ma génération s'inspire de ses racines, se frotte aux autres, et à la modernité. Il fallait communiquer cette passion, et faire comprendre, bien sûr aux Bretons et aux Bretonnes, tout l'intérêt de notre culture, de notre musique. Tout bêtement en fait, en m'exprimant en tant que jeune de cette époque du rock, il s'est avéré que ça a eu un succès que personne n'aurait imaginé. Ce qui est fou, c'est la vitesse à laquelle les choses sont arrivées. En 1966, je décide de chanter et de devenir professionnel. En 1967, j'ai déjà mon contrat international. En 1968, je suis à Londres, au Queen Elizabeth Hall avec les Moody Blues, un groupe numéro un à l'époque. Et donc... Et donc, en 1970, le premier album est un succès important, ce qui fait que l'Olympia s'ouvre à moi. Et en février 1972, le concert à l'Olympia était diffusé en direct sur Europe 1, une des trois grandes radios de l'époque. Et donc, des millions de gens sont mis en contact avec ma musique, une musique qui contraste totalement avec l'image qu'ils avaient de la musique bretonne. Ça, c'est grâce aussi aux musiciens qui m'ont accompagné : Dan Ar Braz, Gabriel Yacoub, tous ces bons musiciens, qui m'ont permis de ne pas rougir en passant après les Stones ou d'autres groupes. Ce qui fait que ces gens qui avaient une image de la musique bretonne désastreuse ont été d'un seul coup impressionnés par un côté professionnel. Une musique bretonne professionnelle. Et il y avait cette recherche de modernité, qui était une forme de choc pour pas mal de gens.
                  </p>
                </div>
              </details>
              <p>
                Entretien avec Alan Stivell<br/>
                Marie-Noëlle Faulon, Paskal Nignol et Manon Six (interview), Arnaud Géré (réalisation)<br/>
                Musée de Bretagne, Rennes<br/>
                2022
              </p>
            </figcaption>
          </figure>
          <figure class="section-4_video">
            <h4>Celtique ? Regards de scientifiques</h4>
            <video controls preload="none" width="550" poster="/images/home/video.jpg">
              <source src="/videos/AV01 03-03-2022_opt.mp4" type="video/mp4">
              <p>Votre navigateur ne prend pas en charge les vidéos HTML5.
                <a href="/videos/AV01 03-03-2022_opt.mp4">un lien pour télécharger la vidéo</a>.</p>
            </video>
            <figcaption>
              <div class="media-info">
                <span>Durée : 4 min 05 (33 Mo)</span>
              </div>
              <details class="details-small details-transcription">
                <summary>Afficher la transcription</summary>
                <div>
                  <p>
                    -  La Bretagne est-elle celtique ? Nous avons interrogé 6 membres du conseil scientifique de l'exposition, 6 experts dans leur domaine.
                  </p><p>
                    - Euh...
                  </p><p>
                    - Bon. Posons la question différemment : que signifie le terme "celtique" dans votre domaine ?
                  </p><p>
                    Hélène Jagot, Historienne de l'art, directrice des Musées-Château de Tours :
                  </p><p>
                    - Le celtisme en histoire de l'art correspond à la représentation des Celtes, qui sont les habitants de la Bretagne de l'Antiquité, mais également à toutes les légendes et histoires de la Bretagne, depuis cette période jusqu'à aujourd'hui. Avec la légende arthurienne, les légendes autour de certaines villes fantastiques ou personnages fantastiques, que les artistes ont largement représentées au 19e siècle.
                  </p><p>
                    Erwan Chartier, Journaliste-chercheur en politologie, spécialiste de l'interceltisme :
                  </p><p>
                    - Le celtisme est un courant de pensée du 19e siècle romantique. Au 20e siècle, il a évolué vers l'inter-celtisme, les échanges entre Bretagne et autres pays celtes d'Europe. C'est une construction intellectuelle, basée sur un récit historique, mais qui, concrètement, a donné beaucoup d'échanges sur le plan culturel. En témoigne le festival de Lorient.
                  </p><p>
                    Charles Quimbert, Chanteur, ancien directeur de Dastum et de Bretagne Culture Diversité :
                  </p><p>
                    - Dans les années 1970, il y a eu un renouveau des musiques bretonnes, qu'on a appelées musiques celtiques, parce que les acteurs de cette musique ont emprunté aussi bien des airs que des instruments aux pays voisins. Et ce renouveau s'est habillé d'ornements celtiques : le triskell, les hermines, les entrelacs, qui ont été la parure de ce renouveau.
                  </p><p>
                    Gadea Cabanillas de la Torre, Archéologue, conservatrice à la DRAC Bretagne :
                  </p><p>
                    - Traditionnellement, on l'assimile à la culture matérielle de La Tène, qui se développe entre le 5e et le 1er siècle avant notre ère dans une vaste majorité de l'Europe. Mais ça correspond assez mal à ce que disent les textes anciens sur les peuples désignés comme celtes, et ça ne se superpose pas non plus aux zones où on parlait des langues celtiques. Le domaine scientifique a abandonné ce terme, qui est réservé à la diffusion auprès du grand public, qui sait de quoi on parle.
                  </p><p>
                    Myrzinn Boucher-Durand, Doctorante en études celtiques à l'université d'Harvard :
                  </p><p>
                    - Les archéologues, les ethnologues, les musiciens, n'attribuent pas à "celtique" la même chose que nous, les linguistes. Dans la linguistique, notamment historique, est "celte" une personne qui parle une langue celtique, de la famille celtique, comme le gallois, le breton, l'irlandais, etc. Cette personne, quel que soit son héritage culturel, est un Celte.
                  </p><p>
                    Nelly Blanchard, Professeure de langue et littérature bretonnes à l'Université Bretagne Occidentale
                  </p><p>
                    - À partir du 19e siècle, la littérature de langue bretonne a voulu se singulariser, se distinguer d'autres littératures, notamment française, en s'emparant de l'aspect celtique de la langue et de son fonds littéraire, pour se singulariser et s'autonomiser. C'est une phase d'esthétisation de cet aspect celtique, et de construction de récits, en partie fantasmés, idéalisés. C'est tout l'enjeu de l'exposition que d'expliquer comment cette image a été construite, par qui et pourquoi.
                  </p>
                </div>
              </details>
              <p>
                Entretiens avec Nelly Blanchard, Myrzinn Boucher-Durand, Gadea Cabanillas de la Torre, Erwan Chartier, Hélène Jagot, et Charles Quimbert.
              </p>
              <p>
                Marie-Noëlle Faulon (interview), Arnaud Géré (interview et montage)<br/>
                Musée de Bretagne, Rennes<br/>
                2022
              </p>
            </figcaption>
          </figure>
          <figure class="section-4_video">
            <h4>Âmes de Bretagne - Saison 1</h4>
            <div>
              <img loading="lazy" width="550" height="383" src="/images/aller_plus_loin/saison1_ame_de_bretagne_opt.jpg"
                   alt="Affiche de la série Âme de Bretagne, saison 1" />
            </div>
            <figcaption>
              <div class="media-info"><span>Durée : 6 min 44</span></div>
              <div class="link">
                <a target="_blank" href="https://youtu.be/_kOQe7MKtP4">Voir sur Youtube{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
              </div>
              <p>
                To be (or not to be) … breton ?<br/>
                Âmes de Bretagne (production et réalisation)<br/>
                2021<br/>
                Version augmentée réalisée pour le Musée de Bretagne<br/>
              </p>
            </figcaption>
          </figure>
        </div>
      </details>
    </div>
  </section>
  {% waveDecoration "#1A3A50", "#2B5970" %}
  <section class="section-5 content">
    <div class="full-width-center">
      <h3 class="full-width-center">La musique bretonne</h3>
    </div>
    <div class="playlists full-width-center">
      <div class="card">
        <div class="card-title">
          <div>
          <svg width="50" height="50" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg"><g>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M63.747 1.67871V19.2842L22.208 26.2368V8.66095L63.747 1.67871Z" stroke="#E9A139" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M55.0929 61.6374C59.8724 61.6374 63.7469 58.5719 63.7469 54.7904C63.7469 51.0089 59.8724 47.9434 55.0929 47.9434C50.3135 47.9434 46.439 51.0089 46.439 54.7904C46.439 58.5719 50.3135 61.6374 55.0929 61.6374Z" stroke="#E9A139" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M13.5539 68.4841C18.3333 68.4841 22.2078 65.4186 22.2078 61.6371C22.2078 57.8556 18.3333 54.79 13.5539 54.79C8.77441 54.79 4.8999 57.8556 4.8999 61.6371C4.8999 65.4186 8.77441 68.4841 13.5539 68.4841Z" stroke="#E9A139" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M22.208 26.3896V61.6385" stroke="#E9A139" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M63.7466 19.8867V54.7961" stroke="#E9A139" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
          </svg>
          </div>
          <div>
           <p class="bold">
            Playlist d’artistes du revival breton
            </p>
          </div>
        </div>
          <p>
            À partir de 1965, se développe un second revival musical breton, avec des artistes
            militants comme Alan Stivell, Tri Yann et bien d'autres.
          </p>
          <div class="link">
            <a target="_blank" href="https://www.lesmediatheques-rennesmetropole.fr/offre-en-ligne/celtique">
              Écouter sur musicMe {% externalLinkIcon '#1576A7', '', 12 %}
            </a>
        </div>
      </div>
      <div class="card">
        <div class="card-title">
          <div>
            <svg width="50" height="50" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg"><g>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M63.747 1.67871V19.2842L22.208 26.2368V8.66095L63.747 1.67871Z" stroke="#E9A139" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M55.0929 61.6374C59.8724 61.6374 63.7469 58.5719 63.7469 54.7904C63.7469 51.0089 59.8724 47.9434 55.0929 47.9434C50.3135 47.9434 46.439 51.0089 46.439 54.7904C46.439 58.5719 50.3135 61.6374 55.0929 61.6374Z" stroke="#E9A139" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M13.5539 68.4841C18.3333 68.4841 22.2078 65.4186 22.2078 61.6371C22.2078 57.8556 18.3333 54.79 13.5539 54.79C8.77441 54.79 4.8999 57.8556 4.8999 61.6371C4.8999 65.4186 8.77441 68.4841 13.5539 68.4841Z" stroke="#E9A139" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M22.208 26.3896V61.6385" stroke="#E9A139" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M63.7466 19.8867V54.7961" stroke="#E9A139" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            </svg>
          </div>
          <div>
            <p class="bold">Les chants du Barzaz breiz</p>
          </div>
        </div>
        <p>
          Reprises de chants et d’airs du Barzaz-Breiz (chants recueillis au 19<sup>ème</sup> siècle en Bretagne dans la
          perspective de la construction identitaire régionale) par diverses formations musicales ou interprètes
          depuis les années 1930 jusqu’à nos jours.
        </p>
        <div class="link">
          <a target="_blank" href="https://soundcloud.com/user-878905352/montage-barzaz-breiz-agencement">
            Écouter sur SoundCloud {% externalLinkIcon '#1576A7', '', 12 %}
          </a>
        </div>
      </div>
    </div>
    <div class="full-width-center">
      <h3>Les témoignages</h3>
      <div class="card-upper-image">
        <img loading="lazy" width="200" height="200"
             src="/images/temoignages/temoignages_jaworski_opt.jpg"
             alt="Portrait de Jean-Philippe Jaworski, auteur des romans du cycle d'héroïc fantasy &quot;Rois du monde&quot;"/>
        <div class="card-body">
          <div class="title">Jean-Philippe Jaworski</div>
          <div class="sub-title">
            Ecrivain français de fantasy
          </div>
          <blockquote>
            <p class="quote">
              « On se recrée en quelque sorte une identité rêvée ou fantasmée à partir d'éléments qui sont
              des éléments linguistiques, toponymiques très nets, mais il y a une recréation. […] Pour moi,
              le celtisme, c'est un sujet de roman avant tout, c'est un sujet de fiction. »
            </p>
          </blockquote>
          <div class="player">
            <audio
              controls
              preload="none"
              src="/audios/A01 JAWORSKY.mp3">
              Your browser does not support the
              <code>audio</code> element.
            </audio>
            <div class="media-info">
              <span>Durée : 4 min 39</span>
              <span>Poids : 3,9 Mo</span>
            </div>
          </div>
          <details class="details-small details-transcription">
            <summary>Afficher la transcription</summary>
            <div>
              <p>
                Lecture d'un extrait de Même pas mort, Rois du monde, t.1, Folio, pp.11-12, par l'auteur
              </p>
              <p>
                « Nos chevaux, nos armes, nos torques signalaient des voyageurs puissants, ce qui nous
                garantissait normalement un bon accueil. Toutefois, ce sont la lyre et le court manteau à
                capuchon d'Albios qui nous ont valu des mouvements de sympathie : au premier coup
                d'œil, les Osismes ont reconnu un barde, et ils l'ont salué avec une certaine déférence.
              </p>
              <p>
                Nos montures ont été conduites dans un parc où s'ébattait le haras du roi, puis on nous a
                menés à son palais. Le crépuscule, qui assombrissaient les façades de torchis et poudrait le
                ciel de quelques étoiles, avait rappelé pâtres et laboureurs dans les murs. En chemin, les
                femmes, les artisans, les bouviers nous interpellaient familièrement. Les Osismes
                pratiquent la même langue que nous, mais j'avais du mal à comprendre leur accent et
                certaines tournures locales ; Albios quant à lui, les entendait sans peine et répondait par
                des plaisanteries et des demi-vérités. Comme à l'ordinaire, on nous demandait d'où nous
                venions et de quelles nouvelles nous étions porteurs. Sans les ambactes lourdement armés
                qui nous avaient escortés depuis les portes de la cité, nous aurions sans doute été retenu
                par des curieux tous les dix pas. »
              </p>
              <p>
                Entretien :
              </p>
              <p>
                Rois du monde est un cycle romanesque qui s'intéresse à un personnage semi-historique,
                Bellovèse, à son frère Ségovèse et à leur oncle Ambigat ou Ambigatus. Ce sont trois
                personnages qui sont cités brièvement dans l'histoire romaine de Tite-Live comme étant,
                en ce qui concerne les deux frères Bellovèse et Ségovèse, les premiers conquérants gaulois.
                L'un serait parti vers la forêt hercynienne (Ségovèse), et l'autre qui serait parti vers
                Marseille tout d'abord, puis l'Italie. Chez Tite-Live, ces personnages n'apparaissent que
                l'espace d'une page. J'ai décidé de m'en emparer et d'en faire les personnages principaux
                d'un cycle romanesque.
              </p>
              <p>
                Qu'est-ce que le celtisme ?
              </p>
              <p>
                C'est un retour à des sources plus ou moins fantasmatiques. En ce sens qu'indéniablement,
                on a dans nos sociétés occidentales un héritage celtique très très fort : dans le paysage (en
                tout cas avant l'agriculture intensive on avait un paysage hérité du monde celtique), dans
                le vocabulaire, dans notre façon de compter aussi, on a vraiment un héritage celtique très
                fort y compris dans des régions qui ne sont absolument pas d'identité celtique. Et en
                même temps, je crois qu'on se recréé une identité parce qu'on est quand même très
                fortement imprégné par d'autres cultures : bien sûr la culture latine mais on a aussi été
                fortement imprégné au Moyen Âge par les cultures germaniques. On se recrée en quelque
                sorte une identité rêvée ou fantasmée à partir d'éléments qui sont des éléments
                linguistiques, toponymiques très nets, mais il y a une recréation. Moi, je vois le celtisme de
                cette façon-là. Pour moi, c'est un sujet de roman avant tout, c'est un sujet de fiction. Une
                fiction que je vais ancrer dans un passé lointain, qui est notre passé, mais ça reste de la
                fiction.
              </p>
              <p>
                Je me rends bien compte que ma définition est complètement floue parce que moi-même
                je vais y puiser ce qui m'intéresse pour raconter une histoire qui reste avant tout une
                histoire visant à l'évasion du lecteur. J'y perçois très bien des éléments de ma propre
                identité mais c'est très difficile à définir de façon précise.
              </p>
              <p>
                Est-ce que je vois la Bretagne comme celtique ?
              </p>
              <p>
                Ah oui bien sûr, en ce sens qu'on y parle de des langues celtiques. Il y a une espèce
                d'identité proto-nationale qui est fondée sur le celtisme en Bretagne, ce qui est pas du tout
                le cas dans les autres régions de France, alors qu'il y a aussi un héritage celtique (mais
                historique et pas forcément linguistique). Alors bien sûr, il y a la langue en Bretagne, il y a
                l'identité presque insulaire qui se distingue du reste, et puis il y a l'héritage du passé, de la
                quasi-indépendance qu'a connue la Bretagne pendant une grande période, qui fait que
                sans doute le celtisme permet de se démarquer du caractère roman du reste de la France.
              </p>
            </div>
          </details>
        </div>
      </div>
      <div class="full-width-center button-area">
        <a class="button-transparent" href="/temoignages">Voir plus de témoignages</a>
      </div>
    </div>
  </section>
  <section id="ailleurs_sur_le_web" class="section-6 content">
    <div class="full-width-center">
      <h2>Ailleurs sur le web</h2>
      <p>
        Retrouvez d’autres ressources sur le thème du celtisme en Bretagne : des documents, des vidéos, des évènements, etc.
      </p>
      <div class="card-right-image">
        <div class="card-right-image_content">
          <div class="card-right-image_title">
            <div>
              <p>Bécédia</p>
              <h3>Ressources sur la Bretagne et ses habitant·e·s</h3>
            </div>
          </div>
          <p>
            Naviguez dans cette encyclopédie originale à la découverte des différentes facettes du "celtisme" en
            Bretagne : regard de spécialistes, dossiers documentaires…
          </p>
          <div class="card-right-image_button">
            <a target="_blank" href="https://www.bcd.bzh/becedia/fr">Aller sur le site →</a>
          </div>
        </div>
        <div class="card-right-image_image">
          <img loading="lazy" width="358" height="340" src="/images/aller_plus_loin/allerplusloin_becedia_opt.jpg"
               alt="Photographie d'un écran d'ordinateur affichant la page d'accueil de Bécédia, site de ressources de Bretagne Culture Diversité (BCD). "/>
        </div>
      </div>
      <div class="card-right-image">
        <div class="card-right-image_content">
          <div class="card-right-image_title">
            <div>
              <p>Âmes de bretagne</p>
              <h3>La Bretagne racontée par les gens en vidéo</h3>
            </div>
          </div>
          <p>
            Une aventure initiée par une sœur et un frère qui depuis 2016 vont à la rencontre
            des habitant.e.s et amoureux de la Bretagne. Écoutez ce qu'ils disent de l'identité de leur territoire.
          </p>
          <div class="card-right-image_button">
            <a target="_blank" href="https://www.amesdebretagne.bzh/">Aller sur le site →</a>
          </div>
        </div>
        <div class="card-right-image_image">
          <img loading="lazy" width="358" height="340" src="/images/aller_plus_loin/allerplusloin_amedebretagne_opt.jpg"
               alt="Photographie de Francine, sourire aux lèvres et équipée d'un micro-cravate, interviewée par Âmes de Bretagne."/>
        </div>
      </div>
      <div class="card-right-image">
        <div class="card-right-image_content">
          <div class="card-right-image_title">
            <div>
              <p>INRAP</p>
              <h3>20 ans de recherches archéologiques</h3>
            </div>
          </div>
          <p>
            La médiathèque de l’institut national de recherches archéologiques préventives vous révèle la
            richesse de ses dernières découvertes, notamment celles des statuettes de Trémuson.
          </p>
          <div class="card-right-image_button">
            <a target="_blank" href="https://www.inrap.fr/mobilier-gaulois-de-tremuson-de-la-fouille-l-exposition-celtique-16389">Aller sur le site →</a>
          </div>
        </div>
        <div class="card-right-image_image">
          <img loading="lazy" width="358" height="340" src="/images/aller_plus_loin/allerplusloin_inrap_opt.jpg"
               alt="Figure d'un aristocrate gaulois avec un torque datant du 1er siècle avant notre ère, à proximité de la fosse dans laquelle elle a été retrouvée enfouie. "/>
        </div>
      </div>
      <div class="card-right-image">
        <div class="card-right-image_content">
          <div class="card-right-image_title">
            <div>
              <p>Festival Interceltique de Lorient</p>
              <h3>Le rendez-vous culturel des pays celtiques</h3>
            </div>
          </div>
          <p>
            Chaque été, l'espace de quelques jours, le Festival Interceltique de Lorient devient le lieu majeur
            de l’expression du cosmopolitisme celtique, musical et culturel.
          </p>
          <div class="card-right-image_button">
            <a target="_blank" href="https://www.festival-interceltique.bzh/web-tv-2021/">Aller sur le site →</a>
          </div>
        </div>
        <div class="card-right-image_image">
          <img loading="lazy" width="358" height="340" src="/images/aller_plus_loin/allerplusloin_festivalinterceltique_opt.jpg" alt="TODO"/>
        </div>
      </div>
      <div class="card-right-image">
        <div class="card-right-image_content">
          <div class="card-right-image_title">
            <div>
              <p>Centre de recherche bretonne et celtique</p>
              <h3>Laboratoire de recherche, bibliothèque, maison d’édition</h3>
            </div>
          </div>
          <p>
            Basé à Brest et Rennes, cette unité de recherche pluridisciplinaire (histoire, linguistique,
            ethnologie, sociologie…) s'intéresse aux aires culturelles bretonne et celtique.
          </p>
          <div class="card-right-image_button">
            <a target="_blank" href="https://www.univ-brest.fr/crbc/menu/Presentation">Aller sur le site →</a>
          </div>
        </div>
        <div class="card-right-image_image">
          <img loading="lazy" width="358" height="340" src="/images/aller_plus_loin/allerplusloin_bibliotheque_crbc_opt.jpg"
               alt="Image d'ouvrages de la bibliothèque Yves Le Gallo du Centre de Recherche Bretonne et Celtique (CRBC)."/>
        </div>
      </div>
    </div>
  </section>
</div>
