---
title: Écoconception - Celtique ?
description: "Ce site web a été conçu et réalisé en suivant les valeurs d'un projet numérique responsable. Les principes de l'écoconception ont guidé sa conception."
layout: default.njk

eleventyNavigation:
  key: Écoconception
  parent: Accueil
  order: 6
---
{% include "breadcrumb.njk" %}
<div id="ecoconception">
  <section class="content">
    <div class="full-width-center">
      <h1>Écoconception</h1>
      <p>
        Le développement durable est inscrit au cœur des projets d'établissement du Musée de
        Bretagne et des Champs Libres, et tout particulièrement l'écoconception des projets.
      </p>
      <p>Les orientations retenues pour les années à venir visent à l'exemplarité progressive
        des projets web en termes d'accessibilité, de sobriété et d'ouverture des
        ressources (culturelles et techniques). Le site web CELTIQUE ? cherche donc à respecter
        le plus haut niveau possible d'engagement pour un numérique écoresponsable et accessible, le
        tout dans un souci d'équilibre avec les enjeux de valorisation et diffusion des contenus
        culturels produits et présentés dans le cadre de l'exposition (images de collections, media...).
      </p>
      <p>
        Ce site a été réalisé en suivant une démarche d’écoconception par Nicolas Doby
        de <a href="https://www.itsonus.fr">IT’s on us</a> (développement), <a
          href="https://www.linkedin.com/in/anne-faubry-3b2b8390/">Anne Faubry</a>
        et <a href="https://www.linkedin.com/in/aureliebaton/">Aurélie Baton</a> (Indépendantes UX/UI design),
        et Hélène Maître-Marchois de <a href="https://fairness.coop/">Fairness</a> (opérationnalisation).
      </p>
      <h2>Principes d’écoconception</h2>
      <p>
        L’écoconception consiste à « [intégrer systématiquement] des aspects environnementaux dès la conception et
        le développement de produits (biens et services, systèmes) avec pour objectif la réduction des impacts
        environnementaux négatifs tout au long de leur cycle de vie à service rendu équivalent ou
        supérieur » (Norme NF X 30-264 Management environnemental – Aide à la mise en place d’une
        démarche d’éco-conception, 2013). Il s'agit de se rapprocher des besoins fondamentaux des
        utilisateurs et de s’y limiter.
      </p>
      <p>
        La démarche d’écoconception nécessite la mobilisation de bonnes pratiques à chaque étape
        de la conception du site : de la conception du parcours utilisateur à son développement.
      </p>

      <h2>Se concentrer sur l'objectif utilisateur</h2>
      <p>
        Pour évaluer les impacts environnementaux dans le temps, nous avons défini une unité
        fonctionnelle de référence, c'est-à-dire une fonction principale du service qui correspond
        à un objectif principal d'un utilateur-ice.
      </p>
      <p>
        Trois unités fonctionnelles ont été identifiées avec le Musée de Bretagne et priorisées
        de la façon suivante :
      </p>
      <ol>
        <li>
          Approfondir un point précis sur le celtisme en Bretagne
        </li>
        <li>Flâner parmi les contenus et découvrir de nouvelles choses</li>
        <li>Se renseigner sur le sujet du celtisme en Bretagne</li>
      </ol>
      <p>
        NB : L’unité fonctionnelle prioritaire doit être précisée pour l’étape de mesure d’impact du parcours
        utilisateur.
      </p>
      <p>
        Le site répond à cette unité fonctionnelle prioritaire. Voici ci-dessous une liste de bonnes pratiques
        appliquées dans le cadre du développement de ce site.
      </p>

      <h2>Fluidifier l'expérience utilisateur</h2>
      <p>
        Une attention très particulière a été portée sur la fluidité de l’expérience utilisateur qui constitue l’un des
        fondamentaux de l’écoconception.</li>
      </p>
      <ul>
        <li>Le nombre de photos et vidéos a été réduit afin de se limiter aux plus pertinentes.</li>
        <li>Les étapes du parcours de découverte de l’exposition sont balisées par un « chemin de fer » en haut de
          chaque page de contenu.
        </li>
        <li>L’utilisateur·rice peut facilement suivre le parcours avec les boutons Page précédente et Page suivante en
          bas de page.
        </li>
        <li>Cette découverte « linéaire » de l’exposition n’est pas l’unique façon de naviguer, et les profils
          d’utilisateurs plus « flâneurs » peuvent également découvrir les contenus de façon transverse, en passant
          d’une ressource à une autre selon les centres d’intérêt.
        </li>
        <li>L’architecture du site a également été simplifiée en comparaison de la structure de l’exposition physique
          afin de proposer un menu simple avec points d’entrée directs vers les 2 grands chapitres.
        </li>
        <li>Une attention particulière a été portée à la hiérarchie des titres sur la page et à leur cohérence de style
          à travers le site.
        </li>
      </ul>

      <h2>Agir pour un site sobre</h2>
      <h3>Éliminer le superflu</h3>
      <p>
        Nous avons évalué et vérifié les besoins tout au long du projet, ce qui a permis de retirer certaines
        fonctionnalités initialement prévues.
      </p>
      <p>
        Par exemple, nous avions prévu une barre de progression pour les questions du test. Or, les tests
        utilisateurs nous ont montré qu’au vu du faible nombre de questions (réduit à 9 questions), il n’était <em>pas
          nécessaire de rassurer les utilisateurs sur leur avancement</em>.
      </p>
      <p>
        Nous nous sommes <em>interrogés sur la valeur ajoutée d’afficher toutes les images</em> de l’exposition.
        Initialement, certaines pages devaient comporter jusqu'à 12 images. Après avoir essayé différentes options
        de chargement progressif, il a finalement été décidé qu’aucune page n’aurait plus que 10 images et d’ajouter
        des descriptions longues afin de les contextualiser.
      </p>
      <p>
        Du point de vue de la résolution des images, nous avons priorisé les utilisateurs cibles du site et identifié
        qu’ils n’ont <em>pas besoin de la haute définition par défaut</em>. Ainsi les images haute résolution ne sont
        disponibles
        qu’au clic et non affichées par défaut (voir plus à ce sujet ci-dessous).
      </p>
      <h3>Réduire le poids des images</h3>
      <p>
        Les images et les photos sont le cœur de l’exposition. Le défi était donc d’intégrer ces images sans
        alourdir le poids des pages, mais tout en conservant une qualité satisfaisante.
      </p>
      <p>
        Les images jpeg et png ont été chargées en 2 tailles sur le serveur, une pour mobile et l’autre pour Desktop.
        Ainsi selon la taille d’écran du terminal utilisateur, l’image la plus optimale est chargée.
      </p>
      <h3>Images et photos</h3>
      <p>
        La taille des images a été <em>réduite à des tailles moyennes</em> (généralement 600 px maximum) afin d’être à
        côté du texte descriptif et de réduire le poids de la page.
      </p>
      <p>
        Pour les images et photos de l’exposition, nous avons décidé d’<em>optimiser les images</em> de chaque page
        tout en gardant une qualité suffisante. Nous avons par ailleurs fourni un <em>lien « Voir en résolution
          maximum » </em>afin que les utilisateurs puissent observer les détails des images.
      </p>
      <p>
        Cependant même en résolution maximum, il ne servait à rien d’insérer directement les photos d’origine. En
        effet, les images fournies avaient un poids initial avoisinant généralement les 4 à 5 Mo mais pouvant
        s’élever à plus de 20 Mo pour une seule photo.
      </p>
      <p>Les images ont donc été optimisées de la manière suivante :</p>
      <ol>
        <li>
          L'image est retaillée à une taille maximum de 1900 px pour la version haute définition.
        </li>
        <li>
          L’image est retaillée à la taille d’affichage de l’image sur l’écran (entre 200 px pour les plus petites
          et 1400 px pour les plus grandes).
        </li>
        <li>
          L’image est compressée (le niveau de compression est choisi en fonction de la qualité minimum nécessaire)
          avec <a href="https://shortpixel.com/online-image-compression">Shortpixel</a>.
        </li>
      </ol>
      <p>
        Les gains de poids par image sont très conséquents et peuvent aller jusqu’à un gain de plus 80%. La plupart
        des images ont ainsi un poids final avoisinant 40 à 100 Ko en résolution par défaut, et 1 Mo
        en haute définition.
      </p>
      <h3>Illustrations vectorielles</h3>
      <p>
        Les illustrations ont été choisies avec soin pour <em>satisfaire des questions d’esthétisme et de sens</em> : un
        triskell par grande partie du parcours, bandeau pour identifier la page d’accueil, vague en arrière-plan
        pour symboliser un changement de partie...
      </p>
      <p>
        Lorsque cela était possible, nous avons fourni les illustrations en <em>format SVG</em> pour alléger tout en
        conservant une qualité optimale. En revanche, dans certains cas, si la complexité de l’image rendait
        un SVG trop lourd, nous avons privilégié la version PNG plus légère.
      </p>
      <p>
        Nous avons également <em>compressé les illustrations SVG</em> lorsque cela était possible ; c'est-à-dire retirer
        les méta-informations non essentielles.
      </p>
      <h3>Icônes</h3>
      <p>
        Les icônes choisies sont sans complexité et fournies au format SVG ou PNG. Lorsqu’un <em>équivalent sous forme
          de glyphe</em> était disponible, par exemple dans le cas des flèches, le glyphe a été privilégié.
      </p>
      <h3>Réduire le poids des vidéos</h3>
      <p>
        La pertinence des vidéos et audios présentes sur le site a été évaluée. Puisqu'elles apportent de la
        valeur en lien avec l’unité fonctionnelle du site, elles ont été intégrées mais en nombre limité.
      </p>
      <h4>Intégration dans la page</h4>
      <p>
        Nous avons mené des tests techniques pour évaluer la <em>meilleure solution d’intégration des vidéos</em> et des
        pistes audios.
      </p>
      <p>
        Lorsque cela était possible, nous avons choisi d’<em>intégrer la vidéo et les sons avec le lecteur par défaut
          HTML5</em>. Quoique plus restrictif sur l’apparence du lecteur, les tests ont montré qu’il est plus de 50 fois
        plus léger qu’un lecteur Youtube.
      </p>
      <p>
        C’est pourquoi, notre choix s’est porté sur le lecteur HTML5, très bien supporté par les différents navigateurs.
      </p>
      <p>
        La lecture automatique des vidéos a été désactivée afin de ne charger le flux vidéo que si la
        lecture est lancée.
      </p>
      <p>
        Lorsque la vidéo faisait partie d’un service externe, nous avons privilégié une image et un lien
        vers la vidéo afin de ne pas inciter les utilisateurs à charger une vidéo qu’ils ne sont pas
        réellement intéressés de voir.
      </p>
      <p>
        Le poids des vidéos et des sons est toujours indiqué en Mo à côté du lecteur, afin que l’utilisateur
        sache combien de données sont transférées lors de son chargement.
      </p>
      <h4>Compression</h4>
      <p>
        Toutes les vidéos et pistes audio ont également été compressées.
      </p>
      <p>
        Les vidéos ont été redimensionnées du HD vers du 720 p et optimisées avec le logiciel
        Handbrake (Réduire le poids des vidéos + icône sortant). Le poids des vidéos a ainsi en
        moyenne été divisé par 13. Par exemple, la vidéo « Un monde celte aux portes de l’Europe » est ainsi
        passée d’un poids de 185 Mo à 14 Mo.
      </p>
      <p>
        Dans certains cas, une autre compression additionnelle a été effectuée, lorsqu’il n’y avait pas de
        perte de qualité avérée, avec <a href="https://www.compresservideo.fr/">CompresserVideo</a>.
      </p>
      <h3>Informer les utilisateurs du poids des PDF</h3>
      <p>
        Le site propose certains contenus téléchargeables tels que des PDF de programmation ou de
        ressources pédagogiques. Le format du fichier et son poids sont toujours indiqués sur le bouton
        d’action afin que l’utilisateur·rice sache combien de Mo il/elle télécharge en cliquant.
      </p>
      <h3>Choisir une police standard</h3>
      <p>
        Pour des raisons d’écoconception, nous avons choisi de nous limiter à une police système. Ainsi aucune
        police personnalisée n’est téléchargée par les utilisateurs lors de l’affichage du site, ce qui évite
        d’alourdir la page et limite le nombre de requêtes.
      </p>
      <p>
        Nous avons fait le choix d’utiliser la police Arial pour plusieurs raisons :
      </p>
      <ul>
        <li>Arial est disponible sur quasiment la totalité des appareils peu importe leur système d’exploitation.
        <li>Arial est plus accessible que des typographies serif.</li>
        <li>Arial existe en plusieurs graisses.</li>
      </ul>
      <p>
        Pour conserver la typographie spécifique du titre de l’exposition « Celtique ? », nous avons décidé
        d’utiliser une image SVG, afin de ne pas charger inutilement une police qui n’aurait servi que pour
        le titre.
      </p>
      <h3>Éviter les animations</h3>
      <p>
        Le site contient très peu d’animations, elles servent à fluidifier l’expérience de manière
        subtile : apparition du sous-menu au survol, réduction du menu lors du scroll sur la page.
      </p>
      <p>
        Les animations sont uniquement en CSS et ne nécessitent que très peu de JavaScript (seulement pour
        masquer le menu lorsque l’utilisateur·rice scrolle).
      </p>
      <h3>Penser mobile first</h3>
      <p>
        Le site est responsive et a été pensé et conçu pour fonctionner sur mobile, aussi bien que sur
        ordinateur. Concevoir pour mobile dès l’étape de wireframing a notamment permis d’éviter d’intégrer
        du superflu et de faire des pages trop longues, comme c’est souvent le cas lorsque l’on conçoit
        uniquement pour ordinateur.
      </p>
      <h2>Concevoir techniquement un site sobre</h2>
      <p>
        Le site est un complément numérique de l’exposition physique. Hormis quelques corrections, le site a
        vocation à rester constant dans le temps. Il est donc tout indiqué d’avoir des pages statiques.
      </p>
      <p>
        Comme l’explique <a href="https://solar.lowtechmagazine.com/fr/2018/09/how-to-build-a-lowtech-website.html">
          LOW←TECH MAGAZINE
        </a> et pour la même raison :
      </p>
      <blockquote>
        <p>
          «
          Un des choix fondamentaux que nous avons faits a été d’élaborer un site internet statique. La majorité
          des sites actuels utilisent des langages de programmation côté serveur qui génèrent la page désirée
          à la volée par requête à une base de données. Ça veut dire qu’à chaque fois que quelqu’un visite
          une page web, elle est générée sur demande.
        </p>
        <p>
          Au contraire, un site statique est généré une fois pour toutes et existe comme un simple ensemble
          de documents sur le disque dur du serveur. Il est toujours là, et pas seulement quand quelqu’un
          visite la page. Les sites internet statiques sont donc basés sur le stockage de fichiers quand
          les sites dynamiques dépendent de calculs récurrents. En conséquence, un site statique nécessite
          moins de puissance de calcul, donc moins d’énergie. »
        </p>
      </blockquote>
      <p>
        Pour parvenir à nos fins, nous avons décidé d’utiliser le générateur de site statique <a href="https://www.11ty.dev/)">11ty</a>
        et le kit de démarrage <a href="https://github.com/stowball/elf">Elf</a>. Le kit contient :
      </p>
      <ul>
        <li>Eleventy</li>
        <li>EJS comme langage de templating</li>
        <li>Sass pour simplifier l’écriture de CSS</li>
        <li>Babel pour rendre compatible JavaScript avec les différents navigateur</li>
        <li>Autoprefixer pour préfixer les ressources CSS</li>
        <li>Webpack pour compiler les ressources Sass et JavaScript</li>
        <li>ESLint et Airbnb's base configuration comme linter</li>
      </ul>
      <p>
        Une fois le projet compilé, les pages HTML, le CSS et le JavaScript sont générés une fois pour toute. Le
        serveur Web peut donc servir ces ressources simplement sans aucun effort. La configuration du serveur
        permet d’optimiser le tout en :
      </p>
      <ul>
        <li>compressant les requêtes,</li>
        <li>configurant le cache dans les entêtes des requêtes,</li>
        <li>utilisant HTTP2.</li>
      </ul>
    </div>
  </section>
</div>
