---
title: Celtique ? L’expo
description: 'Un site pour consulter les ressources associées à l'exposition Celtique ? du Musée de Bretagne et répondre à la question : La Bretagne, celte ou pas celte ?'
layout: default.njk
eleventyNavigation:
  key: Accueil
---
<div id="acceuil">

  <div class="banner">
    <picture>
      <source media="(min-width: 601px)" srcset="/images/home/banner.jpg">
      <source media="(max-width: 600px)" srcset="/images/home/banner-small.jpg">
      <img src="/images/home/banner.png"
           alt="Bandeau réalisé à partir de l'affiche de l'exposition Celtique ?, reprenant le titre de l'exposition avec un motif de triskell en arrière plan. De chaque côté du bandeau, figurent la statuette de l'aristocrate gaulois découverte à Trémuson (datant du 1er siècle avant J.-C.), ainsi qu'un pichet en faïence de forme cylindrique des années 1930, sur lequel sont représentés un couple de Bretons ainsi que des motifs de triskells."
      />
    </picture>
  </div>

  <section class="intro content">
    <div class="full-width-center">
      <h1>Entre réalité et mythe, questionner l'identité celtique de la Bretagne</h1>
      <p>

        Un site et des ressources en lien avec l'exposition présentée au Musée de Bretagne<br/><em>du 18 mars au 4
          décembre 2022</em>
      </p>
      <p>
        <a href="/#information">En savoir plus sur l’exposition (horaires, tarifs)</a>
      </p>
    </div>
    <hr/>
  </section>
  <div class="decoration-1" aria-hidden="true" role="graphics-symbol">
    <img loading="lazy" src="/images/decorations/triskell-1.svg" alt=""/>
  </div>
  <section class="section-1 content">
    <h2>Bretagne celtique : mythe ou réalité ?</h2>
    <p>Triskells, druides, forêts aux nombreuses légendes, musiques celtiques… dans la culture populaire, la Bretagne
      est
      aujourd’hui fréquemment associée, voire confondue, avec tout un imaginaire celtique, héritage diffus et toujours
      vivace.
    </p>
    <p>
      <em>
        Mais en réalité, quels liens la Bretagne a-t-elle avec les Celtes ? Pourquoi est-elle en France le territoire
        qui
        cristallise le plus cette influence ?
      </em>
    </p>
    <details class="details-normal">
      <summary>Lire la suite</summary>
      <p>
        <em>La confrontation des connaissances scientifiques</em> des périodes de l'âge du Fer et du haut Moyen-Âge <em>à
          la longue
          élaboration d'un récit régional</em>, permet de <em>déconstruire les clichés</em>, en cherchant avant tout à en
        <em>comprendre les
          origines et les raisons</em>. L’exposition souhaite interroger les décalages entre la réalité historique et des
        représentations communément admises mais aussi la <em>construction d'une part de l’identité culturelle de la
          Bretagne</em>.
      </p>
    </details>
    <p class="link-video">
      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2c0 0-5.52 0 0 0zm-2 14.5l6-4.5-6-4.5v9zM4 12c0 4.41 3.59 8 8 8s8-3.59 8-8-3.59-8-8-8-8 3.59-8 8c0 0 0 4.41 0 0z" fill="#1576A7"/></g></svg>
      <a href="/#video">Voir la vidéo : Regards de scientifiques, que signifie le terme "celtique" ?</a>
    </p>
  </section>
  <section class="section-2">
    <div>
      <div>
        <h2>Testez-vous : Quel est votre profil "celte" ?</h2>
        <p>
          En répondant à cette série de questions, vous découvrirez votre degré de celtitude.
        </p>
        <a class="button-blue" href="/test">Faire le test</a>
      </div>
      <div>
        <div class="decoration-2" aria-hidden="true" role="graphics-symbol">
          <img loading="lazy" width="250px" height="250px" src="/images/decorations/triskell-3.svg" alt=""/>
        </div>
        <div class="center">
          <img width="331" src="/images/home/votre_celtitude.svg" alt="Inscription du titre &quot;Votre celtitude&quot;"/>
          <img class="over" src="/images/home/person.svg" alt="Dessin d'un personnage portant un t-shirt orné d'un triskell."/>
        </div>
      </div>
    </div>
  </section>
  <section class="section-3 content">
    <h2>Des origines du celtisme à nos jours</h2>
    <p>Plongez dans l’histoire de la Bretagne à travers le prisme du celtisme et partez à
      la découverte des origines du récit celte.
    </p>
    {% include "content-cards.njk" %}
    <hr id="video"/>
    <div aria-hidden="true">
      <div class="decoration-4" aria-hidden="true" role="graphics-symbol">
        <img loading="lazy" src="/images/decorations/triskell-2.svg" alt=""/>
      </div>
    </div>
    <h3>Celtique ? Regards de scientifiques</h3>
    <p>
      Que signifie le terme "celtique" dans leurs domaines ? Les membres du conseil scientifique
      nous répondent (archéologue, linguiste, historien et historienne...).
    </p>
    <figure>
      <video controls preload="none" width="765" poster="/images/home/video.jpg">
        <source src="/videos/AV01 03-03-2022_opt.mp4" type="video/mp4">
        <p>Votre navigateur ne prend pas en charge les vidéos HTML5.
          <a href="/videos/AV01 03-03-2022_opt.mp4">un lien pour télécharger la vidéo</a>.</p>
      </video>
      <figcaption>
        <div class="media-info">
          <span>Durée : 4 min 05 (33 Mo)</span>
        </div>
        <details class="details-small details-transcription">
          <summary>Afficher la transcription</summary>
          <div>
            <p>
              -  La Bretagne est-elle celtique ? Nous avons interrogé 6 membres du conseil scientifique de l'exposition, 6 experts dans leur domaine.
            </p><p>
              - Euh...
            </p><p>
              - Bon. Posons la question différemment : que signifie le terme "celtique" dans votre domaine ?
            </p><p>
              Hélène Jagot, Historienne de l'art, directrice des Musées-Château de Tours :
            </p><p>
              - Le celtisme en histoire de l'art correspond à la représentation des Celtes, qui sont les habitants de la Bretagne de l'Antiquité, mais également à toutes les légendes et histoires de la Bretagne, depuis cette période jusqu'à aujourd'hui. Avec la légende arthurienne, les légendes autour de certaines villes fantastiques ou personnages fantastiques, que les artistes ont largement représentées au 19e siècle.
            </p><p>
              Erwan Chartier, Journaliste-chercheur en politologie, spécialiste de l'interceltisme :
            </p><p>
              - Le celtisme est un courant de pensée du 19e siècle romantique. Au 20e siècle, il a évolué vers l'inter-celtisme, les échanges entre Bretagne et autres pays celtes d'Europe. C'est une construction intellectuelle, basée sur un récit historique, mais qui, concrètement, a donné beaucoup d'échanges sur le plan culturel. En témoigne le festival de Lorient.
            </p><p>
              Charles Quimbert, Chanteur, ancien directeur de Dastum et de Bretagne Culture Diversité :
            </p><p>
              - Dans les années 1970, il y a eu un renouveau des musiques bretonnes, qu'on a appelées musiques celtiques, parce que les acteurs de cette musique ont emprunté aussi bien des airs que des instruments aux pays voisins. Et ce renouveau s'est habillé d'ornements celtiques : le triskell, les hermines, les entrelacs, qui ont été la parure de ce renouveau.
            </p><p>
              Gadea Cabanillas de la Torre, Archéologue, conservatrice à la DRAC Bretagne :
            </p><p>
              - Traditionnellement, on l'assimile à la culture matérielle de La Tène, qui se développe entre le 5e et le 1er siècle avant notre ère dans une vaste majorité de l'Europe. Mais ça correspond assez mal à ce que disent les textes anciens sur les peuples désignés comme celtes, et ça ne se superpose pas non plus aux zones où on parlait des langues celtiques. Le domaine scientifique a abandonné ce terme, qui est réservé à la diffusion auprès du grand public, qui sait de quoi on parle.
            </p><p>
              Myrzinn Boucher-Durand, Doctorante en études celtiques à l'université d'Harvard :
            </p><p>
              - Les archéologues, les ethnologues, les musiciens, n'attribuent pas à "celtique" la même chose que nous, les linguistes. Dans la linguistique, notamment historique, est "celte" une personne qui parle une langue celtique, de la famille celtique, comme le gallois, le breton, l'irlandais, etc. Cette personne, quel que soit son héritage culturel, est un Celte.
            </p><p>
              Nelly Blanchard, Professeure de langue et littérature bretonnes à l'Université Bretagne Occidentale
            </p><p>
              - À partir du 19e siècle, la littérature de langue bretonne a voulu se singulariser, se distinguer d'autres littératures, notamment française, en s'emparant de l'aspect celtique de la langue et de son fonds littéraire, pour se singulariser et s'autonomiser. C'est une phase d'esthétisation de cet aspect celtique, et de construction de récits, en partie fantasmés, idéalisés. C'est tout l'enjeu de l'exposition que d'expliquer comment cette image a été construite, par qui et pourquoi.
            </p>
          </div>
        </details>
        <p>
          Entretiens avec Nelly Blanchard, Myrzinn Boucher-Durand, Gadea Cabanillas de la Torre, Erwan Chartier, Hélène Jagot, et Charles Quimbert.
        </p>
        <p>
          Marie-Noëlle Faulon (interview), Arnaud Géré (interview et montage)<br/>
          Musée de Bretagne, Rennes<br/>
          2022
        </p>
      </figcaption>
    </figure>
  </section>
  <section class="section-4">
    <div>
      <div>
        <h2>Breton, langue celtique ?</h2>
        <p>
          Découvrez les origines de la langue bretonne et ses liens avec l'affirmation d'une identité celtique en Bretagne.
        </p>
        <p>
          <a class="button-white" href="/revenir_aux_sources/breton_langue_celtique">Découvrir</a>
        </p>
      </div>
      <div>
        <div class="decoration-3" aria-hidden="true" role="graphics-symbol" >
          <img loading="lazy" width="250px" height="250px" src="/images/decorations/triskell-3.svg" alt=""/>
        </div>
        <img loading="lazy" width="720" height="419" src="/images/home/home_dictionnairebreton_opt.jpg" alt="Page intérieure du dictionnaire étymologique de la langue bretonne, manuscrit du 18e siècle. "/>
      </div>
    </div>
  </section>

  <section class="section-5">
    <div>
      <div class="content">
        <h2 class="full-width-center">Témoignages : qu'en disent-ils et elles ?</h2>
        <p>
          Quelle est la place du celtisme aujourd'hui ? Ils et elles témoignent.
        </p>
      </div>
      <div class="interviews">
        <div>
          <div class="card-upper-image">
            <img loading="lazy" width="180" height="180"
                 src="/images/temoignages/temoignages_gorsedd_opt.jpg"
                 alt="Portrait de Per Vari Kerloc'h, grand druide de la Gorsedd de Bretagne"/>
            <div class="card-body">
              <h3 class="title">Per Vari Kerloc’h</h3>
              <div class="sub-title">
                Grand druide de la Gorsedd de Bretagne
              </div>
              <blockquote>
                <p class="quote">
                  « Le druidisme, il naît forcément dans la civilisation et dans la société celtique […] »
                </p>
              </blockquote>
              <p class="footer">
                <a href="/temoignages/#temoignage-1">Écouter le témoignage →</a>
              </p>
            </div>
          </div>
          <div class="card-upper-image">
            <img loading="lazy" width="180" height="180" src="/images/temoignages/temoignages_helenebonniec_opt.jpg"
                 alt="Portrait d'Hélène Bonniec, bénévole au Festival Interceltique de Lorient"/>
            <div class="card-body">
              <h3 class="title">Hélène Bonniec</h3>
              <div class="sub-title">
                Bénévole au Festival Interceltique de Lorient
              </div>
              <blockquote>
                <p class="quote">
                  « L'interceltisme c'est finalement le lien qui unit les pays dits celtiques […] »
                </p>
              </blockquote>
              <p class="footer">
                <a href="/temoignages/#temoignage-2">Écouter le témoignage →</a>
              </p>
            </div>
          </div>
        </div>
        <div>
          <a class="button-blue" href="/temoignages">Voir tous les témoignages</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section-6 content">
    <div class="full-width-center">
      <h2>Aller plus loin</h2>
      <ul class="ressources">
        <li class="ressource">
          <a target="_blank" href="https://www.bcd.bzh/becedia/">
            <div class="resource-image">
              <img loading="lazy" width="142" height="125" src="/images/home/bcd.png" alt="Bécédia">
            </div>
            <div class="resource-text">
              <div class="title">
                Bécédia
              </div>
              <p>
                Site de ressources sur la Bretagne et ses habitant·e·s.
              </p>
              <div class="arrow">➔</div>
            </div>
          </a>
        </li>
        <li class="ressource">
          <a target="_blank" href="https://musee-devoile.blog/category/documenter/celtique/">
            <div class="resource-image">
              <img loading="lazy" width="142" src="/images/home/musee_noir.svg" alt="Musée de Bretagne - Les Champs Libres">
            </div>
            <div class="resource-text">
              <div class="title">
                Musée Dévoilé
              </div>
              <p>
                Blog du Musée avec des articles pour compléter vos connaissances.
              </p>
              <div class="arrow">➔</div>
            </div>
          </a>
        </li>
      </ul>
      <div class="button-area">
        <a class="button-white" href="/aller_plus_loin">Voir plus de ressources</a>
      </div>
    </div>
  </section>

  {% include "information.njk" %}

  {% include "social-network.njk" %}

</div>
