---
title: Mentions légales - Celtique ?
description: "Mentions légales du site internet www.exposition-celtique.bzh avec précisions sur le traitement des données personnelles"
layout: default.njk

eleventyNavigation:
  key: Mentions légales
  parent: Accueil
  order: 7
---
{% include "breadcrumb.njk" %}

<div id="mentions_legales">
  <section class="content">
  <div class="full-width-center">
    <h1>Mentions légales</h1>
    <h2>Article 1 – OBJET</h2>
    <p>
      Les présentes conditions générales d'utilisation ont pour objet l'encadrement des modalités de mise à disposition
      des services du site www.exposition-celtique.bzh et leur utilisation par l'Utilisateur.
    </p>
    <p>
      Les conditions générales doivent être acceptées par tout Utilisateur souhaitant accéder au site. Elles constituent
      le contrat entre le site et l'Utilisateur. L'accès au site par l'Utilisateur signifie son acceptation des
      présentes conditions générales d'utilisation.
    </p>
    <h2>Article 2 – PROPRIÉTÉ DU SITE</h2>
    <p>
      La métropole Rennes Métropole, dont le siège social est situé
      <br/>
      <adress>
        4 avenue Henri Fréville<br/>
        CS 93111 – 35031 RENNES CEDEX<br/>
        SIRET : 243 500 139 00189<br/>
        APE : 8411Z<br/>
      </adress>

      est propriétaire du www.exposition-celtique.bzh, Site web
      complémentaire de l'exposition Celtique ? présentée au Musée de Bretagne du 18 mars au 4 décembre 2022.
    </p>
    <h2>Article 3 – DIRECTION DE LA PUBLICATION</h2>
    <p>
      Directeur de la publication : Tristan Lahais, Vice-Président délégué à la Culture, aux équipements métropolitains,
      à la jeunesse et à la vie étudiante.
    </p>
    <p>
      Responsable éditoriale : Céline Chanas, directrice du Musée de Bretagne.
    </p>
    <p>
      Contributeurs : l’équipe du pôle expositions & éditions du Musée de Bretagne.
    </p>
    <h2>Article 4 – HÉBERGEUR</h2>
    <p>Rennes Métropole</p>
    <h2>Article 5 – PRÉSENTATION DU SITE</h2>
    <p>
      Le site " www.exposition-celtique.bzh propose à l'internaute un site web dont les contenus sont reliés et
      complémentaires à l'exposition temporaire " Celtique ?" présentée au Musée de Bretagne – des Champs Libres du 17
      mars au 4 décembre 2022. Elle rend accessible la connaissance actualisée et produite autour du sujet tout en
      permettant à l'Internaute de se questionner lui-même, par rapport à cette notion. L'extension joue également le
      rôle de fenêtre vers l'extérieur, de prise de recul et d'ouverture sur le sujet, en créant des liens vers d'autres
      ressources de l'écosystème web des Champs Libres ou sites partenaires (Bécédia, INRAP …) .
    </p>
    <h2>Article 6 – PROPRIÉTÉ INTELLECTUELLE</h2>
    <p>
      L'ensemble des données qui compose le site www.exposition-celtique.bzh est la propriété de Rennes Métropole. À ce
      titre, le site est protégé par la législation française, communautaire et internationale sur le droit de la
      propriété intellectuelle et le droit à l'image.
    </p>
    <h3>6.1- Principe général</h3>
    <p>
      Les pages du site sont placées, sauf mention contraire, sous licence Creative Commons (licence de libre diffusion
      CC BY-SA).
    </p>
    <p>
      Cette œuvre est mise à disposition selon les termes de la Licence Creative Commons 4.0.
    </p>
    <p>
      Les internautes peuvent diffuser librement les contenus de ces pages à la condition d'indiquer le nom de l'auteur
      du contenu concerné, de ne pas y apporter de modification et de ne pas en faire d'utilisation commerciale, sauf si
      l'auteur du contenu a précisé qu'il ne souhaitait pas s'inscrire dans le cadre de cette licence.
    </p>
    <h3>6.2 - Exception</h3>
    <p>
      Les textes et illustrations qui ne rentrent pas dans ce cadre, font l'objet d'une mention contraire et sont la
      propriété de Rennes Métropole, avec l’accord le cas échéant, des titulaires des droits d’auteur concernés par les
      documents présentés. À ce titre, le site est protégé par la législation française, communautaire et internationale
      sur le droit de la propriété intellectuelle et le droit à l’image.
    </p>
    <p>
      L’internaute ne dispose d’aucun droit ni d’aucune licence pour en faire usage de quelque façon que ce soit, sans
      l’accord écrit et préalable de Rennes Métropole. Toute reproduction ou utilisation de données contenues sur le
      site, après accord express de Rennes Métropole, devra mentionner la source et le titulaire des droits de propriété
      afférents.
    </p>
    <p>
      Le Code de la Propriété Intellectuelle n’autorisant, aux termes de l’article L 122-5, d’une part, que les « copies
      ou reproductions strictement réservées à l’usage privé du copiste et non destinées à une utilisation collective »
      et d’autre part, que les analyses et les courtes citations dans un but d’exemple et d’illustration, « toute
      représentation ou reproduction intégrale ou partielle faite sans le consentement de l’auteur ou de ses ayants
      droits ou ayants cause est illicite » (article L 122-4 du Code de la Propriété Intellectuelle)
    </p>
    <p>
      Lien : https://creativecommons.org/licenses/by-sa/4.0/
    </p>
    <h3>6.3 - Citation de la source</h3>
    <p>
      Conformément à la réglementation, aux licences précitées et aux bonnes pratiques scientifiques, tout utilisateur
      des documents, images et textes du site doit en indiquer la source « Celtique ? une exposition du musée de
      Bretagne» et fournir le lien vers le site
    </p>
    <p>
      Le Musée de Bretagne propose aux internautes de lui signaler pour information toute réutilisation de ses fichiers.
    </p>
    <h2>Article 7 – RESPONSABILITE</h2>
    <h3>7.1 - Responsabilité sur les contenus</h3>
    <p>Les contenus présents sur le site www.exposition-celtique.bzh sont placés sous l'entière responsabilité de Rennes
      Métropole, qui le cas échéant s'est assuré de l'autorisation des auteurs concernés, exception faite des
      commentaires et ajouts de contenus des utilisateurs.</p>
    <h3>7.2 – Liens avec d'autres sites</h3>
    <p>
      Le site www.exposition-celtique.bzh propose des liens vers d'autres sites, essentiellement des sites officiels
      (institutions, organismes publics…) mais aussi vers quelques sites d'associations. Ces pages web dont les adresses
      sont régulièrement vérifiées, ne font pas partie du site public et officiel www.exposition-celtique.bzh
    </p>
    <p>
      Rennes Métropole n'est pas responsable de la teneur desdits autres sites et ne sera tenu responsable d'aucun
      dommage ou préjudice en découlant. Les liens vers d'autres sites sont fournis aux utilisateurs uniquement par pure
      commodité.
    </p>
    <h3>7.3 - Responsabilité sur le fonctionnement du service</h3>
    <p>Il est expressément rappelé qu’Internet n’est pas un réseau sécurisé. Rennes Métropole ne saurait être tenu pour
      responsable de la contamination par d’éventuels virus ou de l’intrusion d’un tiers dans les sites et décline toute
      responsabilité quant aux conséquences de la connexion des internautes au site ainsi qu’aux autres sites
      accessibles par un lien figurant sur les pages des sites précités.
    </p>
    <p>
      Rennes Métropole décline toute responsabilité en cas de difficultés d’accès ou d’interruption dans la connexion
      des sites.
    </p>
    <p>
      En outre, Rennes Métropole se réserve le droit, pour toutes raisons et à sa seule discrétion, de résilier,
      modifier, suspendre ou interrompre l’accès à tout ou partie des sites, sans avis préalable.
    </p>
    <h2>Article 8 – PROTECTION DES DONNEES PERSONNELLES</h2>
    <p>Le site est dispensé de déclaration auprès de la Commission nationale informatique et libertés. Le site est conçu
      pour ne récolté aucune information privée & personnelle.
    </p>
    <p>
      Vos droits sur les données vous concernant :
    </p>
    <p>
      Conformément au Règlement général sur la protection des données (RGPD) (UE) n°2016/679 du 27 avril 2016 et à la
      loi n°78-17 du 6 janvier 1978 modifiée relative à l'informatique, aux fichiers et aux libertés, vous pouvez
      accéder aux données vous concernant ou demander leur effacement. Vous disposez également d'un droit d’opposition,
      d’un droit de rectification et d’un droit à la limitation du traitement de vos données.
    </p>
    <p>
      Pour exercer ces droits ou pour toute question sur le traitement de vos données, vous pouvez contacter le Délégué
      à la protection des données de Rennes Métropole :
    </p>
    <p>
      Par voie électronique via le formulaire de contact du site internet de Rennes Métropole, ou par voie postale à
      adresser à : Rennes Métropole / Hôtel de Rennes Métropole / À l'attention de la Déléguée à la Protection des
      Données / 4, avenue Henri Fréville - CS93111 / 35031 Rennes Cedex
    </p>
    <p>
      Plus d’informations sur cnil.fr et notamment comprendre vos droits.
    </p>
    <h2>Article 9 – INFORMATIONS PUBLIQUES</h2>
    <p>Conformément aux articles L 321-1 et L 322-1 du Code des Relations entre le Public et l'Administration, les
      contenus informatifs de ce site sont des informations publiques dont la réutilisation est libre, à la condition
      que ces dernières ne soient pas altérées, que leur sens ne soit pas dénaturé, et que leurs sources et la date de
      leur dernière mise à jour soient mentionnées.
    </p>
    <p>
      Aucun transfert de propriété des informations publiques n'est opéré au profit du réutilisateur. Ce dernier
      bénéficie d'un droit personnel et non exclusif de réutilisation de ces informations publiques. Toutes personne
      réutilisant des informations publiques en violation des prescriptions susmentionnées est passible d'une amende
      prononcée par la Commission d'Accès aux Documents Administratifs.
    </p>
    <h2>Article 10 – CREDITS DU SITE</h2>
    <p>
      Conception et réalisation Fairness en partenariat avec :
    </p>
    <ul>
      <li>Conception et réalisation graphique: Aurélie BATON & Anne FAUBRY</li>
      <li>Développement : IT's on us</li>
    </ul>

    <h2>Article 11 – LOIS ET LITIGES</h2>
    <p>
      Les présentes mentions légales sont régies par les dispositions du droit français.
    </p>
    <p>
      Les litiges qui pourraient survenir dans l'utilisation du site www.exposition-celtique, après épuisement des voies
      de conciliation amiables, seront soumis à la compétence exclusive des tribunaux compétents de Rennes.
    </p>
  </div>
</section>
</div>
