---
title: Plan du site - Celtique ?
description: "Plan du site Celtique ?"
layout: default.njk

eleventyNavigation:
  key: Plan du site
  parent: Accueil
  order: 7
---
{% include "breadcrumb.njk" %}
<div id="plan_du_site">
  <section class="content">
  <div class="full-width-center">
    <h1>Plan du site</h1>
    <ul>
      <li><a href="/">Accueil</a>
        <ul>
          <li>S'interroger :
            <ul>
              <li><a href="/test/">Test : Quel profil de celte êtes-vous ?</a></li>
              <li><a href="/temoignages/">Témoignages</a></li>
            </ul>
          </li>
          <li>Découvrir :
            <ul>
            <li><a href="/revenir_aux_sources/">Revenir aux sources</a>
              <ul>
                <li><a href="/revenir_aux_sources/une_armorique_celtique/">1. Une Armorique celtique</a></li>
                <li><a href="/revenir_aux_sources/celtes_d_une_rive_a_l_autre/">2. Celtes… d'une rive à l'autre ?</a></li>
                <li><a href="/revenir_aux_sources/breton_langue_celtique/">3. Breton, langue celtique ?</a></li>
              </ul>
            </li>
            <li><a href="/construction_recit/">La construction d’un récit</a>
              <ul>
                <li><a href="/construction_recit/mythes_fondateurs/">1. Mythes fondateurs</a></li>
                <li><a href="/construction_recit/celtomanie/">2. Celtomanie</a></li>
                <li><a href="/construction_recit/regionalisme_panceltisme/">3. Régionalisme et panceltisme</a></li>
                <li><a href="/construction_recit/celt_attitude/">4. Celt’attitude</a></li>
                <li><a href="/construction_recit/epilogue/">5. Épilogue</a></li>
              </ul>
            </li>
            </ul>
          </li>
          <li><a href="/aller_plus_loin/">Aller plus loin</a></li>
          <li><a href="/#information">Infos pratiques</a></li>
          <li><a href="/ecoconception/">Écoconception</a></li>
          <li><a href="/mentions_legales/">Mentions légales</a></li>
          <li><a href="/accessibilite/">Accessibilité</a></li>
          <li><a href="/plan_du_site/">Plan du site</a></li>
        </ul>
      </li>
    </ul>
  </div>
</section>
</div>

{# <ul> #}
{# {% for page in collections.all %} #}
{#  <li> #}
{#    <a href="{{ site.url }}{{ page.url | url }}">{{ page.name }}</a> #}
{#  </li> #}
{# {% endfor %} #}

{# </ul> #}
