---
title: Témoignages - Celtique ?
description: 'Une sélection de témoignages autour de la notion de celtisme : un druide, une bénévole de festival, un auteur de récit de fantasy, etc.'
layout: default.njk

eleventyNavigation:
  key: Témoignages
  parent: Accueil
  order: 2
---
{% include "breadcrumb.njk" %}
<div id="temoignage">
  <section class="content section-1">
      <h1 class="">Témoignages : qu'en disent-ils et elles ?</h1>
      <p>
        Écoutez des témoignages contemporains sur le celtisme : qu'est-ce que le celtisme et quelle place
        occupe-t-il ? Le grand druide de la Gorsedd de Bretagne, une bénévole au Festival Interceltique, le
        vice-président de la confédération des cercles celtiques Kenleur, et un écrivain, auteur d'héroïc
        fantasy, nous répondent.
      </p>
      <p>
        Ces entretiens ont été réalisés par le Musée de Bretagne en 2021 et 2022, par Marie-Noëlle
        Faulon, Cécile Le Faou (interview) et Arnaud Géré (montage).
      </p>
  </section>
  <section class="section-2">
    <div class="content full-width-center">
      <div class="card-upper-image" id="temoignage-1">
        <img loading="lazy" width="200" height="200"
             src="/images/temoignages/temoignages_gorsedd_opt.jpg"
             alt="Portrait de Per Vari Kerloc'h, grand druide de la Gorsedd de Bretagne."/>
        <div class="card-body">
          <h2 class="title">Per Vari Kerloc’h</h2>
          <div class="sub-title">
            Grand druide de la Gorsedd de Bretagne
          </div>
          <blockquote>
            <p class="quote">
              « Le druidisme, il nait forcément dans la civilisation et dans la société celtique. […] C'est cette permanence
              quand même, à travers la langue, à travers la culture, à travers la musique, qui nous légitime : c'est ce qui
              légitime l'existence du druidisme contemporain, c'est évident. »
            </p>
          </blockquote>
          <div class="player">
            <div>
              Français
            </div>
            <div>
              <audio
                controls
                preload="none"
                src="/audios/A02 KERLOCH.mp3">
                Your browser does not support the
                <code>audio</code> element.
              </audio>
              <div class="media-info">
                <span>Durée : 3 min 40</span>
                <span>Poids : 3 Mo</span>
              </div>
            </div>
          </div>
          <div class="player">
            <div>
              Breton
            </div>
            <div>
              <audio
                controls
                preload="none"
                src="/audios/A02 KERLOCH BRETON.mp3">
                Your browser does not support the
                <code>audio</code> element.
              </audio>
              <div class="media-info">
                <span>Durée : 6 min 20</span>
                <span>Poids : 5,4 Mo</span>
              </div>
            </div>
          </div>
          <details class="details-small details-transcription">
            <summary>Afficher la transcription</summary>
            <div>
              <p>
                Le druidisme, il nait forcément dans la civilisation et dans la société celtique. Il est né
                historiquement dans les sociétés celtiques, je dis « les » parce qu'avec le temps en Gaule, on
                n'est pas dans le même espace-temps que ce que l'on va trouver après au Pays de Galles et
                en Irlande.
              </p><p>
                Donc c'est « les sociétés celtiques », parce que je considère que la société celtique vient
                jusqu'à nos jours, que même si elle est diffuse, et que la pratique en Bretagne de la langue
                bretonne est moindre - peut-être en tout cas en nombre de locuteurs - que ce qu'elle a été
                à une certaine époque, on est toujours dans une société celtique à partir du moment où ils
                parlent [breton]. Forcément, une société celtique contemporaine est comparable aux
                sociétés qui l'entourent. C'est cette permanence quand même, à travers la langue, à
                travers la culture, à travers la musique, nous légitime : c'est ce qui légitime l'existence du
                druidisme contemporain, c'est évident.
              </p><p>
                Mais la philosophie de la nature n'est pas forcément évidente dans ce qu'on appelle le
                celtisme, qui est plus diffus, et qui englobe plein de choses. Le druidisme est plus
                spécifiquement situé sur le terrain spirituel, philosophique - pour certains religieux - que le
                celtisme, qui peut être limité au culturel « pur ». Alors évidemment, la Gorsedd, il y a aussi
                un côté culturel et un côté symbolique et spirituel.
              </p><p>
                La Gorsedd s'appelait en fait au départ Goursez Gourenez Breizh izel, c'est-à-dire la Gorsedd
                de la presqu'île de Bretagne. Ça imitait un peu le nom gallois parce que les gallois
                l'appellent l'île de Bretagne, « Ynys Prydain ». Ils vont créer … Ils prennent la décision en
                septembre 1899, et ils vont réaliser une assemblée au cours de l'année 1900 à Guingamp,
                pour jeter les bases d'une association. C'est à ce moment-là qu'ils décident de prendre le
                modèle gallois, et donc de faire trois ordres internes à la Gorsedd : les druides, les bardes et
                les ovates.
              </p><p>
                Dans le siècle, ont eu lieu les premiers contacts interceltiques, en 1867 de mémoire ou
                1864, qui ont permis un premier congrès en fait entre les Celtes, avec des rencontres avec
                des gens venant d'Irlande, d'Écosse et du Pays de Galles principalement. Aujourd'hui
                encore, les liens entre la Cornouailles et le Pays de Galles sont relativement forts, c'est-à-
                dire qu'il y a trois Gorsedd dans le monde, une petite quatrième maintenant en Patagonie,
                mais bon c'est un déport un peu de la Gorsedd de Galles. Et donc les relations restent
                importantes, nous envoyons des délégués tous les ans en Cornouailles et eux nous
                envoient des délégués à la Gorsedd Digor. On ne peut d'ailleurs tenir une Gorsedd Digor
                qu'en présence de délégués de Grande-Bretagne, pour pouvoir faire la cérémonie de l'épée
                brisée, et donc rassembler en fait tous les membres de la Celtie, voilà c'est comme ça qu'on
                dit.
              </p>
            </div>
          </details>
        </div>
      </div>
      <div class="card-upper-image" id="temoignage-2">
        <img loading="lazy" width="200" height="200" src="/images/temoignages/temoignages_helenebonniec_opt.jpg"
             alt="Portrait d'Hélène Bonniec, bénévole au Festival Interceltique de Lorient"/>
        <div class="card-body">
          <h2 class="title">Hélène Bonniec</h2>
          <div class="sub-title">
            Bénévole au Festival Interceltique de Lorient
          </div>
          <blockquote>
            <p class="quote">
              « Les premiers pays invités étaient les principaux, c'est-à-dire Irlande, Écosse, le Pays
              de Galles, la Cornouailles, l'Île de Man et la Bretagne. Ensuite, le festival s'est ouvert
              aux Asturies et à la Galice et plus récemment à l'Acadie. […] L'interceltisme c'est finalement
              le lien qui unit les pays dits celtiques. »
            </p>
          </blockquote>
          <div class="player">
            <div>
              Français
            </div>
            <div>
              <audio
                controls
                preload="none"
                src="/audios/A05 BONNIEC.mp3">
                Your browser does not support the
                <code>audio</code> element.
              </audio>
              <div class="media-info">
                <span>Durée : 3 min 06</span>
                <span>Poids : 2,6 Mo</span>
              </div>
            </div>
          </div>
          <div class="player">
            <div>
              Breton
            </div>
            <div>
              <audio
                controls
                preload="none"
                src="/audios/A05 BONNIEC BRETON.mp3">
                Your browser does not support the
                <code>audio</code> element.
              </audio>
              <div class="media-info">
                <span>Durée : 4 min 34</span>
                <span>Poids : 4 Mo</span>
              </div>
            </div>
          </div>
          <details class="details-small details-transcription">
            <summary>Afficher la transcription</summary>
            <div>
              <p>
                J'ai connu le FIL (Festival Interceltique de Lorient) à l'âge de 17 ans lors de vacances avec ma
                maman dans le Morbihan. J'ai commencé mon engagement en 2011, suite à une année en
                Irlande, qui m'a permis de maîtriser l'anglais.
              </p>
              <p>
                Pour moi le Festival est vraiment unique pour plein de points différents. Tout d'abord c'est
                un festival qui vraiment investit la ville pendant dix jours. Il y a beaucoup d'activités
                proposées, que ce soit des stages de danse, de musique, des jeux, des marchés … On peut
                aussi découvrir les pays celtes de plein de façons différentes, avec les plats traditionnels. Il
                y a aussi du cinéma, des fest-noz, des conférences aussi, sur des thèmes vraiment divers et
                variés.
              </p>
              <p>
                Les premiers pays invités étaient les principaux, c'est-à-dire l'Irlande, l'Écosse, le Pays de
                Galles, la Cornouailles, l'Île de Man et la Bretagne. Ensuite, le festival s'est ouvert aux
                Asturies et à la Galice et plus récemment à l'Acadie. Maintenant nous sommes arrivés à un
                nombre de spectateurs de 750 000 sur 10 jours environ, ce qui n'était pas le cas il y a 10 ans.
                Donc l'effectif augmente, c'est que les gens sont vraiment intéressés et passionnés par ce
                festival pour y revenir chaque année (parce qu'il y a beaucoup d'habitués).
              </p>
              <p>
                En breton, le Festival Interceltique de Lorient est traduit finalement mot-à-mot par festival
                etrelkeltiec an oriant, mais sur la plupart de documents officiels ou même sur l'affiche, on
                rencontre régulièrement, et c'est même je pense la traduction originelle, le terme Emvod ar
                Gelted. Emvod ar Gelted signifie le rassemblement des Celtes, l'union des Celtes ou la
                réunion des Celtes.
              </p>
              <p>
              L'interceltisme c'est le lien, lien finalement qui unit les pays dits celtiques, comme l'Écosse,
                l'Irlande, la Bretagne, le Pays de Galles, la Cornouailles, l'Île de Man. Ces liens se sont créés
                aussi principalement parce qu'ils parlent des langues celtiques, et forcément ces liens,
                créés à la fois par la langue et par une sorte d'histoire un peu commune, créent des liens
                que moi j'appellerais des "liens interceltiques". Mais c'est vrai que ce terme n'est pas facile
                à utiliser pour moi. J'ai pu remarquer que beaucoup de gens utilisaient le terme Festival de
                Lorient plutôt que de Festival Interceltique, et je me demande du coup si peut-être la
                raison ne serait pas que Festival de Lorient parait quand même plus concret que Festival
                Interceltique.
              </p>
            </div>
          </details>
        </div>
      </div>
    </div>
    {% waveDecoration "#1A3A50", "#2B5970" %}
    <div class="content full-width-center">
      <div class="card-upper-image" id="temoignage-3">
        <img loading="lazy" width="200" height="200" src="/images/temoignages/temoignages_jaworski_opt.jpg"
             alt="Portrait de Jean-Philippe Jaworski, auteur des romans du cycle d'héroïc fantasy &quot;Rois du monde&quot;"/>
        <div class="card-body">
          <h2 class="title">Jean-Philippe Jaworski</h2>
          <div class="sub-title">
            Ecrivain français de fantasy
          </div>
          <blockquote>
            <p class="quote">
              « On se recrée en quelque sorte une identité rêvée ou fantasmée à partir d'éléments qui sont
              des éléments linguistiques, toponymiques très nets, mais il y a une recréation. […] Pour moi,
              le celtisme, c'est un sujet de roman avant tout, c'est un sujet de fiction. »
            </p>
          </blockquote>
          <div class="player">
            <div>
              Français
            </div>
            <div>
              <audio
                controls
                preload="none"
                src="/audios/A01 JAWORSKY.mp3">
                Your browser does not support the
                <code>audio</code> element.
              </audio>
              <div class="media-info">
                <span>Durée : 4 min 39</span>
                <span>Poids : 3,9 Mo</span>
              </div>
            </div>
          </div>
          <details class="details-small details-transcription">
            <summary>Afficher la transcription</summary>
            <div>
              <p>
                Lecture d'un extrait de Même pas mort, Rois du monde, t.1, Folio, pp.11-12, par l'auteur
              </p>
              <p>
                « Nos chevaux, nos armes, nos torques signalaient des voyageurs puissants, ce qui nous
                garantissait normalement un bon accueil. Toutefois, ce sont la lyre et le court manteau à
                capuchon d'Albios qui nous ont valu des mouvements de sympathie : au premier coup
                d'œil, les Osismes ont reconnu un barde, et ils l'ont salué avec une certaine déférence.
              </p>
              <p>
                Nos montures ont été conduites dans un parc où s'ébattait le haras du roi, puis on nous a
                menés à son palais. Le crépuscule, qui assombrissait les façades de torchis et poudrait le
                ciel de quelques étoiles, avait rappelé pâtres et laboureurs dans les murs. En chemin, les
                femmes, les artisans, les bouviers nous interpellaient familièrement. Les Osismes
                pratiquent la même langue que nous, mais j'avais du mal à comprendre leur accent et
                certaines tournures locales ; Albios quant à lui, les entendait sans peine et répondait par
                des plaisanteries et des demi-vérités. Comme à l'ordinaire, on nous demandait d'où nous
                venions et de quelles nouvelles nous étions porteurs. Sans les ambactes lourdement armés
                qui nous avaient escortés depuis les portes de la cité, nous aurions sans doute été retenu
                par des curieux tous les dix pas. »
              </p>
              <p>
                Entretien :
              </p>
              <p>
                Rois du monde est un cycle romanesque qui s'intéresse à un personnage semi-historique,
                Bellovèse, à son frère Ségovèse et à leur oncle Ambigat ou Ambigatus. Ce sont trois
                personnages qui sont cités brièvement dans l'histoire romaine de Tite-Live comme étant,
                en ce qui concerne les deux frères Bellovèse et Ségovèse, les premiers conquérants gaulois.
                L'un serait parti vers la forêt hercynienne (Ségovèse), et l'autre qui serait parti vers
                Marseille tout d'abord, puis l'Italie. Chez Tite-Live, ces personnages n'apparaissent que
                l'espace d'une page. J'ai décidé de m'en emparer et d'en faire les personnages principaux
                d'un cycle romanesque.
              </p>
              <p>
                Qu'est-ce que le celtisme ?
              </p>
              <p>
                C'est un retour à des sources plus ou moins fantasmatiques. En ce sens qu'indéniablement,
                on a dans nos sociétés occidentales un héritage celtique très très fort : dans le paysage (en
                tout cas avant l'agriculture intensive on avait un paysage hérité du monde celtique), dans
                le vocabulaire, dans notre façon de compter aussi, on a vraiment un héritage celtique très
                fort y compris dans des régions qui ne sont absolument pas d'identité celtique. Et en
                même temps, je crois qu'on se recréé une identité parce qu'on est quand même très
                fortement imprégné par d'autres cultures : bien sûr la culture latine mais on a aussi été
                fortement imprégné au Moyen Âge par les cultures germaniques. On se recrée en quelque
                sorte une identité rêvée ou fantasmée à partir d'éléments qui sont des éléments
                linguistiques, toponymiques très nets, mais il y a une recréation. Moi, je vois le celtisme de
                cette façon-là. Pour moi, c'est un sujet de roman avant tout, c'est un sujet de fiction. Une
                fiction que je vais ancrer dans un passé lointain, qui est notre passé, mais ça reste de la
                fiction.
              </p>
              <p>
                Je me rends bien compte que ma définition est complètement floue parce que moi-même
                je vais y puiser ce qui m'intéresse pour raconter une histoire qui reste avant tout une
                histoire visant à l'évasion du lecteur. J'y perçois très bien des éléments de ma propre
                identité mais c'est très difficile à définir de façon précise.
              </p>
              <p>
                Est-ce que je vois la Bretagne comme celtique ?
              </p>
              <p>
                Ah oui bien sûr, en ce sens qu'on y parle de des langues celtiques. Il y a une espèce
                d'identité proto-nationale qui est fondée sur le celtisme en Bretagne, ce qui est pas du tout
                le cas dans les autres régions de France, alors qu'il y a aussi un héritage celtique (mais
                historique et pas forcément linguistique). Alors bien sûr, il y a la langue en Bretagne, il y a
                l'identité presque insulaire qui se distingue du reste, et puis il y a l'héritage du passé, de la
                quasi-indépendance qu'a connue la Bretagne pendant une grande période, qui fait que
                sans doute le celtisme permet de se démarquer du caractère roman du reste de la France.
            </p>
            </div>
          </details>
        </div>
      </div>
      <div class="card-upper-image">
        <img loading="lazy" width="200" height="200" src="/images/temoignages/temoignages_robertraulo_opt.jpg"
        alt="Portrait de Robert Raulo, vice-président de la confédération des cercles celtiques Kenleur."/>
        <div class="card-body">
          <h2 class="title">Robert Raulo</h2>
          <div class="sub-title">
            Vice-président de la confédération des cercles celtiques Kenleur
          </div>
          <blockquote>
            <p class="quote">
            « L'appellation "cercle celtique" entre les deux guerres, c'était quelque chose de très sérieux. On
            défendait un patrimoine venu de nos ancêtres celtes et que l'on voulait transmettre. […] Et puis
            ce côté "celtique" peu à peu va se déliter au fil des ans. »
            </p>
          </blockquote>
          <div class="player">
            <div>
              Français
            </div>
            <div>
              <audio
                controls
                preload="none"
                src="/audios/A4 RAULO.mp3">
                Your browser does not support the
                <code>audio</code> element.
              </audio>
              <div class="media-info">
                <span>Durée : 3 min 29</span>
                <span>Poids : 2,9 Mo</span>
              </div>
            </div>
          </div>
          <details class="details-small details-transcription">
            <summary>Afficher la transcription</summary>
            <div>
              <p>
                Les cercles celtiques en Bretagne, c'est une création qui remonte avant la Première Guerre
                mondiale. Les objectifs ont évolué, c'est évident. À l'heure actuelle les objectifs des cercles
                celtiques sont la conservation d'un patrimoine, la promotion de ce patrimoine mais aussi
                comme toute tradition, c'est la faire vivre. C'est-à-dire qu'une … une tradition n'est pas
                figée, elle évolue et donc chaque cercle dans sa sphère travaille de façon à bonifier ce qui a
                été donné par les anciens passeurs - pour préparer des spectacles, mais aussi en faisant
                des recherches de collectage soit de danse, soit de chant, soit au niveau du costume, voire
                même au niveau du patrimoine bâti. Donc les cercles en fait ils font de la recherche et ils
                font de la création.
              </p>
              <p>
                J'ai l'impression que l'appellation "cercle celtique" c'est une appellation d'habitude, de
                routine. L'appellation "cercle celtique" entre les deux guerres, c'était quelque chose de très
                sérieux. On défendait un patrimoine venu de nos ancêtres celtes et que l'on voulait
                transmettre, avec toutes les caractéristiques évidemment que nous avaient, que nous
                auraient amenées les Celtes : l'esprit d'indépendance, le courage, la poésie. Certains textes
                par exemple dans les premiers Breizh, qui était le journal de la confédération Kendalc’h,
                juste après-guerre, dans les années 50, certains textes sont admirables, c'est-à-dire que les
                Celtes finalement ont créé toute la civilisation du monde : schématiquement on en arrive à
                ça. Et, ça peut se comprendre, évidemment. On sort d'une époque qui a été extrêmement
                troublée, le mouvement breton est un peu perdu parce que on ne peut plus trop se
                revendiquer Breton à ce moment-là, sinon on risque évidemment de se faire traiter de
                collaborateurs ou autre. Alors, on se rabat sur cette civilisation que l'on défend et que l'on
                magnifie, véritablement. Et puis ce côté "celtique" peu à peu va se déliter au fil des ans, et à
                l'heure actuelle l'appellation "cercle celtique", je vous le disais, est une appellation de
                routine. Certains groupes d'ailleurs commencent à se demander si elle est bien
                intéressante, si elle doit être gardée. Vous avez des groupes maintenant qui préfèrent
                s'appeler "cercle culturel breton" par exemple et donc l'adjectif celtique est enlevé.
              </p>
              <p>
                Vous me demandez "qu'est-ce qu'il reste de celtique dans les cercles ? " Encore faudrait-il
                savoir ce que les Celtes pratiquaient comme musique, comme danse ou comme chant... les
                sources à ma connaissance sont très limitées.
              </p>
            </div>
          </details>
        </div>
      </div>
    </div>
  </section>
  <section class="content section-3">
    <h2 class="full-width-center">Poursuivez votre visite</h2>
    <p class="full-width-center">
      Plongez dans l’histoire de la Bretagne à travers le prisme de deux époques de la constitution
      de l’identité celte.
    </p>
    {% include "content-cards.njk" %}
  </section>
</div>
