@import "../../color";
@import "../../font";
@import "../../mixin";

#celtomanie {
  .section-1 {
    background: $black;
    margin: 0;
    padding-bottom: $medium;
    hr {
      color: $pink;
      margin: $small 0;
    }
    h1 {
      color: $grey;
      &:before {
        @include title-decoration($pink);
      }
    }

    h2 {
      color: $grey;
      margin-top: 0;
    }
    p:not(.sub-title) {
      color: $grey;
    }
    .row {
      display: flex;

      > figure {
        margin-left: $x_medium;
        width: 360px;
        figcaption {
          background: $grey;
        }
        p {
          color: $black;
        }
      }

      @include media( "<desktop") {
        flex-direction: column;
        > figure {
          margin: 0 auto;
        }
      }
    }
  }

  .section-2 {
    background: $dark_grey;
    > figure {
      > div {
        text-align: center;
        background: white;
        overflow-x: hidden;
        @include media("<desktop") {
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
      p, a {
        color: $white;
      }
    }
  }

  .section-3 {
    color: $black;
    padding: $medium 0;

    .row {
      display: flex;
      @include media("<desktop") {
        flex-direction: column;
        .card {
          margin: 0;
        }
        .card:first-child {
          margin-bottom: $x_small;
        }
      }

      .card p {
        @extend %main-text-small;
        margin-bottom: $x_small;
      }

      .card .media-info {
        margin-bottom: $x_small;
      }

      .card .card-title p {
        @extend %tertiary-text-bold;
      }

      .card .link a {
        @extend %main-text-small;
      }

      details {
        summary {
          margin-right: .5rem;
          text-align: right;
          color: $light_blue;
        }
      }
      audio {
        width: 300px;
        @include media("<desktop") {
          width: 100%;
        }
      }
    }
  }

  .section-4 {
    background: $black;
    h2 {
      color: $white;
    }
    .decoration-1 {
      transform: translateY(-219px) translateX(476px);;
    }
    .decoration-2 {
      transform: translateY(-150px) translateX(200px);;
    }
    .figure-block-1 {
      figure {
        background: #eaefdd;
      }
      img {
        max-width: 610px;
      }
    }
    .figure-block-2 {
      figure {
        background: #161616;
      }
      img {
        max-width: 500px;
      }
      @include media(">=desktop") {
        margin: 80px 0 -400px 0;
        figure {
          transform: translateY(-400px);
        }
      }
    }
    .figure-block-3 {
      img {
        max-width: 610px;
      }
      @include media(">=desktop") {
        margin: 80px 0 -100px 0;
        figure {
          transform: translateY(-100px);
        }
      }
    }
    .figure-block-4 {
      img {
        max-width: 500px;
      }
      @include media(">=desktop") {
        margin: 80px 0 -230px 0;
        figure {
          transform: translateY(-200px);
          margin-bottom: $x_medium;
        }
        > div:first-child {
          transform: translateY(230px);
          margin-bottom: 430px;
        }
      }
    }
    @include media("<desktop") {
      .figure-block-1 {
        figure {
          order: 2;
          margin-bottom: $small;
        }
        .figure-block-text-right {
          order: 1;
        }
      }
      .figure-block-2 {
        margin-bottom: $small;
      }
      .figure-block-3 {
        figure {
          order: 2;
          margin-bottom: $small;
        }
        .figure-block-text-right {
          order: 1;
        }
      }
      .figure-block-4 {
        margin-bottom: $small;
      }
    }
  }
}
