@import "../../color";
@import "../../font";
@import "../../mixin";
#celt_attitude {

  .section-1 {
    background: $black;
    hr {
      color: $pink;
      margin: $small 0;
    }
    h1 {
      &:before {
        @include title-decoration($pink);
      }
    }

    h2 {
      margin-top: 0;
    }

    h1, h2 {
      color: $grey;
    }

    .row {
      color: $grey;
      display: flex;
      justify-content: space-between;
      @include media("<desktop") {
        flex-direction: column;
      }
      > div:first-child {
        > figure {
          position: relative;
          margin-top: $medium;
          z-index: 2;
          background: #fbf3e5;
          width: 389px;

          > div {
            display: flex;
            justify-content: center;
          }

          figcaption {
            background: $dark_grey;
          }

          img {
            text-align: center;
          }

          a {
            color: $white;
          }

          @include media("<desktop") {
            margin: $small 0 0 0;
            width: unset;
          }
        }
      }
      > div:last-child {
        position: relative;
        z-index: 2;
        margin-left: $small;
        width: 412px;
        background: $dark_grey;
        border-radius: 0 40px;
        > figure {
          background: #ddded9;
          a { color: $light_blue; }
          p {
            color: $black;
          }
          > div {
            display: flex;
            justify-content: center;
          }
          figcaption {
            background: $white;
          }
        }
        > p {
          @extend %secondary-text;
          padding: $small;
        }
        @include media("<desktop") {
          margin: 0;
          width: unset;
          img {
            width: 100%;
            max-width: 412px;
            height: unset;
            object-fit: cover;
          }
        }
      }
    }
  }

  .wave-1 {
    position: absolute;
    width: 100%;
    @include media(">=desktop") {
      transform: translateY(-122px);
    }
  }

  .section-2 {
    margin-top: $x_medium;
    color: $dark_grey;
    > p {
      margin-bottom: $medium;
    }

    hr {
      color: $pink;
      margin: $xx_medium 0 0 0;
    }

    figure figcaption {
      background: $dark_grey;
      &, a {
        color: $white;
      }
    }

    @include media("<desktop") {
      margin-top: $medium;
      img {
        width: 100%;
        height: unset;
        object-fit: cover;
      }
    }
  }

  .section-3 {

    .intro {
      p, h1, h2 {
        color: $dark_grey;
      }
      padding-bottom: $medium;
    }

    .decoration-1 {
      transform: translateY(-143px) translateX(244px);
    }
    .decoration-2 {
      transform: translateY(70px) translateX(83px);
    }

    .figures-container {
      background: $black;
    }

    .figures {
      padding-bottom: $small;
    }

    .figure-block-2 {
      @include media(">=desktop") {
        $gap-block-2: -360px;
        justify-content: space-between;
        margin-top: 80px;
        margin-bottom: $gap-block-2;

        figure:last-child {
          transform: translateY($gap-block-2);
        }
      }
    }

    .figure-block-3 {
      @include media(">=desktop") {
        margin-top: 80px;
        > div:nth-child(2) {
          transform: translateY(120px);
        }
      }
    }

    .figure-block-text-right {
      @include media(">=desktop") {
        transform: translateY(190px);
      }
    }

    @include media("<desktop") {
      .figure-block-1, {
        figure {
          order: 2;
          margin-bottom: $small;
        }

        .figure-block-text-right {
          order: 1;
        }
      }
      .figure-block-2 figure {
        margin-bottom: $small;
      }
    }

    .playlist {
      margin: $medium 0;
    }
    .playlist .card {
      margin-left: 0;
    }
  }

  .wave-2, .wave-3 {
    @include media("<desktop") {
      display: none;
    }
  }

  .section-4 {
    background: $dark_grey;
    padding-bottom: $medium;

    h2, p {
      color: $white;
    }

    > div {
      display: flex;

      @include media("<desktop") {
        flex-direction: column;
      }

      > div:first-child {
        p {
          @extend %secondary-text;
        }
        em {
          @extend %secondary-text-bold;
        }

        div.title {
          @extend %secondary-text;
          font-weight: 700;
          color: $white;
          padding: $xx_small 0;
        }

        video {
          width: 100%;
        }
        figcaption {
          padding: $x_small 0;
        }
        figcaption p {
          @extend %main-text-small;
        }

        details {
          margin-top: -1.425rem - $x-small;
          margin-bottom:  $x-small;
          summary {
            text-align: right;
            color: $white;
            margin-right: $xx_small + .5rem;
          }
        }
        .media-info {
          color: $white;
          margin-bottom: $x-small;
        }
      }

      > figure:last-child {
        p {
          color: $black;
        }
        margin-left: $small;
        > div:first-child {
          display: flex;
          justify-content: center;
          background: black;
        }
        figcaption {
          background: $grey;
        }
        @include media("<desktop") {
          margin-top: $small;
          margin-left: 0;
        }
      }
    }
  }

  .section-5 {
    background: white;
    margin: $x_medium 0;
    > p {
      color: $dark_grey;
      margin-bottom: $medium;
    }

    figure {
      display: flex;
      background: $dark_grey;
      p, a {
        color: $white;
      }

      > div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 $x_small;
        background: #f5f8f1;
      }
      @include media("<desktop") {
        flex-direction: column;
        img {
          width: 100%;
          max-width: 273px;
          height: unset;
          object-fit: cover;
        }
      }
    }
  }
}
