@import "../../color";
@import "../../spacing";
@import "../../mixin";

#epilogue {

  h1 {
    color: #fff;
    &:before {
      @include title-decoration($pink);
    }
  }

  .section-3 h2:first-child,
  .section-4 h2 {
    margin-top: 0;
    @include media("<desktop") {
      margin-top: $x_small;
    }
  }

  h2 {
    color: #fff;
    @include media("<desktop") {
      margin-top: $x_small;
    }
  }

  .section-1 p,
  .section-3 p,
  .section-4 p,
  .section-4 a,
  .section-4 blockquote {
    color: #fff;
  }

  .section-1 {
    margin: 0;

    > div:first-child {
      padding-bottom: $medium;
      background: $black;

      > p:nth-child(2) {
        color: $light_beige;
      }
    }

    hr {
      color: $pink;
      margin: $small 0;
    }

    h2 {
      margin-top: 0;
    }
  }


  @include media("<desktop") {
    .section-2 div:last-child {
      margin-bottom: $small;
    }
  }

  .section-3 {
    background: $black;
    padding-bottom: $medium;

    > div {
      display: flex;

      @include media("<desktop") {
        flex-direction: column;
      }

      > div:first-child {
        @include media("<desktop") {
          order: 2;
        }
      }

      > div:last-child {
        padding-left: $small;
        margin-right: (-$medium);
        @include media("<desktop") {
          order: 1;
          margin: 0;
          padding: 0 0 $small 0;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .button {
      margin-top: $small;

      @include media("<desktop") {
        display: flex;
        justify-content: center;
        padding-bottom: $small;
      }

      a {
        color: #fff;
        border: 2px solid #fff;
        padding: 7px 40px;
        text-decoration: none;
        cursor: pointer;
      }
      a:hover {
        background: #fff;
        color: $black;
      }
      a:hover svg {
        fill: $black;
      }
    }
  }

  .section-4 {
    background: $dark_grey;
    padding-bottom: $x-medium;
    margin-bottom: $medium;

    .description {
      position: relative;
      margin: 0 0 0 $x_medium;

      @include media("<desktop") {
        margin: $small 0 0 0;
      }
      > p, blockquote {
        @extend %secondary-text;
      }
      blockquote {
        margin: $medium 0 $x_small 0;
        font-style: italic;
      }
      figcaption {
        @extend %secondary-text;
        background: $dark_grey;
        padding: 0;
      }
    }

    .description .link {
      position: absolute;
      bottom: 0;
      margin: 0;

      a {
        @extend %secondary-text;
      }

      @include media("<desktop") {
        margin-top: $small;
        position: initial;
      }
    }

    figcaption {
      background: $grey;
    }

    figcaption p {
      color: $black;
    }

    .row__p__figure {
      margin-top: 0;
      figcaption .link a {
        color: $light_blue;
      }
    }
  }
}
