@import "construction_recit";
@import "mythes_fondateurs";
@import "celtomanie";
@import "regionalisme_panceltisme";
@import "celt_attitude";
@import "epilogue";

.row__p__figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: $medium;
  color: $dark_grey;

  @include media(">=phone", "<desktop") {
    flex-direction: column;
  }

  div:last-child {
    margin: 0 0 $x_medium $x_medium;
    @include media(">=phone", "<desktop") {
      margin: $small auto;
    }

    img {
      background: $grey;
      @include media(">=phone", "<desktop") {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    figcaption {
      background: $dark_grey;
      color: white;

      a {
        color: white;
      }
    }
  }
}

.sub-title {
  color: $light_beige;
  font-weight: bold;
}

.figures-title, .figures {
  max-width: $page_width;
  margin-left: auto;
  margin-right: auto;
}
.figures-title {
  padding: $x_medium 0 $medium 0;
  h2 {
    margin: 0;
  }
}

.figures {

  figure {
    position: relative;

    @include media("<desktop") {
      > div:first-child {
        display: flex;
        justify-content: center;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }

    z-index: 2;
    :not(> .link) {
      color: $black;
    }
    figcaption {
      background: $grey;
      color: $black;
    }
  }
}

.figure-block {
  display: flex;
  width: $page_width;
  @include media("<desktop") {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
}

.figure-block-text-left, .figure-block-text-right {
  position: relative;
  z-index: 2;
  p {
    @extend %secondary-text;
    color: $white;
  }
  .title {
    font-weight: bold;
  }
  p:last-child {
    margin-bottom: 0;
  }
  .inner {
    background: $dark_grey;
    padding: $medium;
  }
}
.figure-block-text-left .inner {
  border-radius: 0 0 0 $x_medium;
}
.figure-block-text-right .inner {
  border-radius: 0 $x_medium 0 0;
}
.figure-block-decoration {
  position: absolute;
  border: 2px solid $pink;
  border-radius: 0 $x_medium;
  height: 232px;
  width: 719px;
  z-index: 1;
  overflow: hidden;

  @include media("<desktop") {
    display: none;
  }
}

@include media("<desktop") {
  .figure-block-text-left, .figure-block-text-right {
    transform: unset;
    .inner {
      border-radius: 0;
      padding: $x_small;
    }
  }
}
