@import "../../color";
@import "../../spacing";
@import "../../mixin";

#mythes_fondateurs {

  .section-1 {
    margin: 0;

    p:not(.sub-title) {
      color: $grey;
    }

    > div:first-child {
      padding-bottom: $x_medium;
      background: $black;
    }

    hr {
      color: $pink;
      margin: $small 0;
    }

    h1 {
      color: $grey;
      &:before {
        @include title-decoration($pink);
      }
    }

    h2 {
      color: $grey;
      margin-top: 0;
    }
  }

  .wave-1 {
    position: absolute;
    width: 100%;
    transform: translateY(-120px);
    z-index: 1;
    @include media("<desktop") {
      display: none;
    }
  }

  .section-2 {
    background: $black;

    .figures-mythes {
      position: relative;
      z-index: 2;
      display: flex;
      img:first-child {
        margin-right: $xx_small;
      }
      justify-content: center;
      @include media("<desktop") {
        flex-direction: column;
        img:first-child {
          margin-right: 0;
        }
        img:last-child {
          object-fit: scale-down;
          width: 100%;
          height: unset;
        }
      }
    }
    figcaption {
      background: $dark_grey;
      &, a {
        color: white;
      }
      padding: $x_small 0 $small 0  ;
    }

    > div:last-child {
      background: $dark_grey;
      padding-bottom: $small;
      > div {
        margin-top: -$xx_small;
      }
    }
  }

  .section-3 {
    color: $black;
    padding: $medium 0;

    .card {
      background: $dark_grey;
      border-radius: 0 40px;
      padding: $x_medium;
      margin: $medium 0;
      color: $white;

      @include media("<desktop") {
        padding: $x_small;
      }

      h2 {
        margin: 0 0 $small 0;
        color: $white;
      }

      > div {
        display: flex;
        figure {
          background: $grey;
          color: $dark_grey;
          margin-right: $medium;
        }
        figcaption .link a {
          font-size: $small-font-size;
        }
        @include media("<desktop") {
          flex-direction: column;
          figure {
            margin-right: 0;
            margin-bottom: $x_small;
          }
          img {
            object-fit: scale-down;
            width: 100%;
            height: unset;
          }
        }
        > div:last-child {
          p {
            @extend %secondary-text;
          }
          em {
            font-size: $secondary-font-size;
          }
        }
      }
    }
  }

  .section-4 {
    background: $black;
    padding-bottom: $x_medium;

    h2 {
      color: $white;
    }

    .decoration-1 {
      width: 981px;
      height: 317px;
      transform: translateY(353px) translateX(205px);
    }
    .decoration-2 {
      width: 803px;
      height: 259px;
      transform: translateY(80px) translateX(-50px);
    }

    .figure-block-2 {
      @include media(">=desktop") {
        display: flex;
        justify-content: right;
        margin-bottom: -250px;
        figure {
          transform: translateY(-250px);
        }
        figcaption {
          width: 670px;
          box-sizing: border-box;
        }
      }
    }
    .figure-block-3 {
      @include media(">=desktop") {
        margin-bottom: -260px;
        figure {
          transform: translateY(-260px);
        }
        > div:last-child {
          transform: translateY(235px);
          margin-bottom: 235px + 260px;
        }
      }
    }

    @include media("<desktop") {
      .figure-block-1 {
        figure {
          order: 2;
          margin-bottom: $small;
        }
        .figure-block-text-right {
          order: 1;
        }
      }
      .figure-block-2 {
        margin-bottom: $small;
      }
      .figure-block-3 {
        figure {
          order: 2;
          margin-bottom: $small;
        }
        .figure-block-text-right {
          order: 1;
        }
      }
    }
  }
}
