@import "../../color";
@import "../../font";
@import "../../mixin";

#regionalisme_panceltisme {

  .section-1 {
    background: $black;
    margin: 0;
    padding-bottom: $medium;

    hr {
      color: $pink;
      margin: $small 0;
    }

    h1 {
      color: $grey;

      &:before {
        @include title-decoration($pink);
      }
    }

    h2 {
      color: $grey;
      margin-top: 0;
    }

    p:not(.sub-title) {
      color: $grey;
    }
  }

  .section-2 {
    background: $dark_grey;
    padding-bottom: $small;
    p, a {
      color: $white;
    }
    > figure {
      > div {
        text-align: center;
        overflow-x: hidden;
        img {
          @include media("<desktop") {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
    > div:last-child p {
      @extend %secondary-text;
    }
  }

  .section-3 {
    padding-top: $medium;
    h2, & {
      color: $black;
    }

    .small-paragraph {
      width: 500px;
      margin-bottom: $x_small;
      @include media("<desktop") {
        width: unset;
      }
    }

    .wave-1 {
      transform: translateY(5px);
      @include media("<desktop") {
        display: none;
      }
    }

    .card summary {
      text-align: right;
      margin-right: 0.5rem;
      color: $light_blue;
    }

    .card audio {
      margin-top: 0;
    }

    .card p {
      @extend %main-text-small;
      margin-bottom: $x_small;
    }

    .card .media-info {
      margin-bottom: $x_small;
    }

    .card .card-title p {
      @extend %tertiary-text-bold;
    }

    .row, .figures-1 {
      display: flex;
      @include media("<desktop") {
        flex-direction: column;
      }
    }

    @include media("<desktop") {
      .card {
        margin-left: 0;
      }
    }

    audio {
      width: 300px;
      @include media("<desktop") {
        width: 100%;
      }
    }

    .figures-1 {
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: $x_medium;

      > figure {
        background: $dark_grey;
        width: 420px;

        a, p {
          color: $white;
        }

        > div {
          text-align: center;
          background: #ad9e89;
        }

        @include media("<desktop") {
          width: unset;
          img {
            max-width: 420px;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }

    hr {
      color: $pink;
    }
  }

  .section-4 {
    background: $black;

    .figure-block-1 {
      @include media(">=desktop") {
        display: flex;
        justify-content: right;
        margin-bottom: -340px;
        figure {
          transform: translateY(-340px);
        }
      }
    }
    .figure-block-2 {
      figure {
        background: #ebecf1;
      }
      @include media(">=desktop") {
        margin-top: 80px;
        margin-bottom: -360px;
        figure {
          transform: translateY(-360px);
        }
      }
    }
    .figure-block-3 {
      @include media(">=desktop") {
        margin-top: 160px;
        margin-bottom: -250px;
        figure {
          transform: translateY(-250px);
        }
      }
    }
    .figure-block-4 {
      figure {
        background: #fff;
      }
      @include media(">=desktop") {
        margin-top: 80px;
        margin-bottom: -409px;
        padding-bottom: $medium;
        figure {
          transform: translateY(-409px);
        }
        > div {
          margin-bottom: 409px;
        }
      }
    }
    @include media("<desktop") {
      .figure-block-1 {
        margin-bottom: $small;
      }
      .figure-block-2 {
        figure {
          order: 2;
          margin-bottom: $small;
        }
        .figure-block-text-right {
          order: 1;
        }
      }
      .figure-block-3 {
        margin-bottom: $small;
      }
      .figure-block-4 {
        figure {
          order: 2;
          margin-bottom: $small;
        }
        .figure-block-text-right {
          order: 1;
        }
      }
    }

    .decoration-1 {
      transform: translateX(200px) translateY(260px);
    }
    .decoration-2 {
      transform: translateX(512px) translateY(-180px);
    }
  }

  .broches-figure {
    > div {
      background: #BBA995;
      text-align: center;
      @include media("<desktop") {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
