$background: white;

$dark_blue: #1A3A50;
$secondary: #2B5970;
$tertiary: #AD6626;
$white: #F6F6F6;
$grey: #F7F7F7;
$dark_grey: #3A3A3A;
$light_grey: #F2F2EE;
$light_beige: #CBC9BA;
$dark_beige: #787561;
$light_blue: #1576A7;
$turquoise: #B0E1E0;
$black: #272727;
$pink: #D32F7D;
$dark_pink: #BE2E73;
$orange: #E9A139;
