@import "_color";
@import "_font";
@import "_spacing";
@import "_include-media";

@mixin title-decoration($color) {
  display: inline-block;
  content: '';
  position: relative;
  background: $color;
  border-radius: 0 40px;
  top: -4px;
  left: 0;
  height: 8px;
  width: 41px;
  margin-right: $small;

  @include media("<desktop") {
    margin-right: $xx_small;
    height: 4px;
    width: 28px;
    top: -10px;
  }
}

@mixin title-decoration-small($color) {
  display: inline-block;
  content: '';
  position: relative;
  background: $color;
  top: -4px;
  left: 0;
  height: 3px;
  width: 20px;
  margin-right: $xx_small;
}

@mixin secondary-text($line-height: 1.625rem, $font-weight: 400) {
  font-size: $secondary-font-size;
  font-style: normal;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: 0;
}
