@import '_color';
@import "_font";
@import "_mixin";
@import "_spacing";

nav.main-menu {
  position: relative;
  text-align: center;
  height: 50px;
  background: #fff;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);

  @include media("<desktop") {
    display: none;
  }

  .menu {
    display: inline-block;
    padding: 0;
    list-style: none;
    margin: 0;
  }

  .menu-item {
    &, a {
      @include secondary-text(50px, bold);
      color: $black;
    }
    a {
      text-decoration: none;

      display: inline-block;
      position: relative;
      z-index: 1;
      padding: 20px;
      margin: -20px;
    }
    float: left;
    margin: 0 $medium;
    height: 50px;
    box-sizing: border-box;

    &:hover,
    &.active-item {
      border-bottom: 3px solid black;
    }
  }

  .arrow {
    &:after {
      display: inline-block;
      content: '';
      border: solid black;
      border-width: 0 2px 2px 0;
      padding: 4px;
      margin-left: 14px;
      transform: rotate(45deg);
    }
    &:hover:after {
      transform: rotate(-135deg);
      top: 2px;
    }
  }

  .sub-menu {
    position: absolute;
    transform: scale(0);
    transform-origin: top center;
    transition: all 100ms ease-out;
    box-shadow: 0 16px 16px -16px rgba(0, 0, 0, 0.32), 0 8px 16px rgba(0, 0, 0, 0.1);
    list-style: none;
    top: 51px;
    margin: 0;
  }

  .sub-menu li {
    &, a {
      @include secondary-text($font-weight: bold);
    }
    span {
      @include secondary-text($font-weight: normal);
      color: $dark_grey;
    }
    padding: $xx_small;
    color: black;
    background: white;
    border-bottom: 1px solid #E5E5E5;
    text-align: left;
    &:hover {
      background: $grey;
    }
  }

  .sub-menu li:last-child {
    border-bottom: 0;
  }

  .menu > li:hover .sub-menu li {
    transform: scale(1);
  }

  .menu > li:hover .sub-menu {
    transform: scale(1);
  }
}

#mobile-menu {
  display: none;
  @include media("<desktop") {
    display: block;
  }
  #wrap {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    margin: 0;
    transition: transform .4s cubic-bezier(.25, .1, .25, 1);
    transform: translate3d(-999px, 0, 0);
  }

  label {
    position: fixed;
    display:block;
    z-index: 5;
    top: 36px;
    right: 16px;
    height: 40px;
    width: 40px;
    cursor: pointer;

    .burger {

      &, &:before, &:after {
        position: absolute;
        width: 40px;
        height: 6px;
        background: $black;
        transition: .5s;
        border-radius: 5px;
      }
      &:before {
        content: '';
        top: -14px;
      }
      &:after {
        content: '';
        top: 14px;
      }
    }
  }

  a {
    text-decoration: none;
    display: block;
  }

  #mobile-menu-checkbox {
    display:none;
  }
  #mobile-menu-checkbox:checked ~ #wrap{
    transform: translate3d(0, 0, 0);
  }

  #mobile-menu-checkbox:checked ~ label>.burger{
    background: #fff;
  }
  #mobile-menu-checkbox:checked ~ label>.burger:before {
    top: 0;
    transform: rotate(45deg);
  }
  #mobile-menu-checkbox:checked ~ label>.burger:after {
    top: 0;
    transform: rotate(135deg);
  }

  .mobile-menu {
    list-style: none;
    background: #fff;
    padding: $small $xx_small 0 $xx_small;
    height: 100vh;
    margin: 0;

    .border {
      margin: $xxx_small 0;
      padding-bottom: $xxx_small;
      border-bottom: 1px solid #E5E5E5;

      span {
        font-size: $small-font-size;
      }
    }

    .single-item {
      display: inline-flex;
      width: 100% ;
      margin: 0;
    }

    > li {
      //padding: $xx_small 0;
      &, a {
        @include secondary-text($font-weight: bold);
        color: $black;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      > li {
        //padding: $xx_small 0;
        &, a {
          @include secondary-text();
          color: $black;
        }
      }
      li:only-child {
        border-bottom: 1px solid #E5E5E5;
      }
    }
  }
}

nav.upper-navigation-1 {

  padding: $x_small $large;

  .box {
    &, a {
      color: $secondary;
    }
    border: 3px solid $secondary;
    background: white;
    @include media("<desktop") {
      background: $secondary;
    }
  }
  .read {
    background: $secondary;
    @include media("<desktop") {
      background: $light_beige;
      border-color: $light_beige;
    }
  }
  .text {
    &, a {
      color: $secondary;
      font-size: $tertiary-font-size;
      font-weight: 700;
    }
    width: 350px;
    right: -145px;
  }
  .container .box:not(:last-child) {
    margin-right: 370px;
    @include media("<desktop") {
      margin-right: 0;
    }
  }
  .container .box:not(:last-child):after {
    border-bottom: 3px solid $secondary;
    right: -380px;
    width: 377px;
    @include media("<desktop") {
      border: 0;
      width: 0;
    }
  }
}

nav.upper-navigation-2 {
  padding: $x_small $large $medium $large;
  .box {
    &, a {
      color: $dark_grey;
    }
    border: 3px solid $dark_grey;
    background: white;
    @include media("<desktop") {
      background: $dark_grey;
    }
  }
  .read {
    background: $dark_grey;
    @include media("<desktop") {
      background: $light_beige;
      border-color: $light_beige;
    }
  }
  .text {
    &, a {
      color: $dark_grey;
    }
    width: 150px;
    right: -50px;
  }
  .container .box:not(:last-child) {
    margin-right: 150px;
    @include media("<desktop") {
      margin-right: 0;
    }
  }
  .container .box:not(:last-child):after {
    border-bottom: 3px solid $dark_grey;
    right: -160px;
    width: 157px;
    @include media("<desktop") {
      border-bottom: 0;
      width: 0;
    }
  }
}

nav.upper-navigation-1, nav.upper-navigation-2 {

  background: $grey;

  @include media("<desktop") {
    padding: $x_small;
  }

  a {
    font-size: $tertiary-font-size;
    font-weight: 700;
  }

  .title {
    font-size: $title-font-size;
    font-weight: 700;
    color: black;
    margin: $x-small 0;
  }

  .box {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;

    line-height: 50px;
    text-align: center;
    font-weight: bold;

    border-radius: 50%;
    margin-bottom: $small;
    a {
      text-decoration: none;
      padding: 20px;
      margin: -20px;
    }

    @include media("<desktop") {
      width: 26px;
      height: 26px;
      line-height: 26px;
      margin: 0;

      a {
        padding: 10px;
        margin: -10px;
        color: #fff;
        line-height: 25px;
      }
    }
  }

  .read {
    a {
      color: white;
      @include media("<desktop") {
        color: $black;
      }
    }
  }

  .text {
    display: inline;
    position: absolute;
    top: 70px;
    line-height: 26px;
    text-transform: uppercase;
    @include media("<desktop") {
      display: none;
    }
  }

  .disabled a {
    &, & > * {
      color: $dark_beige;
      @include media("<desktop") {
        color: $black;
      }
    }
  }
  .disabled {
    border: 3px solid $light_beige;
    @include media("<desktop") {
      background: $light_beige;
    }
  }

  .container .box:not(:last-child):after {
    position: absolute;
    content: '';
    top: 0;
    height: 50%;
  }

  .container .box:not(:last-child):not(.read):after {
    border-bottom: 3px solid $light_beige;
    @include media("<desktop") {
      border-bottom: 0;
    }
  }

  .container {
    margin: $x-small auto;
    width: $content_width;
    @include media("<desktop") {
      width: unset;
      //margin: unset;
      display: flex;
      justify-content: space-around;
      margin: $x-small 0 0 0;
    }
  }
}

nav.bottom-navigation {
  padding: $small 0;
  background: white;
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    @include media("<desktop") {
      flex-direction: column;
    }

    li {
      flex: 1 1 1px;
      padding: $x_small 0;
      margin: 0 12px;
      @include media("<desktop") {
        margin: $xx_small 12px;
      }

      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        color: $dark_blue;
        padding: 0 $medium;
      }

      .icon {
        font-weight: 900;
        font-size: 48px;
      }

      &:first-child {
        box-shadow: 0 2px 10px rgba(26, 58, 80, 0.25);
        border-radius: 0 $x_medium;
        background: #fff;
        div:last-child {
          text-align: right;
          &:hover {
            text-decoration: none;
          }
        }
        &:hover  {
          background: $grey;
        }
        @include media("<desktop") {
          order: 2;
        }
      }

      &:last-child {
        box-shadow: 0 2px 10px rgba(26, 58, 80, 0.25);
        border-radius: 0 $x_medium;
        a {
          color: white;
        }
        div:first-child {
          text-align: left;
          &:hover  {
            text-decoration: none;
          }
        }
        @include media("<desktop") {
          order: 1;
        }
      }
    }
  }

  .bg-pink {
    background: $pink;
    &:hover {
      background: $dark_pink;
    }
  }

  .bg-blue {
    background: $secondary;
    &:hover {
      background: $dark_blue;
    }
  }
}

.breadcrumb {
  ul {
    list-style: none;
    color: $dark_blue;
    padding: $x_small $large;
    margin: 0;
    border-top: 4px solid #fff;
    border-bottom: 1px solid #fff;

    @include media("<desktop") {
      padding: $xx_small;
    }

    li {
      display: inline;
      &, a {
        @extend %main-text-small;
      }
    }
    li.active-item {
      a {
        text-decoration: none;
        @extend %main-text-small;
      }
    }
    li+li:before {
      padding: 8px;
      color: $dark_blue;
      content:"\003E";
    }
    li a {
      color: $dark_blue;
    }
  }
}
