@import "_font";

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%main-text {
  font-size: $main-font-size;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1rem;
  letter-spacing: 0;
}

%main-text-2 {
  font-size: $main-font-size;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: 0;
}

%secondary-text {
  font-size: $secondary-font-size;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0;
}

%secondary-text-bold {
  @extend %secondary-text;
  font-weight: 700;
}

%tertiary-text {
  font-size: $tertiary-font-size;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0;
}

%tertiary-text-bold {
  @extend %tertiary-text;
  font-weight: bold;
}

%main-text-bold {
  @extend %main-text;
  font-weight: 700;
}

%main-text-small {
  font-size: $small-font-size;
  font-style: normal;
  font-weight: 400;
  line-height: 1.425rem;
  letter-spacing: 0;
}

%figure-title {
  font-size: $tertiary-font-size;
  font-weight: bold;
  line-height: 1.5rem;
  letter-spacing: 0;
  margin-bottom: 1rem;
}
