@import "_color";
@import "_font";
@import "_placeholders";
@import "_mixin";
@import "_spacing";
@import "_navigation";
@import "partial/index";
@import "pages/index";

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-primary;
  background: $background;
  color: $dark_blue;
  scroll-behavior: smooth;
}

main, footer {
  transform: translateY(129px);
  @include media("<desktop") {
    transform: translateY(78px);
  }
}

p, a, ul, ol {
  @extend %main-text;
}

a {
  color: $light_blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

ul, ol {
  margin: $xx_small $small;
}

h1 {
  color: $dark_blue;
  font-size: 2.5rem;
  line-height: 3rem;
  margin: $medium 0 $small 0;

  @include media("<desktop") {
    margin: $xx_small;
  }
}

h2 {
  color: $secondary;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.75rem;
  letter-spacing: -0.02em;
  margin: $x-medium 0 $medium 0;
}

h3 {
  color: $secondary;
  font-style: normal;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 2rem;
  margin: $small 0;
}

p + p { margin-top: 1.5rem }

em {
  font-size: $title-font-size;
  font-style: normal;
  font-weight: 700;
}

sup {
  vertical-align: bottom;
  font-size: 0.6em;
}

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}

.no-marge {
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
}

.button-blue,
.button-white {
  border: 2px solid $secondary;
  border-radius: 1px;

  padding: 7px 40px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 10px rgba(26, 58, 80, 0.5);
    text-decoration: none;
  }
}

.button-blue {
  @extend %main-text-bold;
  background: $secondary;
  color: $grey;

  &:hover {
    background: $dark_blue;
    border-color: $dark_blue;
  }
}

.button-white {
  font-weight: normal;
  font-size: $tertiary-font-size;

  background: #fff;
  color: $secondary;
}

.wave {
  svg {
    vertical-align: middle;
  }
  @include media("<desktop") {
    transform: scaleY(0.5);
    transform-origin: bottom;
    height: 61px;
    margin-top: -61px;
  }
}
.wave-revert {
  svg {
    vertical-align: middle;
  }
  @include media("<desktop") {
    transform: scaleY(0.5);
    transform-origin: top;
    margin-bottom: -61px;
  }
}

figure {
  img, video {
    vertical-align: middle;
  }
  figcaption {
    padding: $x_small;
    p {
      @extend %main-text-small;
    }

    p + p {
      margin: 1rem 0;
    }

    .title {
      @extend %figure-title;
      margin-bottom: 0;
    }

    .text-normal {
      @extend %secondary-text;
      margin: 1.5rem 0;
    }

    .text-standard {
      @extend %main-text;
    }
    .text-standard em {
      @extend %main-text-bold;
    }

    a {
      @extend %main-text-small;
      color: $light_blue;
    }
    .link {
      text-align: right;
      padding-bottom: $xx_small;
    }

    > p:last-child {
      margin-bottom: 0;
    }
  }
}

.media-info {
  display: flex;
  justify-content: space-between;
  @extend %main-text-small;
}

audio {
  width: 574px;
  @include media("<desktop") {
    width: 100%;
  }
}

details {
  margin-top: $xx_small;
  summary {
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  summary:after {
    content: '❯';
    position: absolute;
    margin-left: $xxx_small;
    transform: rotate(90deg);
    font-size: .8rem;
  }
  &[open] summary {
    margin-bottom: $x_small;
  }
  &[open] summary:after {
    content: '❮';
    transform: rotate(90deg);
  }
}

.details-small {
  summary, p {
    @extend %main-text-small;
  }
}

.details-normal {
  summary, p {
    @extend %main-text;
  }
}

.details-transcription {
   div {
     height: 350px;
     overflow-y: scroll;
     color: $dark_grey;
     padding-bottom: $x_small;
     margin-bottom: $x_small;
     border-bottom: 1px solid $black;

     p:last-of-type {
       margin-bottom: 0;
     }
  }
}

.todo {
  text-decoration: red wavy underline;
}

.no-wrap {
  white-space: nowrap;
}

.link-icon {
  margin-left: $xxx_small;
}

.card-right-image {
  display: flex;
  box-shadow: 0 2px 10px rgba(26, 58, 80, 0.25);
  border-radius: 0 0 $x_medium 0;
  background: #fff;
  margin-top: $medium;
  position: relative;
  z-index: 3;

  @include media("<desktop") {
    flex-direction: column;
  }

  .card-right-image_content {
    display: flex;
    flex-direction: column;
    padding: $small;
    > p {
      @extend %main-text-2;
    }
  }

  .card-right-image_title {
    display: flex;
    margin-bottom: $small;

    img {
      filter: invert(87%) sepia(5%) saturate(0%) hue-rotate(19deg) brightness(98%) contrast(84%);
      margin-right: $x_small;
    }
    p {
      @extend %secondary-text;
      color: #666;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    h3 {
      margin: 0;
    }
  }

  .card-right-image_button {
    flex-grow: 1;
    position: relative;

    a {
      position:absolute;
      bottom:0;
      right:0;
    }

    @include media("<desktop") {
      position: static;
      margin: $x_small 0;
      display: flex;
      justify-content: center;
      a {
        position: static;
      }
    }
  }

  .card-right-image_image img {
    border-radius: 0 0 $x_medium 0;
    vertical-align: middle;
  }

  @include media("<desktop") {
    .card-right-image_content {
      order: 2;
    }
    .card-right-image_image {
      order: 1;
      text-align: center;
      img {
        border-radius: 0;
      }
    }
  }

  h3 {
    color: black;
  }
}

.card-upper-image {
  display: flex;
  flex-direction: row;
  background: #FFFFFF;
  margin: $x_medium 0;

  flex: 1 1 1px;

  box-shadow: 0 2px 10px rgba(26, 58, 80, 0.25);
  border-radius: $x_medium $x_medium 0 $x_medium;

  .card-body {
    margin: 0 $small 0 200px;
    @include media("<desktop") {
      margin: 0 $small;
    }
  }

  .title {
    font-size: $title-font-size;
    font-weight: bold;
    margin: $x_small 0 $xx_small 0;
    @include media("<desktop") {
      margin: $x_small 0 $xx_small 100px;
    }
  }

  .sub-title {
    @extend %main-text-small;
    margin-bottom: 1rem;
    color: $dark_blue;
    @include media("<desktop") {
      margin-left: 100px;
    }
  }

  .quote {
    color: $dark_grey;
  }

  details summary {
    color: $light_blue;
    margin: 0 $small $xx_small 0;
    text-align: right;
  }
  details, details p {
    margin-bottom: $small;
  }

  .quote, details, details p {
    @extend %tertiary-text;
  }

  .footer {
    text-align: right;
    margin: $small 0;
    a {
      color: $light_blue;
      font-weight: bold;
      text-decoration: none;
    }
  }

  img {
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(26, 58, 80, 0.25);
    position: absolute;
    transform: translateY(-30px) translateX(-40px);

    @include media("<desktop") {
      height: 120px;
      width: 120px;
      transform: translateY(-30px) translateX(-10px);
    }
  }
}

.card {
  border-radius: 0 40px;
  box-shadow: 0 2px 10px rgba(26, 58, 80, 0.25);
  margin-left: $medium;
  padding: $x_small;
  .card-title {
    display: flex;
    align-items: center;
    margin-bottom: $xx_small;
    > div:first-child {
      margin-right: $xx_small;
    }
  }
  > p {
    @extend %secondary-text;

    em {
      @extend %secondary-text-bold;
    }
  }

  > audio {
    margin-top: $x_small;
  }

  .link {
    > a {
      @extend %secondary-text;
      color: $light_blue;
    }
    text-align: right;
  }
  &:first-child {
    margin-bottom: $medium;
  }
}

// https://bryanlrobinson.com/blog/use-css-subgrid-laying-out-full-width-article-stripes/
//.content {
//  max-width: $content_width;
//  margin-left: auto;
//  margin-right: auto;
//}

.content {
  max-width: none;
  display: grid;
  grid-template-columns: [fullWidth-start] 1rem
                           [left-start]      1fr
                           [article-start right-start] minmax(20ch, $content_width)
                           [article-end left-end] 1fr
                           [right-end] 1rem [fullWidth-end];
}
.content > * {
  grid-column: article;
}

.full-width {
  grid-template-columns: minmax(20ch, $content_width);
  justify-content: center;
  grid-column: fullWidth;
  display: grid;
  padding: $small;
}

@supports (grid-template-columns: subgrid) {
  .full-width {
    grid-template-columns: subgrid;
    padding: 0;
  }
  .full-width-center {
    grid-column: article;
  }
  .full-width-right {
    grid-column: right;
    text-align: right;
  }
  .full-width-left {
    grid-column: left;
  }
}
