---
title: Celtique ? L'expo - Breton, langue celtique ?
description: "Langue celtique, le breton est étudié dès le 18ème comme un élément de l'identité celtique bretonne. Le 20eme siècle voit émerger de nouvelles recherches."
layout: default.njk

eleventyNavigation:
  key: 3. Breton, langue celtique ?
  parent: Revenir aux sources
  order: 3
---
{%  include "breadcrumb.njk" %}
<div id="breton_langue_celtique">
  <nav class="upper-navigation-1">
    <span class="title bold">Revenir aux sources</span>
    <ul class="container">
      <li class="box read">
        <a href="/revenir_aux_sources/une_armorique_celtique" aria-label="1. Une armorique celtique">
          1
          <div class="text">Une Armorique celtique</div>
        </a>
      </li>
      <li class="box read">
        <a href="/revenir_aux_sources/celtes_d_une_rive_a_l_autre" aria-label="2. Celtes… d'une rive à l'autre ?" >
          2
          <div class="text">Celtes… d'une rive à l'autre ?</div>
        </a>
      </li>
      <li class="box" aria-current="page">
        <a href="/revenir_aux_sources/breton_langue_celtique" aria-label="3. Breton, langue celtique ?">
          3
          <div class="text">Breton, langue celtique ?</div>
        </a>
      </li>
    </ul>
  </nav>
  <section class="section-1">
    <div class="content">
      <div class="full-width-center">
        <h1>3. Breton, langue celtique ?</h1>
        <p>Du 5<sup>ème</sup> siècle après J.-C. à nos jours</p>
        <hr>
        <p>
          Le breton est la <em>seule langue celtique actuellement parlée en Europe continentale</em>, raison pour
          laquelle on a fait de la région l'un des principaux lieux de la civilisation celte.
        </p>
        <h2>Une langue rattachée au groupe des langues celtes</h2>
        <p>
          En réalité, <em>les langues celtiques étaient présentes sur toute la façade atlantique</em>, bien que très peu
          d'écrits aient été conservés. Parmi elles, le gaulois était parlé en Bretagne dès le 4<sup>ème</sup> siècle avant J.-C.,
          comme en témoignent les rares inscriptions gauloises retrouvées dans la région.
        </p>
      </div>
    </div>
    {% waveDecoration "white", "#1A3A50", "wave-1" %}
  </section>

  <section class="section-2">
    <div>
      <figure>
        <img loading="lazy" width="793" height="538" src="/images/revenir_aux_sources/arbre_des_langues.svg"
             aria-labelledby="arbre_langue-description" />
        <figcaption>
          <details id="arbre_langue-description">
            <summary>Afficher la description accessible</summary>
            <p>
              Ce graphique retrace l'évolution des langues celtiques, du celtique commun, parlé à l'âge du Fer, aux
              langues néoceltiques, parlées aujourd'hui. Il prend la forme d'un "arbre généalogique des langues" et
              a été réalisé d'après l'ouvrage de Francis Favereau, Celticismes – Les Gaulois et nous, paru en
              2007. En voici le détail, de l'âge du Fer à aujourd'hui.
            </p><p>
              Pour la période de l'âge du Fer, on trouve, issus directement du celtique commun, le celtique
              continental et le celtique insulaire. A la même période, le grec et le latin sont également parlés.
            </p><p>
              À mesure que la chronologie avance vers la fin de l'âge du fer, le celtique continental donne
              naissance, entre autres, au galate/gaulois. Le celtique insulaire, lui, donne naissance au brittonique.
            </p><p>
              Au haut Moyen Âge, l'usage du gaulois disparait peu à peu avec la conquête romaine et l'arrivée du
              latin, au profit du français. Toutefois, l'apport de la langue britonnique, contribue à revitaliser
              la langue gauloise, pour donner progressivement naissance au vieux breton. De l'époque moderne à nos
              jours, le vieux breton évolue et donne naissance au breton actuel. De la même manière, le
              cornique (parlé en Cornouailles) et le gallois (parlé au Pays de Galles) actuels sont issus
              du britonnique apparu à l'âge du Fer.
            </p><p>
              Le celtique insulaire, outre le britonnique, donne également naissance au goïdélique, qui évolue vers
              le gaélique au Moyen Âge. Aujourd'hui, le gaélique d'Irlande, le Manx (parlé sur l'Île de Man) et
              le gaélique d'Écosse sont issus du gaélique du Moyen Âge.
            </p>
          </details>
          <p class="title">Arbre des langues</p>
          <p class="text-normal">
            À l'échelle de l'Europe continentale, l'usage de nombre de langues celtiques, dont le gaulois
            apparu au 4<sup>ème</sup> siècle avant J.-C., disparait progressivement avec la conquête romaine et l'arrivée
            du latin.
          </p>
          <p class="text-normal">
            En Bretagne toutefois, les migrations des populations de l'actuelle Grande-Bretagne entre le
            3<sup>ème</sup> et le 6<sup>ème</sup> siècle après J.-C. contribuent à revitaliser une langue
            celtique en voie de disparition. L'assimilation du gaulois préexistant en Armorique et du
            brittonique, langue des populations de l'actuelle Grande-Bretagne, donne ainsi progressivement
            naissance au "vieux breton".
          </p>
        </figcaption>
      </figure>
    </div>
    <div class="content">
      <h3>Du 4<sup>ème</sup> siècle avant J.-C. au 5<sup>ème</sup> siècle :<br/>
        aux origines du breton</h3>
      <p>
        Lorsque les populations de l'actuelle Grande-Bretagne s'installent à l'Ouest de l'Armorique entre
        le 3<sup>ème</sup> et le 6<sup>ème</sup> siècle après J.-C., elles apportent avec elles leur langue. <em>Cette langue celte,
          de la branche brittonique, s'implante dans la péninsule au 5<sup>ème</sup> siècle</em> et assimile vraisemblablement
        l'ancien gaulois. C'est ce qui donne naissance au fil du temps au "vieux breton" puis au breton.
      </p><p>
        <em>Le breton n'est cependant pas la seule langue parlée en Bretagne</em>. À l'est de la région, moins concerné
        par ces migrations, une autre histoire s'est écrite pour former la langue gallèse.
      </p>
    </div>
  </section>

  <section class="section-3">
    <div>
      <div class="content">
        <div>
          <div class="blue-card">
            <p>
              <em>Il faut attendre l'époque moderne pour que le breton devienne objet d'étude.</em> Durant les siècles qui
              précèdent, il n'est donc pas encore question de rattacher la langue bretonne à une quelconque
              forme d'identité celtique.
            </p><p>
              Ainsi, le <em>Catholicon - premier dictionnaire en Français/Breton/Latin</em> – rédigé par Jehan Lagadeuc et
              imprimé en 1499 à Tréguier est avant tout lié à un usage pratique : il est destiné à <em>favoriser
                l'apprentissage du latin par les futurs clercs bretonnants</em>, dont certains sont largement
              déficients en français.
            </p>
          </div>
          <div class="arrow-decorator" role="graphics-symbol" aria-label="Flèche vers le bas"><span class="arrow"></span></div>
        </div>
      </div>
      {% waveDecoration "#2B5970", "#F7F7F7", "wave-2" %}
      <div>
        <div class="content">
          <h2>Le breton et le celtisme</h2>
          <h3>18<sup>ème</sup> et 19<sup>ème</sup> siècles : <br />Le breton comme marqueur d'identité</h3>
          <p>
            C'est l'étude de la langue qui permet l'<em>élaboration du concept de « peuples celtiques »</em>, c'est-à-dire
            parlant des langues celtiques. Les philologues du 18<sup>ème</sup> siècle étudient de manière intuitive à la fois
            les langues anciennes et les langues modernes parlées en Irlande, Ecosse, Pays de Galles et Bretagne.
          </p>
          <p>
            À partir du 18<sup>ème</sup> siècle, et surtout du 19<sup>ème</sup> siècle, le celtisme prend de l'ampleur : on cherche à faire
            de la Bretagne la terre celtique par excellence. Dans ce contexte, <em>la parenté entre breton et gaulois est
              affirmée</em>. Puis le 19<sup>ème</sup> siècle est l'âge d'or de la linguistique celtique dont
            <em>l'enseignement commence à Rennes en 1890</em>.
          </p>
        </div>
        <div>
          <div>
            <figure>
              <img loading="lazy" width="375" height="668" src="/images/revenir_aux_sources/breton_languecelte_opt.jpg"
                   alt="Page de titre de l'ouvrage Antiquité de la nation et de la langue des Celtes, autrement appelez Gaulois, imprimée à Paris en 1703." />
              <figcaption>
                <div class="link">
                  <a target="_blank" href="/images/revenir_aux_sources/hd/breton_languecelte_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
                </div>
                <p class="title">Antiquité de la nation et de la langue des Celtes, autrement appellez Gaulois. </p>
                <p>
                  Paul-Yves Pezron (auteur)<br/>
                  1703<br/>
                  Bibliothèque des Champs Libres, Rennes
                </p>
              </figcaption>
            </figure>
          </div>
          <div>
            <figure>
              <img loading="lazy" width="375" height="565" src="/images/revenir_aux_sources/breton_dictionnaire_opt.jpg"
                   alt="Page manuscrite du Dictionnaire étymologique de la langue bretonne, par Louis Le Pelletier, datant de 1733." />
              <figcaption>
                <div class="link">
                  <a target="_blank" href="/images/revenir_aux_sources/hd/breton_dictionnaire_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
                </div>
                <p class="title">Dictionnaire de la langue bretonne, où l'on voit son antiquité, son affinité avec
                  les anciennes langues, l'explication de plusieurs passages de l'écriture sainte, et des auteurs
                  profanes, avec l'étymologie de plusieurs mots des autres langues par Dom Louis Le Pelletier</p>
                <p>
                  Manuscrit<br/>
                  Louis Le Pelletier (auteur)<br/>
                  1733<br/>
                  Bibliothèque des Champs Libres, Rennes<br/>
                  <a target="_blank" href="http://www.tablettes-rennaises.fr/app/photopro.sk/rennes/detail?docid=47240">
                    Portail des collections{% externalLinkIcon '#1576A7', "link-icon", 12 %}
                  </a>
                </p>
              </figcaption>
            </figure>
          </div>
          <div>
            <figure>
              <img loading="lazy" width="375" height="586" src="/images/revenir_aux_sources/breton_grammaire1839_opt.jpg"
                   alt="Page de titre de l'ouvrage Grammaire celto-bretonne, de Jean-François Le Gonidec, nouvelle édition imprimée en 1838." />
              <figcaption>
                <div class="link">
                  <a target="_blank" href="/images/revenir_aux_sources/hd/breton_grammaire1839_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
                </div>
                <p class="title">Grammaire celto-bretonne</p>
                <p>
                  Jean-François Le Gonidec (auteur)<br/>
                  1838<br/>
                  Bibliothèque des Champs Libres, Rennes
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-4">
    {% waveDecoration "#1A3A50", "#2B5970", "" %}
    <div class="content">
      <h3>20<sup>ème</sup> siècle : <br/>
        Celtisme et breton, objets de recherche</h3>
      <div>
          <p>
            Á cette période, les questions linguistiques continuent de s'affirmer sur fond d'affichage d'une identité
            culturelle (Charte culturelle bretonne, 1977).
          </p><p>
            <em>Plusieurs théories sur l’origine de la langue bretonne se sont affrontées depuis le début du 20<sup>ème</sup>
              siècle</em>&nbsp;: Joseph Loth prêchait pour un celtique insulaire totalement importé, comme plus tard
            Léon Fleuriot à partir des années 1960, tandis que le chanoine Falc’hun voyait dans le breton le
            continuateur direct du gaulois…
          </p><p>
            <em>Parallèlement, le celtisme devient un objet de recherche</em>, mêlant histoire, sociologie,
            ethnologie, linguistique, pratiques culturelles, à l'instar des travaux de Donatien Laurent, second
            directeur du Centre de recherche bretonne et celtique de Brest, créé en 1969.
          </p>
        </div>
      <div class="light-blue-card">
        <h4>Donatien Laurent</h4>
        <div>
          <figure>
            <img loading="lazy" width="412" height="275" src="/images/revenir_aux_sources/breton_donationlaurent_opt.jpg"
                 alt="Photographie de Donatien Laurent, en 2014, lors de l'inauguration du jardin portant son nom à Locronan. Sur la plaque est inscrit : &quot;La Troménie : un rituel de sympathie entre le ciel et les hommes.&quot;." />
            <figcaption>
              <p class="title">Donatien Laurent</p>
              <p>
                Photographie<br/>
                Donatien Laurent (1935-2020)<br/>
                © Fañch Broudic
              </p>
            </figcaption>
          </figure>
          <div>
            <p>
              Né en 1935, Donatien Laurent s'intéresse très tôt à la <em>musique instrumentale bretonne</em> et intègre à la
              fin des années 1950 la commission technique de la <em>Bodadeg ar Sonerien, association regroupant
                à partir de 1943 les musiciens traditionnels bretons</em>. À partir de 1957, il se consacre à l'étude des
              langues et littératures celtiques, et débute un cursus en ethnologie. L'<em>analyse des carnets de
                collecte originaux de La Villemarqué</em>, auteur du Barzaz Breiz, fait l'objet de sa thèse, soutenue
              en 1974 et publiée en 1989.
            </p><p>
              Ses travaux, internationalement reconnus, ont contribué à éclairer le travail de collecte mené par
              Théodore de La Villemarqué. À partir de 1969, Donatien Lorent intègre le <em>Centre de recherche
                bretonne et celtique</em> au sein de l'Université de Bretagne occidentale, dont il prendra la
              direction en 1987. Ses recherches, notamment sur la tradition orale, ont largement <em>contribué
                à la connaissance de la littérature bretonne</em>. Ses travaux sur la grande Troménie de Locronan
              ont également permis de <em>mettre en évidence des croyances très anciennes</em> associées au calendrier
              celtique, et réintégrées au culte chrétien.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% moreInformationFooter
    ["Les origines de la langue bretonne"],
    [
      {
        text: "Voir ces contenus sur Bécédia ➔",
        url: "https://www.bcd.bzh/becedia/"
      }
    ],
    [
      {
        text: "Celtomanie aux 18<sup>ème</sup> et 19<sup>ème</sup> siècles",
        url: "/construction_recit/celtomanie/",
        isExternal: false
      },
      {
        text: "Langue bretonne – écoutez des témoignages en breton",
        url: "/temoignages",
        isExternal: false
      }
    ]
  %}

  {% bottomNavigation
    "2. Celtes… d'une rive à l'autre ?",
    "/revenir_aux_sources/celtes_d_une_rive_a_l_autre",
    "La construction d’un récit",
    "/construction_recit",
    "blue"
  %}
</div>
