---
title: Celtique ? L'expo - Celtes… d'une rive à l'autre ?
description: 'Les découvertes réalisées en Grande-Bretagne et en Bretagne témoignent de migrations au haut Moyen Âge. On peut parler de "receltisation" de la Bretagne. '
layout: default.njk

eleventyNavigation:
  key: 2. Celtes… d'une rive à l'autre ?
  parent: Revenir aux sources
  order: 2
---
{%  include "breadcrumb.njk" %}
<div id="celtes_d_une_rive_a_l_autre">
  <nav class="upper-navigation-1">
    <span class="title bold">Revenir aux sources</span>
    <ul class="container">
      <li class="box read">
        <a href="/revenir_aux_sources/une_armorique_celtique" aria-label="1. Une armorique celtique">
          1
          <div class="text">Une Armorique celtique</div>
        </a>
      </li>
      <li class="box" aria-current="page">
        <a href="/revenir_aux_sources/celtes_d_une_rive_a_l_autre" aria-label="2. Celtes… d'une rive à l'autre ?" >
          2
          <div class="text">Celtes… d'une rive à l'autre ?</div>
        </a>
      </li>
      <li class="box disabled">
        <a href="/revenir_aux_sources/breton_langue_celtique" aria-label="3. Breton, langue celtique ?">
          3
          <div class="text">Breton, langue celtique ?</div>
        </a>
      </li>
    </ul>
  </nav>
  <section class="section-1">
    <div class="content">
      <div class="full-width-center">
        <h1>2. Celtes… d'une rive à l'autre ?</h1>
        <p>Du 3<sup>ème</sup> siècle au 9<sup>ème</sup> siècle après J.-C.</p>
        <hr>
        <h2>A la croisée des mondes celtes</h2>
        <div class="row">
          <div>
            <p>
              Les migrations bretonnes correspondent à l’arrivée de populations de l’actuelle Grande-Bretagne
              en Armorique entre le 3<sup>ème</sup> et le 6<sup>ème</sup> siècle après J.-C.
            </p>
            <p>
              Ces <em>migrations de clans d'Irlandais et de Gallois</em>, menées par des chefs politiques et religieux - les futurs
              « saints » bretons - apportent leurs coutumes, leur langue et leur clergé.
            </p>
          </div>
          <div>
            <figure class="figure-1">
              <div>
                <img loading="lazy" width="295" height="373" src="/images/revenir_aux_sources/hd/celtesrives_cartographie_hd.jpg"
                   alt="Carte représentant les mouvements de populations et échanges économiques et culturels
                   entre la Grande-Bretagne et la péninsule armoricaine au haut Moyen Âge, réalisée d'après les
                   sources écrites postérieures (hagiographies notamment). Les flèches représentées indiquent des
                   mouvements de populations de la Grande-Bretagne vers la péninsule armoricaine, ainsi que des
                   échanges économiques et culturels entre ces deux espaces. "/>
              </div>
              <figcaption>
                <p><span class="title">Carte des flux de populations et échanges économiques et culturels au haut
                    Moyen Âge</span><br/>
                  entre l'actuelle Grande-Bretagne et la péninsule armoricaine
                </p>
                <p>
                  Réalisée d'après les sources écrites, postérieures de 500 à 1000 ans à ces mouvements de population.
                </p>
                <p>
                  Motion Agency et Atelier Bastien Morin (graphisme)<br/>
                  Musée de Bretagne, Rennes
                </p>
                <div class="link">
                  <a href="/images/revenir_aux_sources/hd/celtesrives_cartographie_hd.jpg" target="_blank" class="no-wrap">Voir en résolution maximale{%externalLinkIcon '#fff', "link-icon", 12%}</a>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="full-width-center">
        <figure class="figure-2">
          <div>
            <img loading="lazy" width="250" height="526" src="/images/revenir_aux_sources/celtesrives_steledorant_opt.jpg"
               alt="Stèle en granite sculpté montrant une figure debout les mains levées au ciel, en prière, avec ce qui semble être une cape ou des ailes dans le dos. "/>
          </div>
          <figcaption>
            <p class="title">Stèle d'orant "ailé"</p>
            <p>
              Granite<br/>
              Entre le 7<sup>ème</sup> et le 9<sup>ème</sup> siècle<br/>
              Provient de la chapelle Saint-Guévroc en Tréflez (29)<br/>
              Musée de Bretagne, Rennes<br/>
              <a target="_blank" href="http://www.collections.musee-bretagne.fr/ark:/83011/FLMjo171291">
              Portail des collections{% externalLinkIcon '#fff', "link-icon", 12 %}</a>
            </p>
            <p class="text-standard">
              Ce personnage en prière aux mains levées est <em>l'une des plus anciennes sculptures médiévales de Bretagne</em>.
            </p>
            <p class="text-standard">
              Sa provenance le lie à saint Guévroc, un des nombreux saints gallois à l'origine de la christianisation
              de l'Armorique. Selon la tradition, il aurait fondé au 6<sup>ème</sup> siècle un monastère retiré, sur le site
              de Tréflez. Cette stèle évoque donc ces <em>premières fondations religieuses dans le sillage des migrations bretonnes</em>.
            </p>
            <div class="link">
              <a target="_blank" href="/images/revenir_aux_sources/hd/celtesrives_steledorant_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#fff', "link-icon", 12 %}</a>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>

  <section class="section-2 content">
    <p>
      <em>Ce phénomène migratoire, associé aux origines de la Bretagne, est traditionnellement considéré
      comme une « receltisation » du territoire qui contribue à donner son nom à la Bretagne (Britannia).
    </em>
    </p>
    <div>
      <h2>Les cloches à main des saints bretons</h2>
      <div>
        <div>
          <figure class="figure-3">
            <div>
            <img loading="lazy" width="450" height="625" src="/images/revenir_aux_sources/celtesrives_eglisepontivy_opt.jpg"
                 alt="Fresque murale représentant Saint Mériadec apposant sa cloche sur la tête d’une femme à genoux. Un homme s’appuyant sur un bâton est positionné juste derrière la femme et regarde le Saint. " />
            </div>
            <figcaption>
              <div class="link">
                <a target="_blank" href="/images/revenir_aux_sources/hd/celtesrives_eglisepontivy_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
              </div>
              <p class="title">Pontivy église de Saint-Mériadec de Stival</p>
              <p>
                Carte postale (reproduction)<br/>
                Pierre Laure (auteur)<br/>
                Musée de Bretagne, Rennes
              </p>
            </figcaption>
          </figure>
        </div>
        <div class="figure-description">
          <p>
            Les cloches à main, dont six sont connues en Bretagne, évoquent les <em>attributs
              des premiers saints bretons</em>, notamment irlandais, au 6<sup>ème</sup> siècle.
          </p>
          <p>
            Fabriquées ou importées vers les <em>9<sup>ème</sup> - 10<sup>ème</sup> siècles</em>, aucune n'aurait appartenu au
            saint auquel elles sont attribuées. Leurs origines sont donc encore entourées de mystère
            mais elles révèlent la proximité des pratiques religieuses de part et d'autre de la Manche.
          </p>
          <p>
            Les <em>pouvoirs miraculeux</em> conférés à ces cloches ont fait l'objet de durables pratiques
            superstitieuses qui consistaient à apposer l'objet sur la tête des fidèles dans un but thérapeutique.
          </p>
        </div>
      </div>
    </div>
    <p class="no-marge">
      En l’absence de sources écrites, l'ampleur de ces mouvements reste difficile à appréhender. Les recherches actuelles
      mettent en avant <em>des mouvements sur plusieurs siècles</em>, facilités par des contacts constants entre les
      deux rives de la Manche ainsi que la <em>proximité culturelle et linguistique des populations</em>.
    </p>
    <p>
      D'un côté, dans les Îles britanniques, les Bretons insulaires, descendants des Celtes
      qui s'y étaient installés à l'âge du Fer ; de l'autre, en Armorique les peuples gaulois plus ou moins romanisés.
    </p>
  </section>
  <section class="section-3">
    {% waveDecoration "#1A3A50", "white", "" %}
    <div class="content">
      <div class="full-width-center">
        <h2>Ce que nous apprennent les objets</h2>
        <p>L’étude du mobilier permet de distinguer pour l'ouest de la péninsule des correspondances
          avec les productions britanniques, voire plus lointaines mais transitant par la Grande-Bretagne.
          Il est toutefois difficile de repérer dans cette présence des objets ce qui relève des phénomènes de migration,
          des échanges, ou des simples circuits commerciaux, véhiculant eux-mêmes des sources d'inspiration pour l'artisanat.
        </p>
        <div class="figures-celtes-rive">
          <div>
            <figure>
              <div>
                <img loading="lazy" width="440" height="440" src="/images/revenir_aux_sources/celtesrives_fibule_opt.jpg"
                     alt="Fibule en argent avec décor incisé de figures humaines et végétales.  Elle adopte la forme d’un cercle non fermé, avec une agrafe transversale. "/>
              </div>
              <figcaption>
                <div class="link">
                  <a target="_blank" href="/images/revenir_aux_sources/hd/celtesrives_fibule_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#fff', "link-icon", 12 %}</a>
                </div>
                <p class="title">Fibule à décor incisé de type Quoït Brooch Style (type de broche anglo-saxonne connue à partir du 5<sup>ème</sup> siècle)</p>
                <p>
                  Argent<br/>
                  5<sup>ème</sup> siècle après J.-C.<br/>
                  Fouilles menées par Romuald Ferrette (INRAP) à Rennes, ilôt de la Cochardière<br/>
                  INRAP, Cesson-Sévigné<br/>
                  © Françoise Labaune-Jean, Inrap
                </p>
              </figcaption>
            </figure>
          </div>
          <div>
            <figure>
              <div>
                <img loading="lazy" width="440" height="440" src="/images/revenir_aux_sources/celtesrives_chaudron_opt.jpg"
                 alt="Chaudron métallique en alliage de cuivre muni d’une anse."/>
              </div>
              <figcaption>
                <div class="link">
                  <a target="_blank" href="/images/revenir_aux_sources/hd/celtesrives_chaudron_hd.jpg" target="_blank">Voir en résolution maximale{% externalLinkIcon '#fff', "link-icon", 12 %}</a>
                </div>
                <p class="title">Chaudron à carène de type Westland, correspondant à un modèle en usage en Europe du Nord</p>
                <p>
                  5<sup>ème</sup> - 6<sup>ème</sup> siècles après J.-C.<br/>
                  Découvert à Trédarzec (22), sur le site de Ker Choupot<br/>
                  Prêt du SRA DRAC Bretagne, Rennes<br/>
                </p>
              </figcaption>
            </figure>
          </div>
          <div>
            <figure>
              <div>
               <img loading="lazy" width="440" height="552" src="/images/revenir_aux_sources/celtesrives_vase_opt.jpg"
                 alt="Céramique en terre avec un maillage en boudin sur l’ensemble de sa surface. Elle est munie de quatre anses."/>
              </div>
              <figcaption>
                <div class="link">
                  <a href="/images/revenir_aux_sources/hd/celtesrives_vase_hd.jpg" target="_blank">Voir en résolution maximale{% externalLinkIcon '#fff', "link-icon", 12 %}</a>
                </div>
                <p class="title">Vase</p>
                <p>
                  Céramique<br/>
                  9<sup>ème</sup> -10<sup>ème</sup> siècle<br/>
                  Découvert à Plonévez-Porzay (29)<br/>
                  © Musée départemental breton / P. Sicard
                </p>
              </figcaption>
            </figure>
          </div>
          <div>
            <figure>
              <div>
                <img loading="lazy" width="440" height="550" src="/images/revenir_aux_sources/celtesrives_plaque_opt.jpg"
                   alt="Plaque de métal de forme rectangulaire décorée de motifs géométriques tels une étoile au centre d’un cercle."/>
              </div>
              <figcaption>
                <div class="link">
                  <a href="/images/revenir_aux_sources/hd/celtesrives_plaque_hd.jpg" target="_blank">Voir en résolution maximale{% externalLinkIcon '#fff', "link-icon", 12 %}</a>
                </div>
                <p class="title">Plaque</p>
                <p>
                  5<sup>ème</sup> siècle après J.-C.<br/>
                  Découverte à Saint-Marcel (56)<br/>
                  Prêt du SRA DRAC Bretagne, Rennes<br/>
                  © Hervé Paitier, Inrap<br/>
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% moreInformationFooter
    ["Les Saints en Bretagne", "Le monastère de Landévennec"],
    [
      {
        text: "Voir ces contenus sur Bécédia ➔",
        url: "https://www.bcd.bzh/becedia/"
      }
    ],
    [
      {
        text: "Découvrez les articles de l’exposition « Celtique ? » du Musée Dévoilé",
        url: "https://musee-devoile.blog/category/documenter/celtique/",
        isExternal: true
      },
      {
        text: "Parcours : le haut Moyen Âge dans les collections du Musée de Bretagne",
        url: "http://www.collections.musee-bretagne.fr/parcours.php?id=musee:MUS_TH_PARCOURS_CONCEPTS:136",
        isExternal: true
      }
    ]
  %}

  {% bottomNavigation
    "1. Une Armorique celtique",
    "/revenir_aux_sources/une_armorique_celtique",
    "3. Breton, langue celtique ?",
    "/revenir_aux_sources/breton_langue_celtique",
    "blue"
  %}
</div>
