---
title: Celtique ? L'expo - Revenir aux sources
description: 'Qui sont les "Celtes" de l''âge du Fer et du Moyen Âge ? Retour sur les apports des recherches archéologiques.'
layout: default.njk

eleventyNavigation:
  key: Revenir aux sources
  parent: Accueil
  order: 3
---
{%  include "breadcrumb.njk" %}
<div id="revenir_aux_sources">
  <div class="main-title content">
    <div class="decoration-title" aria-hidden="true" role="graphics-symbol">
      <img loading="lazy" src="/images/decorations/triskell-1.svg" alt=""/>
    </div>
    <h1 class="full-width-center">Revenir aux sources</h1>
  </div>
  {% waveDecoration "#1A3A50", "white", "", true %}
  <section class="section-1 content">
    <div class="full-width">
      <div class="full-width-center row">
        <div>
          <h2>Vous avez dit « Celtes » ?</h2>
          <p>
            <em>Les Celtes renvoient traditionnellement à une civilisation de l'âge du Fer, au 1<sup>er</sup> millénaire avant notre ère</em>.
            Ils sont connus à la fois grâce aux sources écrites par des auteurs grecs et romains et grâce aux découvertes archéologiques, dont certaines extraordinaires.
          </p>
          <p>
            <em>Aujourd'hui, la notion de "Celtes" est très débattue par les archéologues, les historiens et les linguistes</em>.
            Leurs recherches attestent la présence d'une aire culturelle celtique, et non l'existence d'un seul peuple celte, ayant parlé une seule langue et produit un seul type de culture matérielle.
          </p>
          <p>
            Si à partir du milieu du 5<sup>ème</sup> siècle avant J.-C., la péninsule armoricaine est, comme d'autres régions, pleinement
            intégrée à la culture commune de l'Europe celtique, <em>ce sont les migrations issues de l'actuelle Grande-Bretagne
              au haut Moyen-Âge qui tendront à créer une culture particulière</em>.
          </p>
        </div>
        <div>
          <figure>
            <img loading="lazy" src="/images/revenir_aux_sources/buste-dit-de-barde-a-la-lire.jpg"
                 alt="Statuette gauloise en pierre. Le personnage porte un collier (torque) au cou et tient un instrument de musique entre ses deux mains. Seul le haut du corps est sculpté ou conservé. " />
            <figcaption>
              <div class="link">
               <a target="_blank" href="/images/revenir_aux_sources/hd/buste-dit-de-barde-a-la-lire_hd.jpg">
                 Voir en résolution maximale{% externalLinkIcon '#fff', "link-icon", 12 %}
               </a>
              </div>
              <p class="title">Buste dit du "Barde à la lyre"</p>
              <p>
                Roche (métahornblendite)<br/>
                1<sup>er</sup> – 2<sup>ème</sup> siècle avant J.-C.<br/>
                Découvert à Paule (22)<br/>
                Prêt du SRA DRAC Bretagne, Rennes<br/>
                © Hervé Paitier, Inrap
              </p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="section-2 full-width">
    <div>
      <img loading="lazy" width="330" height="675" src="/images/revenir_aux_sources/dither_it_A.1 1.png"
           alt="" aria-hidden="true"/>
    </div>
    <div>
      <h2>Suite de la lecture</h2>
      <ol>
        <li>
          <a href="/revenir_aux_sources/une_armorique_celtique">
            <p class="title">Une Armorique celtique</p>
            <p>Du 5<sup>ème</sup> au 1<sup>er</sup> siècle avant J.-C.</p>
          </a>
        </li>
        <li>
          <a href="/revenir_aux_sources/celtes_d_une_rive_a_l_autre">
            <p class="title">Celtes… d'une rive à l'autre ?</p>
            <p>Du 3<sup>ème</sup> au 9<sup>ème</sup> siècle après J.-C.</p>
          </a>
        </li>
        <li>
          <a href="/revenir_aux_sources/breton_langue_celtique">
            <p class="title">Breton, langue celtique ?</p>
            <p>Du 5<sup>ème</sup> siècle après J.-C. à nos jours</p>
          </a>
        </li>
      </ol>
    </div>
  </section>
</div>
{% bottomNavigation
  "Accueil",
  "/",
  "1. Une Armorique celtique",
  "/revenir_aux_sources/une_armorique_celtique",
  "blue"
%}
