---
title: Celtique ? L'expo - Une Armorique celtique
description: "Du 5ème au 1er siècle avant Jésus-Christ, à l'âge du Fer, la péninsule armoricaine (Bretagne) est intégrée à l'aire culturelle celtique ou laténienne."
layout: default.njk

eleventyNavigation:
  key: 1. Une Armorique celtique
  parent: Revenir aux sources
  order: 1
---
{%  include "breadcrumb.njk" %}
<div id="une_armorique_celtique">
  <nav class="upper-navigation-1">
    <span class="title bold">Revenir aux sources</span>
    <ul class="container">
      <li class="box" aria-current="page">
        <a href="/revenir_aux_sources/une_armorique_celtique" aria-label="1. Une armorique celtique">
          1
          <div class="text">Une Armorique celtique</div>
        </a>
      </li>
      <li class="box disabled">
        <a href="/revenir_aux_sources/celtes_d_une_rive_a_l_autre" aria-label="2. Celtes… d'une rive à l'autre ?" >
          2
          <div class="text">Celtes… d'une rive à l'autre ?</div>
        </a>
      </li>
      <li class="box disabled">
        <a href="/revenir_aux_sources/breton_langue_celtique" aria-label="3. Breton, langue celtique ?">
          3
          <div class="text">Breton, langue celtique ?</div>
        </a>
      </li>
    </ul>
  </nav>
  <section class="section-1 content">
    <div class="full-width-center">
      <h1>1. Une Armorique celtique</h1>
      <p class="sub-title">Du 5<sup>ème</sup> au 1<sup>er</sup> siècle avant J.-C.</p>
      <hr>
      <h2>L’apport de l’archéologie</h2>
      <p>Comme une grande partie de l'Europe, la péninsule armoricaine est concernée par la <em>diffusion de la
          culture celte</em> lors de la période nommée La Tène (<em>de 450 avant Jésus-Christ jusqu’à la conquête romaine en -52)</em>.
        Des populations celtes s'implantent dans l'Ouest de l'Europe mais la part de migrations ou d'assimilations
        dans ces déplacements reste inconnue.
      </p>
      <figure>
        <div class="title">Carte évolutive - Un monde celte aux dimensions de l'Europe</div>
        <video controls preload="none" width="600" poster="/images/revenir_aux_sources/armoriqueceltique_video_poster.jpg">
          <source src="/videos/AV03_carto_V2_opt.mp4" type="video/mp4">
          <p>Votre navigateur ne prend pas en charge les vidéos HTML5.
            <a href="/videos/AV03_carto_V2_opt.mp4">un lien pour télécharger la vidéo</a>.</p>
        </video>
        <figcaption>
          <div class="media-info">
            <span>
              Durée : 3 min 41 (14,7 Mo)
            </span>
          </div>
          <details class="details-small details-transcription">
            <summary>Afficher la transcription</summary>
            <div>
              <p>
                Longtemps les historiens ont pensé qu'il existait un berceau à l'est de l'Europe, depuis lequel une
                civilisation celte s'était étendue à partir du 5<sup>ème</sup> siècle avant J.-C.
              </p><p>
                Aujourd'hui, cette hypothèse est abandonnée du fait des avancées de la recherche archéologique
                et historique.
              </p><p>
                On trouve en effet très tôt à l'ouest de l'Europe des traces d'une culture matérielle celtique. Au sein de l'Europe, les objets, les hommes et les idées circulent alors aisément.
              </p><p>
                Séquence 1 : Exemples de sites de l'Europe celtique à la période de La Tène (5<sup>ème</sup> siècle-1<sup>er</sup> siècle avant J.-C.)
              </p><p>
                Carte : Emprise maximale de l'aire culturelle de La Tène en Europe (5<sup>ème</sup> siècle-1<sup>et</sup> siècle avant J.-C.)
              </p><p>
                Séquence 2 : Armorique et Europe : des objets similaires
              </p>
            </div>
          </details>
          <p>
            Motion Agency (réalisation)<br/>
            Musée de Bretagne, Rennes<br/>
            2022
          </p>
        </figcaption>

      </figure>
    </div>
  </section>

  {% waveDecoration "#fff", "#1A3A50", "wave-1" %}

  <section class="section-2 content">
    <p>
      <em>
      L'Armorique, comme le reste de l'Europe, connaît alors de nombreux changements dans l'habitat, l'organisation
      politique, l'artisanat, l'art ou encore les croyances.
      </em>
    </p>
    <div>
      <h2>Les bustes de Trémuson</h2>
      <figure class="figure-1">
        <img loading="lazy" width="800" height="418" src="/images/revenir_aux_sources/armoriqueceltique_tremussonx_collado_opt.jpg"
             alt="Statuette d’origine gauloise en pierre, avec prise de vue sous quatre angles différents. Elle figure la tête d’un homme avec une barbe et un collier autour du cou. Ses yeux et ses joues sont particulièrement marqués." />
        <figcaption>
          <div class="link">
            <a target="_blank" href="/images/revenir_aux_sources/hd/armoriqueceltique_tremussonx_collado_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
          </div>
          <p class="title">Figure d'un aristocrate gaulois avec un torque</p>
          <p>
            Roche en cours de détermination (stéatite ?)<br/>
            1<sup>er</sup> siècle avant J.-C.<br/>
            Fouilles menées par Stéphane Bourne (INRAP) en 2019 à Trémuson (22), sur le site de La Morandais<br/>
            Collection privée<br/>
            © Emmanuelle Collado, Inrap
          </p>
        </figcaption>
      </figure>
      <div>
        <div class="text-normal">
          <p>
            Comme à Paule, ces bustes issus du site de Trémuson ont été retrouvés dans les <em>espaces
              résidentiels de fermes gauloises</em>. Les résidences de Paule et Trémuson, situées sur
            le territoire des Osismes (l'un des peuples gaulois, localisé à l'ouest de la péninsule
            armoricaine), étaient celles de <em>puissantes familles de l’aristocratie</em> locale.
          </p>
          <p>
          Les parties inférieures des bustes, non travaillées, suggèrent qu'elles devaient être <em>fichées
              dans le sol ou dans un autre matériau</em>.
          </p>
          <p>
            Ces figures peuvent être interprétées comme les effigies de membres de l’aristocratie
            destinées à <em>perpétuer leur mémoire et la grandeur de la famille</em>. Parmi les attributs
            de leur rôle possible au sein de la société, on distingue le torque autour du cou, symbole
            de la bravoure et de la dignité du défunt, ou la lyre d’un barde. Une trentaine
            de bustes de ce type a été identifiée en Gaule.
          </p>
          <p>
            <a target="_blank" href="https://www.inrap.fr/l-art-gaulois-de-tremuson-16359">
              Découvrez le reportage sur la découverte des sculptures gauloises de Trémuson (Inrap){% externalLinkIcon '#fff', "link-icon", 12 %}
            </a>
          </p>
        </div>
        <div>
          <figure>
            <div>
              <img loading="lazy" width="300" height="300" src="/images/revenir_aux_sources/armoriqueceltique_tremusongroupe_collado_opt.jpg"
                 alt="4 bustes en pierre de différentes factures, dont la statuette d’un aristocrate gaulois avec un torque présentée plus haut. Ces statuettes représentent des visages à forme humaine plus ou moins bien détaillés. " />
            </div>
            <figcaption>
              <div class="link">
                <a target="_blank" href="/images/revenir_aux_sources/hd/armoriqueceltique_tremusongroupe_collado_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#1576A7', "link-icon", 12 %}</a>
              </div>
              <p class="title">Bustes</p>
              <p>
                Roche en cours de détermination (stéatite ?)<br/>
                1<sup>ère</sup> moitié du 1er siècle avant J.-C.<br/>
                Fouilles menées par Stéphane Bourne (INRAP) en 2019 à Trémuson (22), sur le site de La Morandais<br/>
                Collection privée<br/>
                © Emmanuelle Collado, Inrap
              </p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="section-3 content">
    <div class="full-width-center">
      <div>
        <p>
          Cependant, <em>une forme originale de la culture matérielle se développe en Armorique</em> par rapport à l’Europe centrale&nbsp;:
          peu de mobilier funéraire, peu d’objets de grande valeur en métal, mais une très riche production de
          céramiques et de monnaies.
        </p>
        <p>
          Les données archéologiques actuelles s'opposent aux représentations traditionnelles du "Celte"&nbsp;: <em>une
            population ni irréductible ni isolée mais intégrée dans de nombreux échanges</em>, des paysages façonnés
          par l'agriculture et l'élevage, des maisons rectangulaires (et non rondes…). Et aucun triskell ni mégalithe !
        </p>
      </div>
      <div>
        <figure>
          <img width="360" height="220" loading="lazy" src="/images/revenir_aux_sources/armoriqueceltique_monnaiestatere_opt.jpg"
          alt="Image des deux faces d’une statère à la cavalière et à la lyre des Riedones. Monnaie gauloise en or avec sur une face un visage de profil avec une coiffure très détaillée et sur l’autre face une cavalière sur son cheval, qui tient sans sa main gauche une épée. Sous le cheval, on distingue une lyre à 3 cordes."/>
          <figcaption>
            <div class="link">
              <a target="_blank" href="/images/revenir_aux_sources/hd/armoriqueceltique_monnaiestatere_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#fff', "link-icon", 12 %}</a>
            </div>
            <p class="title">Statère à la cavalière et à la lyre des Riedones</p>
            <p>
              Monnaie en or<br />
              1<sup>er</sup> siècle avant J.-C.<br />
              Musée de Bretagne, Rennes<br/>
              <a target="_blank" href="http://www.collections.musee-bretagne.fr/ark:/83011/FLMjo113894">
                Portail des collections{% externalLinkIcon '#fff', "link-icon", 12 %}</a>
            </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
  <section class="section-4">
    <div>
      <figure>
        <img loading="lazy" width="403" height="560" src="/images/revenir_aux_sources/armoriqueceltique_sitepauleevohabitat_opt.jpg"
          alt="Évocation de l'habitat de Paule et de ses deux enclos funéraires au 5e siècle avant J.-C."/>
        <figcaption>
          <div class="link">
            <a target="_blank" href="/images/revenir_aux_sources/hd/armoriqueceltique_sitepauleevohabitat_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#fff', "link-icon", 12 %}</a>
          </div>
          <p class="title">Paule : le premier domaine familial et ses deux enclos funéraires (550 à 300 avant J.-C.)</p>
          <p>
            Évolution du site de Paule (22)<br/>
            Restitution 3D<br/>
            Laurence Stefanon<br/>
            Art graphique et patrimoine, La Plaine Saint-Denis
          </p>
        </figcaption>
      </figure>
      {% waveDecoration "#2B5970", "transparent", "wave-2" %}
      <figure>
        <img loading="lazy" width="790" height="558" src="/images/revenir_aux_sources/armoriqueceltique_sitepauleevoenceinte_opt.jpg"
             alt="Évocation de l'habitat de Paule entouré d'une vaste enceinte abritant des dépendances au 2e siècle avant J.-C. "/>
        <figcaption>
          <div class="link">
            <a target="_blank" href="/images/revenir_aux_sources/hd/armoriqueceltique_sitepauleevoenceinte_hd.jpg">Voir en résolution maximale{% externalLinkIcon '#fff', "link-icon", 12 %}</a>
          </div>
          <p class="title">La résidence de Paule (175 à 150 avant J.-C.) entourée d'une vaste enceinte abritant <br/>des dépendances</p>
          <p>
            Évolution du site de Paule (22)<br/>
            Restitution 3D<br/>
            Laurence Stefanon<br/>
            Art graphique et patrimoine, La Plaine Saint-Denis
          </p>
        </figcaption>
      </figure>
    </div>
  </section>

  <section class="section-5 content">
      <figure>
        <div>
          <img loading="lazy" width="478" height="504" src="/images/revenir_aux_sources/armoriqueceltique_seautripode_opt.jpg"
               alt="Seau en bois reposant sur trois pieds, en très bon état de conservation.  Il est cerclé de décors métalliques avec des motifs d’entrelacs."/>
          </div>
        <figcaption>
          <p class="title">Seau tripode à cerclages et appliques décoratives</p>
          <p>
            Bois, alliage cuivreux<br/>
            Première moitié du 1<sup>er</sup> siècle avant J.-C.<br/>
            Fouilles menées par Stéphane Bourne (INRAP) en 2019 à Trémuson (22), sur le site de La Morandais<br/>
            Collection privée<br/>
            ©EmmanuelleCollado-Inrap
          </p>
          <p class="text-normal">
            Découvert en 2019 au fond d'un puits, ce seau est dans un exceptionnel état de conservation.
            Le décor à entrelacs des parties métalliques témoigne du vocabulaire stylistique de l'art laténien.
          </p>
          <p class="text-normal">
            Peut-être déposé en tant qu'offrande dans un contexte funéraire ou rituel, il a pu avoir plusieurs
            fonctions liées à la vie quotidienne, comme servir le vin, pur ou dilué avec de l’eau, lors de banquets.
          </p>
          <div class="link">
            <a href="/images/revenir_aux_sources/hd/armoriqueceltique_seautripode_collado_hd.jpg" target="_blank">Voir en résolution maximale{% externalLinkIcon '#fff', "link-icon", 12 %}</a>
          </div>
        </figcaption>
      </figure>
  </section>

  {% moreInformationFooter
    ["L'âge du Fer en Bretagne", "La résidence de Paule"],
    [
      {
        text: "Voir ces contenus sur Bécédia ➔",
        url: "https://www.bcd.bzh/becedia/"
      }
    ],
    [
      {
        text: "Des monnaies celtes à l'épreuve des nouvelles technologies d'imagerie numérique (Musée dévoilé)",
        url: "https://musee-devoile.blog/2019/07/01/des-monnaies-celtes-a-lepreuve-des-nouvelles-technologies-dimagerie-numerique/",
        isExternal: true
      },
      {
        text: "La découverte des sculptures gauloises de Trémuson (reportage INRAP)",
        url: "https://www.inrap.fr/rare-decouverte-de-quatre-sculptures-gauloises-tremuson-14659",
        isExternal: true
      }
    ]
  %}

  {% bottomNavigation
    "Revenir aux sources",
    "/revenir_aux_sources",
    "2. Celtes… d'une rive à l'autre ?",
    "/revenir_aux_sources/celtes_d_une_rive_a_l_autre",
    "blue"
  %}
</div>
