@import "../../color";
@import "../../font";
@import "../../spacing";
@import "../../mixin";

#breton_langue_celtique {

  hr {
    border-color: $tertiary;
    margin: $medium 0;
  }

  .section-1 {
    margin: 0;
    > div:first-child {
      background: $dark_blue;
      padding: 0 0 ($large + $medium) 0;
      @include media("<desktop") {
        padding: $medium 0
      }
      > div {
        h1 {
          margin-top: $medium;
          &:before {
            @include title-decoration($tertiary);
          }
        }

        h1, h2, p {
          color: white;
        }
        > p:nth-child(2) {
          color: $light_beige;
          font-weight: bold;
        }
      }
    }
  }
  .wave-1 {
    @include media("<desktop") {
      display: none;
    }
  }

  .section-2 {
    $gap: $xx_large;
    > div:first-child {
      background: $secondary;
      margin: -$gap + $x_small auto $small auto;
      max-width: 793px;
      figure, a {
        color: white;
      }
      @include media("<desktop") {
        margin: $x_small auto $small auto;
        max-width: 100%;
        img {
          width: 100%;
          height: unset;
          object-fit: scale-down;
        }
      }
      details p {
        margin-bottom: $xx_small;
      }
      details p:last-child {
        margin-bottom: $small;
      }
      details summary {
        @extend %main-text-small;
        text-align: right;
        padding-right: $x_small;
        p {
          margin-bottom: $small;
        }
      }
    }
    > div:last-child {
      > p:last-child {
        margin-bottom: 0;
      }
    }
  }

  .section-3 {
    margin-top: $medium;
    > div {
      background: $grey;
      margin-bottom: $medium;

      > div:nth-child(3) {
        h3 {
          margin-top: 0;
        }
        z-index: 10;
        position: relative;
        margin-bottom: -$medium;
        > div:first-child {
          margin-bottom: $medium;
        }
        > div:last-child {
          display: flex;
          margin: 0 auto $medium auto;
          justify-content: center;
          padding-bottom: $medium;

          @include media("<desktop") {
            flex-direction: column;
            align-items: center;
          }

          > div {
            flex: 1 1 1px;
            flex-grow: 0;
            margin: $xx_small;
            background: $grey;
            width: 375px;
          }
          figure {
            background: $grey;
            figcaption {
              color: $black;
            }
          }
        }

        background: $secondary;
        color: white;
        h2, h3 {
          color: white;
        }
        h2 {
          margin-top: 0;
        }
      }
    }

    .blue-card {
      position: relative;
      z-index: 2;
      color: #fff;
      background: $dark_blue;
      border-radius: 0 60px;
      padding: $medium;
      margin: $medium 0;

      p:last-child {
        margin-bottom: 0;
      }
    }
    .arrow-decorator {
      position: absolute;
      z-index: 1;
      height: 480px;
      border-width: 3px;
      border-color: $secondary;
      border-left-style: dashed;
      transform: translateX(725px) translateY(-420px);

      @include media("<desktop") {
        transform: translateX(0) translateY(-460px);
        right: 100px;
      }
    }
    .arrow-decorator .arrow:after {
      position: absolute;
      content: '▼';
      color: $secondary;
      transform: translateY(466px) translateX(-14px);
      font-size: 26px;
    }
  }

  .wave-2 {
    @include media("<desktop") {
      position: relative;
      top: -30px;
      margin-top: $x_small;
    }
  }

  .section-4 {
    background: $secondary;
    > div:nth-child(2) {
      background: $dark_blue;
      color: white;
      h3 {
        color: white;
      }
    }

    .light-blue-card {
      background: $secondary;
      border-radius: 0 60px;
      padding: $medium;
      margin: $x_medium 0;

      @include media("<desktop") {
        padding: $small;
      }

      > div {
        display: flex;

        @include media("<desktop") {
          flex-direction: column;
        }

        &:last-child div p {
          @extend %secondary-text;
        }
        &:last-child div em {
          @extend %secondary-text-bold;
        }
        &:last-child p:last-child {
          margin-bottom: 0;
        }
      }

      h4 {
        font-size: 1.5rem;
        margin-bottom: $small;
      }
    }
    .light-blue-card figure {
      margin-right: $small;
      @include media("<desktop") {
       margin-bottom: $small;
        margin-right: 0;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .light-blue-card img {
      vertical-align: middle;
    }
    .light-blue-card figcaption {
      background: $grey;
      color: $dark_blue;
    }
  }
}
