@import "../../color";
@import "../../font";
@import "../../spacing";
@import "../../mixin";

#celtes_d_une_rive_a_l_autre {

  hr {
    border-color: $tertiary;
    margin-top: 3rem;
  }

  .section-1 {
    color: white;

    > div:first-child {
      background: $dark_blue;
      padding-bottom: $medium;
      > div {
        > p {
          color: $light_beige;
          font-weight: bold;
        }
      }
    }
    > div:last-child {
      background: $secondary;
    }

    h1 {
      margin-top: $medium;
      color: white;
      &:before {
        @include title-decoration($tertiary);
      }
    }

    h2 {
      color: white;
    }

    .row {
      display: flex;

      div:nth-child(1) {
        flex: 1 1 0px;
      }
      div:nth-child(2) {
        flex: 1 1 250px;
      }

      @include media("<desktop") {
        flex-direction: column;
      }
    }

    .figure-1, .figure-2 {
      display: flex;
      > div {
        display: flex;
        justify-content: center;
      }
      @include media("<desktop") {
        flex-direction: column;
      }
      figcaption {
        background: $secondary;
        &, a {
          color: white;
        }
        .link {
          text-align: left;
          padding-top: $xx_small;
          padding-bottom: 0;
        }
      }
    }

    .figure-1 {
      margin-left: $x-medium;
      background: #fff;
      @include media("<desktop") {
        margin-left: unset;
      }
      figcaption {
        position: relative;
        width: 247px;
        @include media("<desktop") {
          width: unset;
        }
        @include media(">=desktop") {
          .link {
            position: absolute;
            bottom: $x_small;
          }
        }
      }
    }

    .figure-2 {
      //background: #0e1611;
      figcaption {
        flex-grow: 1;
      }
    }
  }

  .section-2 {
    > p:first-child {
      margin: $medium 0;
    }

    .figure-description em {
      @extend %main-text-bold;
    }

    > div {
      background: $secondary;
      padding: $medium $x-medium ;
      margin-bottom: $medium;
      border-radius: 0 $x_medium;

      @include media("<desktop") {
        padding: $small;
      }

      &, h2 {
        color: white;
      }
      h2 {
        margin: 0  0 $x_small 0;
      }

      > div {
        display: flex;
        @include media("<desktop") {
          flex-direction: column;
        }
        > div:last-child {
          margin-left: $small;
          @include media("<desktop") {
            margin-left: unset;
            margin-top: $x_small;
          }
        }
      }

      .figure-3 {
        background: $grey;
        color: $dark_blue;
        a {
          color: $light_blue;
        }
        @include media("<desktop") {
          > div img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .section-3 {

    margin-top: $small;

    h2 {
      margin-top: 0;
      color: white;
    }

    @include media("<desktop") {
      .wave {
        margin-bottom: 28px;
      }
    }

    .figures-celtes-rive {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background: $dark_blue;

      @include media("<desktop") {
        justify-content: center;
      }
      margin-top: $medium;
      > div {
        width: 440px;
        margin-bottom: $medium;
        background: $secondary;
      }
      figure {
        img {
          vertical-align: middle;
        }
        @include media("<desktop") {
          > div img {
            width: 100%;
            object-fit: cover;
          }
        }
        .link a {
           color: white;
        }
      }
    }

    > div {
      background: $dark_blue;
      color: white;
    }
  }
}
