@import "../../color";
@import "../../font";
@import "../../spacing";
@import "../../mixin";

#revenir_aux_sources {

  h2:before {
      @include title-decoration($tertiary);
  };

  .main-title {
    background: $dark_blue;
    .decoration-title {
      position: absolute;
      z-index: 1;
      left: 60px;
      img {
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(212deg) brightness(103%) contrast(103%) opacity(10%);
        transform: translateY(20px);
        @include media("<desktop") {
          transform: translateY(10px) translateX(-200px);
        }
      }
    }

    h1 {
      color: white;
      padding-top: $medium;
      @include media("<desktop") {
        padding-top: $small;
      }
    }
  }

  .section-1 {
    @include media("<desktop") {
      h2 {
        margin-top: $small;
      }
    }
    > div .row {
      display: flex;
      flex-direction: row;
      justify-content: center;

      @include media(">=phone", "<desktop") {
        flex-direction: column;
      }

      div:last-child {
        margin: $x_small 0 $x_medium $x_medium;
        @include media(">=phone", "<desktop") {
          margin:  $small auto;
        }

        img {
          padding: $x_small $medium;
          background: $grey;
        }

        figcaption {
          background: $secondary;
          color: white;
          a {
            color: white;
          }
        }
      }
    }
  }

  .section-2 {
    display: flex;
    flex-direction: row;

    background: $secondary;
    margin: $x_small 0;

    div:last-child {
      flex-grow: 1;
      padding: 0 $large;
      @include media("<desktop") {
        padding: 0 $xx_small;
      }
    }

    img {
      vertical-align: middle;
      @include media("<desktop") {
        display: none;
      }
    }

    color: white;
    h2 {
      color: white;
    }

    .title {
      &:before {
        @include title-decoration-small($tertiary);
      }
      @extend %secondary-text-bold;
      text-transform: uppercase;
      color: $secondary;
      margin-bottom: 0;
    }

    p {
      font-size: $tertiary-font-size;
      font-weight: bold;
      color: $dark_beige;
      margin: 0;
    }

    ol {
      counter-reset:li;
      @include media("<desktop") {
        margin-left: 0;
      }

      a {
        text-decoration: none;
        padding: 30px;
        margin: -30px;
        display: inline-block;
        position: relative;
        z-index: 1;
      }

      & > li {
        position:relative;
        list-style:none;

        background:white;
        color: $dark_blue;
        box-shadow: 0 2px 10px rgba(26, 58, 80, 0.25);
        border-radius: 0 40px;

        margin: $x_small;
        padding: $x_small $medium;

        width: 540px;
        @include media("<desktop") {
          width: unset;
        }

        &:hover {
          background: #E0F6F8;
        }
      }
      & > li:before {
        content:counter(li);
        counter-increment:li;
        position:absolute;
        box-sizing:border-box;

        top: 1rem;
        left:-25px;

        width: 50px;
        height: 50px;
        line-height: 50px;
        font-weight:bold;
        text-align:center;

        color: white;
        background: $tertiary;

        border-radius: 50%;
      }
    }
  }
}
