@import "../../color";
@import "../../font";
@import "../../spacing";
@import "../../mixin";

#une_armorique_celtique {

  hr {
    border-color: $tertiary;
    margin: 3rem 0;
  }

  .section-1 {
    margin: 0;
    background: $dark_blue;
    color: white;

    .sub-title {
      color: $light_beige;
      font-weight: bold;
    }

    h1 {
      color: white;
      margin-top: $medium;
      &:before {
        @include title-decoration($tertiary);
      }
    }

    h2 {
      color: white;
      margin-top: 0;
    }

    figure {
      margin: $medium auto (-$large*2) auto;
      width: 600px;
      position: relative;
      z-index: 2;
      @include media("<desktop") {
        width: 100%;
        video {
          width: 100%;
        }
      }

      .title {
        font-size: $tertiary-font-size;
        font-weight: bold;
        padding-bottom: $xx_small;
      }

      figcaption {
        background: $grey;
        box-sizing: border-box;
        width: 600px;
        color: $dark_blue;
        @include media("<desktop") {
          width: 100%;
        }
      }

      details {
        margin-top: -1.425rem;
        margin-bottom: $x_small;
        summary {
          color: $light_blue;
          text-align: right;
          margin-right: $xx_small;
        }
        div {
          color: $dark_blue;
        }
      }
    }
  }

  .wave-1 {
    position: absolute;
    transform: translateY(-60px);
    width: 100%;
  }

  .section-2 {
    padding: ($large * 2) 0 $medium 0;
    @include media("<desktop") {
      margin: $x_medium 0 $small 0;
    }

    > p {
      margin: $xx_medium 0;
      @include media("<desktop") {
        margin: 0 0 $small 0;
      }
    }

    > div {
      background: $secondary;
      border-radius: 0 $x_medium;
      padding: $medium;

      @include media("<desktop") {
        padding: $x_small;
      }

      h2 {
        color: white;
        margin: 0 0 $x-small 0;
      }

      .figure-1 {
        display: inline-block;
        .link {
          padding: 0;
        }
        @include media("<desktop") {
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
      figure:last-child {
        margin-left: $x_medium;
        @include media("<desktop") {
          margin-left: unset;
          display: flex;
          flex-direction: column;
        }
      }

      figure {
        align-content: center;
        background: #000;

        > div {
          display: flex;
          justify-content: center;
        }
      }

      img {
        vertical-align: middle;
      }

      figcaption {
        background: white;
      }

      figcaption {
        color: $dark_blue;
        .link {
          margin-bottom: 0;
        }
      }

      > div {
        color: white;
        display: flex;
        margin-top: $medium;
        @include media("<desktop") {
          flex-direction: column;
        }
      }

      .text-normal {
        p, em, a {
         font-size: $secondary-font-size;
        }
        a {
          color: #fff;
        }
      }
    }
  }

  .section-3 {
    > div:first-child {
      display: flex;
      @include media("<desktop") {
        flex-direction: column;
      }
      > div:last-child {
        display: flex;
        justify-content: center;
      }
      figure {
        background: $secondary;
        margin-left: $x_medium;
        width: 360px;

        @include media("<desktop") {
          margin-left: unset;
          display: flex;
          flex-direction: column;
        }

        &, a {
          color: white;
        }
      }
    }
  }

  .section-4 {
    background: linear-gradient(#fff 50%, $secondary 50%);
    margin: $medium 0;

    @include media("<desktop") {
      background: $secondary;
    }

    > div:nth-child(1) {
      display: flex;
      justify-content: center;
      @include media("<desktop") {
        flex-direction: column;
      }

      img {
        position: relative;
        z-index: 2;
      }

      figure:first-child {
        margin-right: $small / 2;
        width: 403px;
      }

      figure:last-child {
        margin-left: $small / 2;
        width: 790px;
      }

      figcaption {
        margin: 0;
        padding: $xx_small 0 $small 0;
        &, a {
          color: #fff;
        }
      }
      @include media("<desktop") {
        figure:first-child, figure:last-child {
          margin: 0;
          width: 100%;
          figcaption {
            margin: 0 $xx_small;
            padding: $xx_small 0 $x_small 0;
          }
          img {
            width: 100%;
            height: unset;
            object-fit: cover;
          }
        }
      }
    }
  }

  .wave-2 {
    position: absolute;
    left: 0;
    transform: translateY(282px);
    width: 100%;
    z-index: 1;

    @include media("<desktop") {
      display: none;
    }
  }

  .section-5 {

    margin: $medium 0;

    figure {
      display: flex;
      @include media("<desktop") {
        flex-direction: column;
      }
      > div {
        display: flex;
        align-items: center;
        background: #D8D9D3;
      }
    }
    @include media("<desktop") {
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    figcaption {
      background: $secondary;
    }

    figcaption {
      &, a {
        color: white;
      }
      .link {
        text-align: left;
        margin-top: $small;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      p.bold {
        margin-top: 0;
      }
    }
  }
}
