---
title: Exposition Celtique ? - Testez-vous
description: 'Test : êtes-vous plutôt celte amateur.rice, celte passionné.e, ou encore celtosceptique ? Découvrez votre "profil celte" et les collections associées.'
layout: default.njk

eleventyNavigation:
  key: 'Test : Quel profil de celte êtes-vous ?'
  parent: Accueil
  order: 1
---
{% include "breadcrumb.njk" %}
<div id="test" class="content">
  <section class="section-1 full-width">
    <h1 class="full-width-center">Testez-vous : Quel est votre profil "celte" ? </h1>
    <p class="full-width-center">
      Testez-vous ! En répondant à cette série de questions, vous découvrirez votre degré de celtitude.
    </p>
    <p class="full-width-center">
      Vos réponses ne sont pas conservées.
    </p>
  </section>
  <section class="section-2 full-width">
      <p class="full-width-center">Cliquez sur la réponse qui vous correspond le mieux. Il n’y a pas de mauvaise réponse !</p>
      <div class="full-width-center">
        <ol>
          <li>
            <div class="question">
              <span class="counter"></span>
              <h2>Pour vous, les Celtes ce sont :</h2>
            </div>
            <div>
              <div>
                <input type="radio" id="response-1a" name="question-1" value="1">
                <label for="response-1a"><span class="bold">A.</span> Des Gaulois</label>
              </div>
              <div>
                <input type="radio" id="response-1b" name="question-1" value="2">
                <label for="response-1b"><span class="bold">B.</span> Les habitants de Bretagne, de Galice, du Pays de Galles, d'Écosse et d'Irlande</label>
              </div>
              <div>
                <input type="radio" id="response-1c" name="question-1" value="3">
                <label for="response-1c"><span class="bold">C.</span> Des moustachus blonds et bagarreurs</label>
              </div>
              <div>
                <input type="radio" id="response-1d" name="question-1" value="4">
                <label for="response-1d"><span class="bold">D.</span> Un peuple dont on ne sait pas
                  grand-chose</label>
              </div>
            </div>
          </li>
          <li>
            <div class="question">
              <span class="counter"></span>
              <h2>Dans votre enfance, votre magicien préféré était :</h2>
            </div>
            <div>
              <div>
                <input type="radio" id="response-2a" name="question-2" value="1">
                <label for="response-2a"><span class="bold">A.</span> Harry Potter</label>
              </div>
              <div>
                <input type="radio" id="response-2b" name="question-2" value="4">
                <label for="response-2b"><span class="bold">B.</span> La magie n'existe pas</label>
              </div>
              <div>
                <input type="radio" id="response-2c" name="question-2" value="3">
                <label for="response-2c"><span class="bold">C.</span> Merlin l'enchanteur</label>
              </div>
              <div>
                <input type="radio" id="response-2d" name="question-2" value="2">
                <label for="response-2d"><span class="bold">D.</span> Panoramix</label>
              </div>
            </div>
          </li>
          <li>
            <div class="question">
              <span class="counter"></span>
              <h2>Vous passez un séjour en Bretagne. Quel souvenir ramenez-vous ?</h2>
            </div>
            <div>
              <div>
                <input type="radio" id="response-3a" name="question-3" value="4">
                <label for="response-3a"><span class="bold">A.</span> Je ne sais pas mais certainement pas un triskell</label>
              </div>
              <div>
                <input type="radio" id="response-3b" name="question-3" value="2">
                <label for="response-3b"><span class="bold">B.</span> Un triskell en argent acheté dans une boutique de souvenirs bretons</label>
              </div>
              <div>
                <input type="radio" id="response-3c" name="question-3" value="1">
                <label for="response-3c"><span class="bold">C.</span> Un livre de contes celtes</label>
              </div>
              <div>
                <input type="radio" id="response-3d" name="question-3" value="3">
                <label for="response-3d"><span class="bold">D.</span> Une bolée avec un triskell dans une grande surface</label>
              </div>
            </div>
          </li>
          <li>
            <div class="question">
              <span class="counter"></span>
              <h2>Votre prochaine destination de week-end en famille, c'est :</h2>
            </div>
            <div>
              <div>
                <input type="radio" id="response-4a" name="question-4" value="3">
                <label for="response-4a"><span class="bold">A.</span> Le parc Astérix</label>
              </div>
              <div>
                <input type="radio" id="response-4b" name="question-4" value="2">
                <label for="response-4b"><span class="bold">B.</span> Une balade contée en Brocéliande</label>
              </div>
              <div>
                <input type="radio" id="response-4c" name="question-4" value="1">
                <label for="response-4c"><span class="bold">C.</span> Le musée de la civilisation celtique à Bibracte</label>
              </div>
              <div>
                <input type="radio" id="response-4d" name="question-4" value="4">
                <label for="response-4d"><span class="bold">D.</span> Océanopolis à Brest</label>
              </div>
            </div>
          </li>
          <li>
            <div class="question">
              <span class="counter"></span>
              <h2>Si vous portiez un tatouage qui montre votre attachement à la Bretagne ce serait :</h2>
            </div>
            <div>
              <div>
                <input type="radio" id="response-5a" name="question-5" value="1">
                <label for="response-5a"><span class="bold">A.</span> Des entrelacs</label>
              </div>
              <div>
                <input type="radio" id="response-5b" name="question-5" value="3">
                <label for="response-5b"><span class="bold">B.</span> Un triskell</label>
              </div>
              <div>
                <input type="radio" id="response-5c" name="question-5" value="4">
                <label for="response-5c"><span class="bold">C.</span> Une ancre de marine</label>
              </div>
              <div>
                <input type="radio" id="response-5d" name="question-5" value="2">
                <label for="response-5d"><span class="bold">D.</span> Une harpe</label>
              </div>
            </div>
          </li>
          <li>
            <div class="question">
              <span class="counter"></span>
              <h2>Pour votre prochaine soirée télé, vous choisissez : </h2>
            </div>
            <div>
              <div>
                <input type="radio" id="response-6a" name="question-6" value="4">
                <label for="response-6a"><span class="bold">A.</span> Le magazine breton « Littoral » sur France 3 Bretagne</label>
              </div>
              <div>
                <input type="radio" id="response-6b" name="question-6" value="2">
                <label for="response-6b"><span class="bold">B.</span> Kaamelott</label>
              </div>
              <div>
                <input type="radio" id="response-6c" name="question-6" value="1">
                <label for="response-6c"><span class="bold">C.</span> Excalibur de John Boorman</label>
              </div>
              <div>
                <input type="radio" id="response-6d" name="question-6" value="3">
                <label for="response-6d"><span class="bold">D.</span> Astérix chez les Bretons</label>
              </div>
            </div>
          </li>
          <li>
            <div class="question">
              <span class="counter"></span>
              <h2>Pour vous le breton, c'est :</h2>
            </div>
            <div>
              <div>
                <input type="radio" id="response-7a" name="question-7" value="3">
                <label for="response-7a"><span class="bold">A.</span> Un dialecte régional</label>
              </div>
              <div>
                <input type="radio" id="response-7b" name="question-7" value="4">
                <label for="response-7b"><span class="bold">B.</span> Une langue peu parlée</label>
              </div>
              <div>
                <input type="radio" id="response-7c" name="question-7" value="2">
                <label for="response-7c"><span class="bold">C.</span> Un espoir de diversité culturelle</label>
              </div>
              <div>
                <input type="radio" id="response-7d" name="question-7" value="1">
                <label for="response-7d"><span class="bold">D.</span> Une langue celtique</label>
              </div>
            </div>
          </li>
          <li>
            <div class="question">
              <span class="counter"></span>
              <h2>Pour vous, le triskell c'est :</h2>
            </div>
            <div>
              <div>
                <input type="radio" id="response-8a" name="question-8" value="4">
                <label for="response-8a"><span class="bold">A.</span> Un attrape-touriste</label>
              </div>
              <div>
                <input type="radio" id="response-8b" name="question-8" value="2">
                <label for="response-8b"><span class="bold">B.</span>  Un symbole celtique</label>
              </div>
              <div>
                <input type="radio" id="response-8c" name="question-8" value="1">
                <label for="response-8c"><span class="bold">C.</span> La réunion de l'air, du feu, de l'eau</label>
              </div>
              <div>
                <input type="radio" id="response-8d" name="question-8" value="3">
                <label for="response-8d"><span class="bold">D.</span> La couverture du best-off de Tri Yann</label>
              </div>
            </div>
          </li>
          <li>
            <div class="question">
              <span class="counter"></span>
              <h2>Laquelle de ces personnalités incarne le mieux la Bretagne à vos yeux ?</h2>
            </div>
            <div>
              <div>
                <input type="radio" id="response-9a" name="question-9" value="2">
                <label for="response-9a"><span class="bold">A.</span> Alan Stivell</label>
              </div>
              <div>
                <input type="radio" id="response-9b" name="question-9" value="3">
                <label for="response-9b"><span class="bold">B.</span> Nolwenn Leroy</label>
              </div>
              <div>
                <input type="radio" id="response-9c" name="question-9" value="4">
                <label for="response-9c"><span class="bold">C.</span> Éric Tabarly</label>
              </div>
              <div>
                <input type="radio" id="response-9d" name="question-9" value="1">
                <label for="response-9d"><span class="bold">D.</span> Mona Ozouf</label>
              </div>
            </div>
          </li>
        </ol>
      </div>
  </section>
  <section class="section-3 full-width">
    <div class="full-width-center">
      <p id="question-count">Il vous reste 9 réponses à fournir pour découvrir votre résultat.</p>
      <button id="result-link" class="button-result" disabled onclick="goToResultPage()">Voir mon résultat</button>
    </div>
  </section>
</div>

<script>
  const nbQuestions = 9;
  const nbProfiles = 4;
  const currents = new Map();
  const resultLinkButton = document.getElementById('result-link');
  const questionCount = document.getElementById("question-count");

  window.addEventListener("load", function() {
    for (let i = 0; i < nbQuestions; ++i) {
      currents.set('question-' + (i + 1), null);
      let questions = document.getElementsByName('question-' + (i + 1));
      questions.forEach(q => {
        if (q.checked) {
          currents.set(q.name, parseInt(q.value));
        }
      });
    }
  });

  for (let i = 0; i < nbQuestions; ++i) {
    let questions = document.getElementsByName('question-' + (i+1));
    questions.forEach(q => {
      currents.set(q.name, q.checked ? parseInt(q.value): null);
      q.addEventListener('change', function () {
        currents.set(this.name, parseInt(this.value));
        const filtered = new Map(
          [...currents]
            .filter(([, v]) => v !== null)
        );
        resultLinkButton.disabled = filtered.size !== nbQuestions;

        if (filtered.size !== nbQuestions) {
          questionCount.hidden = false;
          questionCount.innerHTML = `Il vous reste ${nbQuestions - filtered.size} réponses à fournir pour découvrir votre résultat.`;
        } else {
          questionCount.hidden = true;
        }
      });
    });
  }

  function goToResultPage() {
    let profiles = new Map();
    for (let i = 0; i < nbProfiles; ++i) {
      profiles.set('profil-'+ (i + 1), 0);
    }
    for (let [, v] of currents.entries()) {
      let lastValue = profiles.get('profil-' + v);
      if (v) {
        profiles.set('profil-' + v, lastValue + 1);
      }
    }
    console.log('profils', profiles);
    // Sort in order to get the profile with the highest votes
    // In case of equality, as the profiles are sorted (profile-1, profile-2, ..), the first key is always the profile more 'Breton'
    const [firstKey] = new Map([...profiles.entries()].sort((a, b) => b[1] - a[1])).keys();
    console.log('firstKey', firstKey);
    location.href='/test/' + firstKey;
  }
</script>
<noscript>test</noscript>

