---
layout: profile.njk
description: 'Page de résultat du test "quel est votre profil "celte" ?  pour le profil amateur·rice.'
profileName: Amateur·rice
profileDescription: Vous êtes une personne curieuse de la culture celte. Sans être familière du sujet dans tous ses détails, l'imaginaire celte vous interpelle et vous intrigue.
---
<h2>Vous pourriez être intéressé·e par...</h2>
<div class="card_more">
  <div>
    <img loading="lazy" width="314" height="317" src="/images/construction_recit/mythesfondateurs_prophmerlin_opt.jpg"
         alt="Enluminure représentant Merlin, vêtu d’un habit bleu et les mains ouvertes devant lui. "/>
  </div>
  <div class="card_more-body">
    <span>Du 9<sup>ème</sup> au 16<sup>ème</sup> siècle</span>
    <h3>Mythes fondateurs</h3>
    <p>
      Au Moyen Âge puis à la Renaissance, des récits religieux, légendaires ou politiques associent
      la Bretagne à des références culturelles celtiques, issues d'Outre-Manche...
    </p>
    <p>
      <a href="/construction_recit/mythes_fondateurs">Découvrir le contenu →</a>
    </p>
  </div>
</div>
<h2>Vous pourriez être surpris·e par...</h2>
<div class="card_more">
  <div>
    <img loading="lazy" width="314" height="317" src="/images/construction_recit/regionalisme_rassemblementdruides_opt.jpg"
{#   FIXME mettre une image réduite      #}
         alt="Photographie monochrome d’un rassemblement druidique (Gorsedd). Le grand druide et son acolyte
         se tiennent debout sur une estrade, tenant l’épée brisée. Ils sont entourés par les druides, bardes
         et ovates. A l’arrière-plan, des spectateurs les regardent. La scène se déroule dans une clairière.">
  </div>
  <div class="card_more-body">
    <span>De la fin du 19<sup>ème</sup> siècle à 1945</span>
    <h3>Régionalisme et panceltisme</h3>
    <p>
      Au tournant des 19<sup>ème</sup> et 20<sup>ème</sup> siècles, débute la construction d'une identité régionale distincte
      de la France, sur fond de panceltisme. Ce courant de pensée affirme...
    </p>
    <p>
      <a href="/construction_recit/regionalisme_panceltisme">Découvrir le contenu →</a>
    </p>
  </div>
</div>
