---
layout: profile.njk
description: 'Page de résultat du test "quel est votre profil "celte" ?  pour le profil expert·e.'
profileName: Celte expert·e !
profileDescription: Vous êtes une personne captivée par l'histoire des celtes et de la Bretagne. Passionnée d'histoire et d'archéologie, vous faites la distinction entre les clichés et la réalité.
---

<h2>Vous pourriez être intéressé·e par...</h2>
<div class="card_more">
  <div>
    <img loading="lazy" width="314" height="317" src="/images/revenir_aux_sources/armoriqueceltique_tremusongroupe_collado_opt.jpg"
         alt="4 bustes en pierre de différentes factures, dont la statuette d’un aristocrate gaulois avec un torque présentée plus haut. Ces statuettes représentent des visages à forme humaine plus ou moins bien détaillés. " />
  </div>
  <div class="card_more-body">
    <span>Du 5<sup>ème</sup> au 1<sup>er</sup> siècle avant J.-C.</span>
    <h3>Une Armorique celtique</h3>
    <p>
      Comme une grande partie de l'Europe, la péninsule armoricaine est concernée par la diffusion de la culture
      celte lors de la période nommée La Tène...
    </p>
    <p>
      <a href="/revenir_aux_sources/une_armorique_celtique">Découvrir le contenu →</a>
    </p>
  </div>
</div>
<h2>Vous pourriez être surpris·e par...</h2>
<div class="card_more">
  <div>
    <img loading="lazy" width="314" height="317" src="/images/revenir_aux_sources/breton_languecelte_opt.jpg"
         alt="Page de titre de l'ouvrage Antiquité de la nation et de la langue des Celtes, autrement appelez
         Gaulois, imprimée à Paris en 1703." />
  </div>
  <div class="card_more-body">
    <span>Du 5<sup>ème</sup> siècle après J.-C. à nos jours</span>
    <h3>Le breton, langue celtique ?</h3>
    <p>
      Le breton est la seule langue celtique actuellement parlée en Europe continentale, raison pour
      laquelle on a fait de la région l'un des principaux lieux de la civilisation celte...
    </p>
    <p>
      <a href="/revenir_aux_sources/breton_langue_celtique">Découvrir le contenu →</a>
    </p>
  </div>
</div>
