---
layout: profile.njk
description: 'Page de résultat du test "quel est votre profil "celte" ? pour le profil celtoseptique.'
profileName: Celtosceptique
profileDescription: Vous êtes sceptique quant au volet celtique de la culture bretonne, vous doutez de sa réalité. Cela ne vous empêche pas d'apprécier la Bretagne et ses paysages, à laquelle vous portez un attachement sincère.
---
<h2>Vous pourriez être intéressé·e par...</h2>
<div class="card_more">
  <div>
    <img loading="lazy" width="314" height="317" src="/images/test/Fabrique_identité.png"
         alt="Graphisme réalisé par Motion Agency symbolisant la &quot;fabrique&quot; des identités nationales. Une machinerie est représentée, faite de différents rouages. A l'une des extrémités, un entonnoir accueille une balle jaune, et à la sortie du mécanisme, c'est une balle d'une autre couleur qui ressort."/>
  </div>
  <div class="card_more-body">
    <span>DU 9<sup>ème</sup> siècle à nos jours</span>
    <h3>La construction d’un récit</h3>
    <p>
      Du Moyen Âge au 20e siècle, un récit particulier, fondé sur des faits en partie imaginaires, s'est
      construit autour de l'identité celte de la Bretagne. Loin de la réalité historique...
    </p>
    <p>
      <a href="/construction_recit">Découvrir le contenu →</a>
    </p>
  </div>
</div>
<h2>Vous pourriez être surpris·e par...</h2>
<div class="card_more">
  <div>
    <img loading="lazy" width="314" height="317" src="/images/revenir_aux_sources/breton_languecelte_opt.jpg"
         alt="Page de titre de l'ouvrage Antiquité de la nation et de la langue des Celtes, autrement appelez
         Gaulois, imprimée à Paris en 1703." />
  </div>
  <div class="card_more-body">
    <span>Du 5<sup>ème</sup> siècle après J.-C. à nos jours</span>
    <h3>Le breton, langue celtique ?</h3>
    <p>
      Le breton est la seule langue celtique actuellement parlée en Europe continentale, raison pour
      laquelle on a fait de la région l'un des principaux lieux de la civilisation celte...
    </p>
    <p>
      <a href="/revenir_aux_sources/breton_langue_celtique">Découvrir le contenu →</a>
    </p>
  </div>
</div>
