---
layout: profile.njk
description: 'Page de résultat du test "quel est votre profil "celte" ?  pour le profil passionné·e.'
profileName: Passionné·e
profileDescription: Vous êtes une personne à la sensibilité celte très affirmée et vous aimez le partager. Tout ce qui se rapporte à la culture celtique vous attire, et vous arborez votre triskell avec fierté.
---

<h2>Vous pourriez être intéressé·e par...</h2>
<div class="card_more">
  <div>
    <img loading="lazy" width="314" height="317" src="/images/construction_recit/celtatitude_festival_opt.jpg"
         alt="Affiche pour le 13e festival des cornemuses à Brest, les 6-7 août 1966. Au centre, sont représentés un joueur de cornemuse écossaise et une sonneuse de biniou-kozh. "/>
  </div>
  <div class="card_more-body">
    <span>De 1945 à 1990</span>
    <h3>Celt’attitude</h3>
    <p>
      Après la Seconde Guerre mondiale, le celtisme se recentre sur les aspects culturels.
      S'il continue à accompagner encore ponctuellement la réflexion politique en Bretagne ...
    </p>
    <p>
      <a href="/construction_recit/celt_attitude/">Découvrir le contenu →</a>
    </p>
  </div>
</div>
<h2>Vous pourriez être surpris·e par...</h2>
<div class="card_more">
  <div>
    <img loading="lazy" width="314" height="317"  src="/images/construction_recit/mythesfondateurs_prophmerlin_opt.jpg"
         alt="Enluminure représentant Merlin, vêtu d’un habit bleu et les mains ouvertes devant lui. "/>
  </div>
  <div class="card_more-body">
    <span>9<sup>ème</sup> au 16<sup>ème</sup> siècle</span>
    <h3>Mythes fondateurs</h3>
    <p>
      Au Moyen Âge puis à la Renaissance, des récits religieux, légendaires ou politiques associent
      la Bretagne à des références culturelles celtiques, issues d'Outre-Manche...
    </p>
    <p>
      <a href="/construction_recit/mythes_fondateurs/">Découvrir le contenu →</a>
    </p>
  </div>
</div>
