{% set navPages = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) %}
<nav class="breadcrumb">
  <ul>
      {%- for entry in navPages %}
          <li{% if entry.url == page.url %} class="active-item" aria-current="page"{%  endif %}>
              <a href="{{ entry.url | url }}">{{ entry.title }}</a>
          </li>
      {%- endfor %}
  </ul>
</nav>
