<div class="card-right-image">
  <div class="card-right-image_content">
    <div class="card-right-image_title">
      <div aria-hidden="true" role="graphics-symbol">
        <img loading="lazy" width="75" height="75" src="/images/decorations/triskell-1.svg" alt="">
      </div>
      <div>
        <p>Du 5<sup>ème</sup> siècle avant J.-C. au 9<sup>ème</sup> siècle après J.-C.</p>
        <h3>Revenir aux sources</h3>
      </div>
    </div>
    <p>
      Les Celtes renvoient traditionnellement à une civilisation de l'âge du Fer, au 1<sup>er</sup> millénaire avant
      notre ère.
      Ils sont connus à la fois grâce aux sources écrites par des auteurs grecs et romains et grâce aux
      découvertes...
    </p>
    <div class="card-right-image_button">
      <a class="button-blue" href="/revenir_aux_sources">Découvrir le contenu</a>
    </div>
  </div>
  <div class="card-right-image_image">
    <img loading="lazy" width="400" height="416" src="/images/home/home_bardealalyre1_opt.jpg"
         title="© Hervé Paitier, Inrap"
         alt="Statuette gauloise en pierre. Le personnage porte un collier (torque) au cou et tient un instrument de musique entre ses deux mains. Seul le haut du corps est sculpté ou conservé. © Hervé Paitier, Inrap"/>
  </div>
</div>
<div class="card-right-image">
  <div class="card-right-image_content">
    <div class="card-right-image_title">
      <div aria-hidden="true" role="graphics-symbol">
        <img loading="lazy" width="75" height="75" src="/images/decorations/triskell-2.svg" alt="">
      </div>
      <div>
        <p>Du 9<sup>ème</sup> siècle à nos jours</p>
        <h3>La construction d’un récit</h3>
      </div>
    </div>
    <p>
      Du Moyen Âge au 20<sup>ème</sup> siècle, un récit particulier, fondé sur des faits en partie imaginaires,
      s'est construit autour de l'identité celte de la Bretagne. Loin de la réalité historique de la région
      aujourd'hui attestée...
    </p>
    <div class="card-right-image_button">
      <a class="button-blue" href="/construction_recit">Découvrir le contenu</a>
    </div>
  </div>
  <div class="card-right-image_image">
    <img loading="lazy" width="377" height="404" src="/images/home/home_constructionrecit_opt.jpg" alt="Affiche illustrée en couleur pour la promotion des chemins de fer à destination de la Bretagne. L’illustration montre des femmes avec des coiffes en train de danser au milieu de menhirs et autour d’un feu, avec la mer en arrière-plan. "/>
  </div>
</div>
