<section id="information">
  <div>
    <h2>Infos pratiques de l'exposition</h2>
    <h3>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="mask0_2003_16036" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
          <rect width="24" height="24" fill="white"/>
        </mask>
        <g mask="url(#mask0_2003_16036)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7 12V18H13V12H7ZM17 4H19C20.103 4 21 4.897 21 6V20C21 21.103 20.103 22 19 22H5C3.897 22 3 21.103 3 20V6C3 4.897 3.897 4 5 4H7V2H9V4H15V2H17V4V4ZM5 20H19.001L19.0003 10H5V20V20ZM5 8H19V6H5V8V8Z" fill="#E9A139"/>
        </g>
      </svg>Du 18 mars au 4 décembre 2022
    </h3>
    <p>
      <strong>Mardi au vendredi</strong><br/>
      Période scolaire : 12h à 19h<br/>
      Petites vacances scolaires : 10h à 19h<br/>
      Vacances d'été : 13h à 19h<br/>
    </p>
    <p>
      <strong>Samedi et dimanche</strong><br/>
      14h à 19h<br/>
      Visites commentées le samedi à 17h et le dimanche à 15h<br/>
      Fermé les lundis et jours fériés
    </p>
    <h3>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="mask0_2003_15829" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
          <rect x="24" y="24" width="24" height="24" transform="rotate(-180 24 24)" fill="white"/>
        </mask>
        <g mask="url(#mask0_2003_15829)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.25 2H19.0833C20.25 2 21.1667 2.95 21.1667 4.08333L21.1667 13.7833C21.7183 14.1775 22 14.7842 22 15.4008C22 15.7142 21.9258 16.0258 21.7592 16.3417C20.8717 17.9233 19.965 19.4942 19.0383 21.0533C18.6533 21.6675 18.0292 22 17.3342 22C16.805 22 16.5242 21.83 16.13 21.6008C15.5783 21.2792 8.63 17.1408 5.70333 15.4C5.63083 15.3567 2.89833 13.7433 2.82917 13.6958C2.27667 13.2875 2 12.6983 2 12.0842C2 11.7717 2.07667 11.4633 2.24583 11.1425C3.1325 9.56 4.04 7.98917 4.96667 6.43C5.4475 5.66333 6.3125 5.355 7.04667 5.52333C7.37333 5.32833 11.9017 2.39833 12.2567 2.21667C12.6008 2.04 12.8917 2 13.25 2V2V2ZM19.5 10.9692L19.5 4.08333C19.5 3.855 19.3158 3.66667 19.0833 3.66667H15.26C16.6933 6.08833 18.1075 8.5225 19.5 10.9692V10.9692V10.9692ZM18.1617 12.0008C18.1175 11.9242 13.4275 3.83667 13.39 3.785C13.3 3.66917 13.1408 3.63417 13.0108 3.70333C12.8742 3.78 8.77667 6.4125 8.77667 6.4125C9.30917 6.72667 15.5633 10.455 18.1617 12.0008V12.0008C18.1175 11.9242 18.1617 12.0008 18.1617 12.0008ZM17.6125 20.1917C18.3733 18.9783 20.2783 15.5875 20.3083 15.5167C20.3667 15.3742 20.315 15.2117 20.1842 15.13C20.0167 15.03 6.83167 7.17417 6.70333 7.15417C6.5775 7.13583 6.45583 7.19167 6.38917 7.29917C5.60417 8.61917 3.7175 11.9242 3.69583 11.9667C3.63833 12.11 3.69 12.2725 3.82083 12.3542C3.98833 12.4542 17.14 20.27 17.2292 20.3092C17.3792 20.3708 17.5333 20.3108 17.6125 20.1917V20.1917C18.3733 18.9783 17.6125 20.1917 17.6125 20.1917ZM16.315 17.9458C15.395 17.9458 14.6483 17.1983 14.6483 16.2792C14.6483 15.3592 15.395 14.6125 16.315 14.6125C17.235 14.6125 17.9817 15.3592 17.9817 16.2792C17.9817 17.1983 17.235 17.9458 16.315 17.9458C15.395 17.9458 16.315 17.9458 16.315 17.9458Z" fill="#E9A139"/>
        </g>
      </svg>Billetterie
    </h3>
    <p>
      <a target="_blank" href="https://champslibres.tickeasy.com/fr-FR/familles?famillesParentes=1808738633840300000">Billetterie des Champs Libres{% externalLinkIcon '#1576A7', "link-icon" %}</a>
    </p>
    <p>Pour les détails des horaires, tarifs, conditions sanitaires et accès, rendez-vous sur
      <a target="_blank" href="https://www.leschampslibres.fr/index.php?id=51">Infos pratiques Les Champs Libres{% externalLinkIcon '#1576A7', "link-icon" %}</a>
    </p>
  </div>
  <div>
    <div>
      <h3>
        <svg width="24" height="24" viewBox="0 0 18 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9 0C4.02429 0 0 4.02429 0 9C0 15.75 9 25.7143 9 25.7143C9 25.7143 18 15.75 18 9C18 4.02429 13.9757 0 9 0ZM9 12.2143C7.22571 12.2143 5.78571 10.7743 5.78571 9C5.78571 7.22571 7.22571 5.78571 9 5.78571C10.7743 5.78571 12.2143 7.22571 12.2143 9C12.2143 10.7743 10.7743 12.2143 9 12.2143Z" fill="#E9A139"/>
        </svg>Adresse
      </h3>
      <address>
        <a target="_blank" href="https://www.openstreetmap.org/#map=19/48.10539/-1.67436">
          Musée de Bretagne<br/>
          <span>10 cours des Alliés<br>
            35000 Rennes</span>{% externalLinkIcon '#fff', "link-icon" %}
        </a>
      </address>
      <p>
        <strong>Accès métro ou bus</strong><br/>
        Ligne : A (métro), C1, C2, 11<br/>
        Arrêt : Charles de Gaulle, Magenta ou Gare
      </p>
      <h3>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0_2003_16022" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
            <rect width="24" height="24" fill="white"/>
          </mask>
          <g mask="url(#mask0_2003_16022)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.293 12.2933L14.699 13.8872C13.96 13.6672 12.581 13.1673 11.707 12.2933C10.833 11.4193 10.333 10.0402 10.113 9.30125L11.707 7.70725C12.098 7.31625 12.098 6.68425 11.707 6.29325L7.70697 2.29325C7.31597 1.90225 6.68397 1.90225 6.29297 2.29325L3.58097 5.00525C3.20097 5.38525 2.98697 5.90725 2.99497 6.44025C3.01797 7.86425 3.39497 12.8103 7.29297 16.7083C11.191 20.6063 16.137 20.9823 17.562 21.0063C17.567 21.0063 17.585 21.0063 17.59 21.0063C18.118 21.0063 18.617 20.7982 18.995 20.4202L21.707 17.7083C22.098 17.3173 22.098 16.6853 21.707 16.2943L17.707 12.2933C17.316 11.9023 16.684 11.9023 16.293 12.2933ZM8.70697 15.2933C5.34097 11.9273 5.01497 7.64225 4.99497 6.41925L6.99997 4.41425L9.58597 7.00025L8.29297 8.29325C8.05397 8.53125 7.95197 8.87525 8.02097 9.20525C8.04497 9.32025 8.63197 12.0472 10.292 13.7072C11.952 15.3672 14.679 15.9542 14.794 15.9782C15.127 16.0492 15.468 15.9462 15.706 15.7072L17 14.4142L19.586 17.0002L17.58 19.0052C16.332 18.9842 12.062 18.6493 8.70697 15.2933Z" fill="#E9A139"/>
          </g>
        </svg>Renseignements
      </h3>
      <p>
        <a href="tel:+33223406600">02 23 40 66 00</a>
      </p>
      <h3>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1625 18.6501L19.875 19.7358L17.745 15.0001H11.25C10.4216 15.0001 9.75001 14.3605 9.75001 13.5715V9.28578C9.75001 8.49681 10.4216 7.85721 11.25 7.85721C12.0784 7.85721 12.75 8.49681 12.75 9.28578V12.1429H18V10.7144H14.25V9.28578C14.25 7.70783 12.9069 6.42864 11.25 6.42864C9.59316 6.42864 8.25001 7.70783 8.25001 9.28578V10.0001C4.71703 9.99821 1.78025 12.5913 1.5153 15.9465C1.25034 19.3018 3.74686 22.284 7.24039 22.7854C10.7339 23.2868 14.0424 21.1378 14.8275 17.8572H13.2825C12.5102 20.3244 9.89696 21.8297 7.24396 21.3357C4.59097 20.8417 2.76552 18.5099 3.02574 15.9473C3.28596 13.3848 5.54679 11.4293 8.25001 11.4286V13.5715C8.25001 15.1495 9.59316 16.4286 11.25 16.4286H16.755L19.125 21.6929L22.8375 19.9215L22.1625 18.6501ZM11.625 5.71435C10.1753 5.71435 9.00001 4.59507 9.00001 3.21436C9.00001 1.83364 10.1753 0.714355 11.625 0.714355C13.0748 0.714355 14.25 1.83364 14.25 3.21436C14.25 4.59507 13.0748 5.71435 11.625 5.71435ZM11.625 2.14293C11.0037 2.14293 10.5 2.62262 10.5 3.21436C10.5 3.80609 11.0037 4.28578 11.625 4.28578C12.2463 4.28578 12.75 3.80609 12.75 3.21436C12.75 2.93019 12.6315 2.65767 12.4205 2.45674C12.2095 2.25581 11.9234 2.14293 11.625 2.14293Z" fill="#E9A139"/>
        </svg>Accessibilité au musée
      </h3>
      <p><a class="underline" target="_blank" href="https://www.leschampslibres.fr/les-champs-libres-vous/accessibilite/">Les aménagements d’accessibilité aux Champs Libres{% externalLinkIcon '#fff', "link-icon" %}</a></p>
      </div>
  </div>
</section>
