<nav id="main-menu" class="main-menu">
  <ul class="menu">
    <li{% if "/" == page.url %} class="menu-item active-item" aria-current="page"{% else %} class="menu-item" {% endif %}>
      <a href="/">Accueil</a>
    </li>
    <li {% if page.url.startsWith("/test/") or "/temoignages/" == page.url %} class="menu-item arrow active-item" aria-current="true"{% else %}class="menu-item arrow" {% endif %}>
      S’interroger
      <ul class="sub-menu">
        <li{% if page.url.startsWith("/test/") %} aria-current="page"{% endif %}>
          <a href="/test">Test : Quel profil de celte êtes-vous ?</a>
        </li>
        <li{% if page.url.startsWith("/temoignages/") %} aria-current="page"{% endif %}>
          <a href="/temoignages">Témoignages : qu'en disent-ils et elles ?</a>
        </li>
      </ul>
    </li>
    <li {% if page.url.startsWith("/revenir_aux_sources/") or page.url.startsWith("/construction_recit/") %} class="menu-item arrow active-item" aria-current="true"{% else %}class="menu-item arrow" {% endif %}>
      Découvrir
      <ul class="sub-menu">
        <li{% if page.url.startsWith("/revenir_aux_sources/") %} aria-current="page"{% endif %}>
          <a href="/revenir_aux_sources">Revenir aux sources<br/><span>Du 5<sup>ème</sup> siècle avant J.-C. au 9<sup>ème</sup> siècle après J.-C.</span></a>

        </li>
        <li{% if page.url.startsWith("/construction_recit/") %} aria-current="page"{% endif %}>
          <a href="/construction_recit">La construction d’un
            récit<br/><span>Du 9<sup>ème</sup> siècle à nos jours</span></a>
        </li>
      </ul>
    </li>
    <li {% if "/aller_plus_loin/" == page.url %} class="menu-item active-item" aria-current="page"{% else %}class="menu-item" {% endif %}>
      <a href="/aller_plus_loin">Aller plus loin</a>
    </li>
    <li class="menu-item">
      <a href="/#information">Infos pratiques</a>
    </li>
  </ul>
</nav>
<div id="mobile-menu">
  <input type="checkbox" id="mobile-menu-checkbox" name="menu">
  <label for="mobile-menu-checkbox">
    <div class="burger" aria-label="Burger menu" role="img"></div>
  </label>
  <div id="wrap">
    <nav class="nav" role="navigation">
      <ul class="mobile-menu">
        <li{% if "/" == page.url %} class="active-item" aria-current="page"{% endif %}>
          <a class="border" href="/">Accueil</a>
        </li>
        <li {% if page.url.startsWith("/test/") or "/temoignages/" == page.url %} class="arrow active-item" aria-current="true"{% else %}class="arrow" {% endif %}>
          <span class="single-item border">S’interroger</span>
          <ul class="sub-menu">
            <li{% if page.url.startsWith("/test/") %} aria-current="page"{% endif %}>
              <a class="border" href="/test">Test : Quel profil de celte êtes-vous ?</a>
            </li>
            <li{% if page.url.startsWith("/temoignages/") %} aria-current="page"{% endif %}>
              <a class="border" href="/temoignages">Témoignages : qu'en disent-ils et elles ?</a>
            </li>
          </ul>
        </li>
        <li {% if page.url.startsWith("/revenir_aux_sources/") or page.url.startsWith("/construction_recit/") %} class="arrow active-item" aria-current="true"{% else %}class="arrow" {% endif %}>
          <span class="single-item border">Découvrir</span>
          <ul class="sub-menu">
            <li{% if page.url.startsWith("/revenir_aux_sources/") %} aria-current="page"{% endif %}>
              <a class="border" href="/revenir_aux_sources">Revenir aux
                sources<br/><span>Du 5<sup>ème</sup> siècle avant J.-C. au 9<sup>ème</sup> siècle après J.-C.</span></a>

            </li>
            <li{% if page.url.startsWith("/construction_recit/") %} aria-current="page"{% endif %}>
              <a class="border" href="/construction_recit">La construction d’un
                récit<br/><span>Du 9<sup>ème</sup> siècle à nos jours</span></a>
            </li>
          </ul>
        </li>
        <li {% if "/aller_plus_loin/" == page.url %} class="active-item" aria-current="page"{% endif %}>
          <a class="border" href="/aller_plus_loin">Aller plus loin</a>
        </li>
        <li>
          <a class="border" href="/#information">Infos pratiques</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
