<section class="social-network">
  <div>Suivez-nous sur les <br/>réseaux sociaux</div>
  <div>
    <ul>
      <li>
        <a target="_blank" href="https://www.instagram.com/museedebretagne/" aria-label="Instagram">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.9998 0.666504C17.6225 0.666504 18.0745 0.679837 19.4958 0.746504C20.9158 0.813171 21.8825 1.03584 22.7332 1.3665C23.6132 1.70517 24.3545 2.16384 25.0958 2.90384C25.7738 3.57037 26.2984 4.37662 26.6332 5.2665C26.9625 6.11584 27.1865 7.08384 27.2532 8.50384C27.3158 9.92517 27.3332 10.3772 27.3332 13.9998C27.3332 17.6225 27.3198 18.0745 27.2532 19.4958C27.1865 20.9158 26.9625 21.8825 26.6332 22.7332C26.2994 23.6235 25.7747 24.43 25.0958 25.0958C24.4291 25.7736 23.6229 26.2982 22.7332 26.6332C21.8838 26.9625 20.9158 27.1865 19.4958 27.2532C18.0745 27.3158 17.6225 27.3332 13.9998 27.3332C10.3772 27.3332 9.92517 27.3198 8.50384 27.2532C7.08384 27.1865 6.11717 26.9625 5.2665 26.6332C4.37627 26.2991 3.56987 25.7744 2.90384 25.0958C2.22571 24.4294 1.70108 23.6231 1.3665 22.7332C1.03584 21.8838 0.813171 20.9158 0.746504 19.4958C0.683837 18.0745 0.666504 17.6225 0.666504 13.9998C0.666504 10.3772 0.679837 9.92517 0.746504 8.50384C0.813171 7.0825 1.03584 6.11717 1.3665 5.2665C1.70015 4.37608 2.22491 3.5696 2.90384 2.90384C3.57007 2.22548 4.37641 1.70081 5.2665 1.3665C6.11717 1.03584 7.0825 0.813171 8.50384 0.746504C9.92517 0.683837 10.3772 0.666504 13.9998 0.666504ZM13.9998 7.33317C12.2317 7.33317 10.536 8.03555 9.28579 9.28579C8.03555 10.536 7.33317 12.2317 7.33317 13.9998C7.33317 15.7679 8.03555 17.4636 9.28579 18.7139C10.536 19.9641 12.2317 20.6665 13.9998 20.6665C15.7679 20.6665 17.4636 19.9641 18.7139 18.7139C19.9641 17.4636 20.6665 15.7679 20.6665 13.9998C20.6665 12.2317 19.9641 10.536 18.7139 9.28579C17.4636 8.03555 15.7679 7.33317 13.9998 7.33317ZM22.6665 6.99984C22.6665 6.55781 22.4909 6.13389 22.1784 5.82133C21.8658 5.50877 21.4419 5.33317 20.9998 5.33317C20.5578 5.33317 20.1339 5.50877 19.8213 5.82133C19.5088 6.13389 19.3332 6.55781 19.3332 6.99984C19.3332 7.44186 19.5088 7.86579 19.8213 8.17835C20.1339 8.49091 20.5578 8.6665 20.9998 8.6665C21.4419 8.6665 21.8658 8.49091 22.1784 8.17835C22.4909 7.86579 22.6665 7.44186 22.6665 6.99984ZM13.9998 9.99984C15.0607 9.99984 16.0781 10.4213 16.8283 11.1714C17.5784 11.9216 17.9998 12.939 17.9998 13.9998C17.9998 15.0607 17.5784 16.0781 16.8283 16.8283C16.0781 17.5784 15.0607 17.9998 13.9998 17.9998C12.939 17.9998 11.9216 17.5784 11.1714 16.8283C10.4213 16.0781 9.99984 15.0607 9.99984 13.9998C9.99984 12.939 10.4213 11.9216 11.1714 11.1714C11.9216 10.4213 12.939 9.99984 13.9998 9.99984Z" />
        </svg>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.facebook.com/museedebretagne/" aria-label="Facebook">
          <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.9998 0.666504C6.63584 0.666504 0.666504 6.63584 0.666504 13.9998C0.666504 20.6545 5.5425 26.1705 11.9172 27.1718V17.8532H8.5305V13.9998H11.9172V11.0625C11.9172 7.72117 13.9065 5.87584 16.9532 5.87584C18.4118 5.87584 19.9372 6.13584 19.9372 6.13584V9.41584H18.2572C16.5998 9.41584 16.0838 10.4438 16.0838 11.4985V13.9998H19.7812L19.1905 17.8532H16.0838V27.1718C22.4572 26.1718 27.3332 20.6532 27.3332 13.9998C27.3332 6.63584 21.3638 0.666504 13.9998 0.666504Z" />
          </svg>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://twitter.com/museedebretagne" aria-label="Twitter">
        <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M27.5494 3.54124C26.5315 3.99149 25.452 4.2872 24.3467 4.41857C25.5117 3.72181 26.3837 2.62525 26.8001 1.33324C25.7067 1.9839 24.5081 2.4399 23.2587 2.68657C22.4195 1.78867 21.3072 1.19319 20.0947 0.992682C18.8821 0.792177 17.6373 0.99789 16.5538 1.57784C15.4702 2.15779 14.6086 3.07948 14.1029 4.19963C13.5972 5.31977 13.4757 6.57561 13.7574 7.7719C11.5402 7.66078 9.37118 7.0846 7.39112 6.08079C5.41106 5.07698 3.66424 3.66797 2.26407 1.94524C1.76846 2.7965 1.50801 3.7642 1.5094 4.74924C1.5094 6.68257 2.4934 8.39057 3.9894 9.39057C3.10408 9.3627 2.23825 9.12361 1.46407 8.69324V8.76257C1.46434 10.0502 1.9099 11.2981 2.7252 12.2947C3.54051 13.2912 4.67538 13.9752 5.9374 14.2306C5.11556 14.4533 4.25381 14.4861 3.4174 14.3266C3.77323 15.4349 4.46675 16.4042 5.40086 17.0987C6.33497 17.7933 7.46291 18.1783 8.62674 18.1999C7.47004 19.1083 6.14564 19.7799 4.72924 20.1761C3.31285 20.5724 1.83224 20.6856 0.37207 20.5092C2.921 22.1485 5.8882 23.0187 8.91874 23.0159C19.1761 23.0159 24.7854 14.5186 24.7854 7.14924C24.7854 6.90924 24.7787 6.66657 24.7681 6.42924C25.8599 5.64013 26.8022 4.6626 27.5507 3.54257L27.5494 3.54124Z"/>
        </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
